@use '~bootstrap-sass/assets/stylesheets/bootstrap';

body.cart {
  .container {
    width: 80rem;
    margin: auto;
  }

  .payment {
    width: 60rem;
    padding-bottom: 2rem;
  }

  .dl-horizontal label {
    display: block;
  }
}

.cart-icon {
  position: relative;
  color: white;
  font-size: 2rem;
  margin-right: 3rem;

  &:hover {
    color: #f0f0f0;
    text-decoration: none;
  }

  .cart-count {
    position: absolute;
    top: -8px;
    right: -14px;
    background-color: bootstrap.$brand-danger;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
}
