.global-promotions {
  .promotions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .status-label {
    display: inline-block;
    min-width: 70px;
    text-align: center;
  }
}
