@use 'variables';
@forward '~bootstrap-sass/assets/stylesheets/bootstrap' with (
  $brand-primary: variables.$blue,
  $brand-success: variables.$green,
  $btn-info-bg: variables.$lightblue,
  $btn-info-border: variables.$blue,
  $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/'
);

@use 'common.scss';
@use 'user-registration.scss';
@use 'event-admin.scss';
@use 'components.scss';
@use '~ui-cropper/source/scss/ui-cropper.scss';
