<ng-switch on="block.type">
  <span ng-switch-when="nameQuestion">
    {{answer.value.firstName}} {{answer.value.lastName}}</span
  >
  <span ng-switch-when="checkboxQuestion"
    >{{getSelectedCheckboxes(answer.value) | joiner}}</span
  >
  <span ng-switch-when="addressQuestion">
    {{answer.value.address1}}<br ng-if="answer.value.address2" />
    {{answer.value.address2}}<br
      ng-if="answer.value.city || answer.value.state || answer.value.zip"
    />
    {{answer.value.city}}<span
      ng-if="answer.value.city && (answer.value.state || answer.value.zip)"
      >, </span
    >{{answer.value.state}} {{answer.value.zip}}
  </span>
  <span ng-switch-when="textareaQuestion" class="display-linebreaks"
    >{{answer.value}}</span
  >
  <span ng-switch-when="phoneQuestion">{{answer.value | tel}}</span>
  <span ng-switch-default ng-show="choiceVisible(block, answer, registrant)"
    >{{answer.value}}</span
  >
  <span ng-show="answer.amount && showAmount">
    - {{answer.amount |
    localizedCurrency:conference.currency.currencyCode}}</span
  >
</ng-switch>
