<ng-switch on="block.type">
  <span ng-switch-when="nameQuestion"> {{answer.value.firstName}} {{answer.value.lastName}}</span>
  <span ng-switch-when="checkboxQuestion">{{getSelectedCheckboxes(answer.value) | joiner}}</span>
  <span ng-switch-when="addressQuestion">
    {{answer.value.address1}}<br ng-if="answer.value.address2">
    {{answer.value.address2}}<br ng-if="answer.value.city || answer.value.state || answer.value.zip">
    {{answer.value.city}}<span ng-if="answer.value.city && (answer.value.state || answer.value.zip)">, </span>{{answer.value.state}} {{answer.value.zip}}
  </span>
  <span ng-switch-when="textareaQuestion" class="eventhub-linebreak">{{answer.value}}</span>
  <span ng-switch-when="phoneQuestion">{{answer.value | tel}}</span>
  <span ng-switch-when="dateQuestion">{{answer.value | date : 'mediumDate'}}</span>
  <span ng-switch-default>{{answer.value}}</span>
  <span ng-show="answer.amount && showAmount"> - {{answer.amount | moneyFormat}}</span>
</ng-switch>
