<div ng-if="!wizard">
  <label>{{block.title}} <em class="required" ng-show="block.required">*</em></label>

  <ng-switch on="block.type">
    <p ng-switch-when="paragraphContent" ng-bind="block.content" class="eventhub-linebreak"></p>
    <text-question block="block" ng-switch-when="textQuestion"></text-question>
    <radio-question block="block" ng-switch-when="radioQuestion"></radio-question>
    <checkbox-question block="block" ng-switch-when="checkboxQuestion"></checkbox-question>
    <phone-question block="block" ng-switch-when="phoneQuestion"></phone-question>
    <email-question block="block" ng-switch-when="emailQuestion"></email-question>
    <select-question block="block" ng-switch-when="selectQuestion"></select-question>
    <name-question block="block" ng-switch-when="nameQuestion"></name-question>
    <address-question block="block" ng-switch-when="addressQuestion"></address-question>
    <number-question block="block" ng-switch-when="numberQuestion"></number-question>
    <gender-question block="block" ng-switch-when="genderQuestion"></gender-question>
    <date-question block="block" ng-switch-when="dateQuestion"></date-question>
    <year-in-school-question block="block" ng-switch-when="yearInSchoolQuestion"></year-in-school-question>
  </ng-switch>
</div>


<div class="well well-sm edit-box-name crsQuestion" ng-if="wizard" id="{{block.id}}">
  <div class="row">
    <div class="col-xs-2" ng-click="editBlock = true" ng-show="!editBlock">
      <i class="fa fa-pencil-square-o"></i>
      <p class="editme">Edit</p>
    </div>
    <div class="col-xs-2" ng-click="editBlock = false" ng-show="editBlock">
      <i class="fa fa-floppy-o"></i>
      <p class="editme">Save</p>
    </div>
    <div class="col-xs-10">
      <label>{{block.title}} <em class="required" ng-show="block.required">*</em></label>
      <ng-switch on="block.type">
        <p ng-switch-when="paragraphContent" ng-bind="block.content" class="eventhub-linebreak"></p>
        <text-question block="block" ng-switch-when="textQuestion"></text-question>
        <radio-question block="block" ng-switch-when="radioQuestion"></radio-question>
        <checkbox-question block="block" ng-switch-when="checkboxQuestion"></checkbox-question>
        <phone-question block="block" ng-switch-when="phoneQuestion"></phone-question>
        <email-question block="block" ng-switch-when="emailQuestion"></email-question>
        <select-question block="block" ng-switch-when="selectQuestion"></select-question>
        <name-question block="block" ng-switch-when="nameQuestion"></name-question>
        <address-question block="block" ng-switch-when="addressQuestion"></address-question>
        <number-question block="block" ng-switch-when="numberQuestion"></number-question>
        <gender-question block="block" ng-switch-when="genderQuestion"></gender-question>
        <date-question block="block" ng-switch-when="dateQuestion"></date-question>
        <year-in-school-question block="block" ng-switch-when="yearInSchoolQuestion"></year-in-school-question>
      </ng-switch>

      <div class="edit-options" ng-show="editBlock">
        <ul class="nav nav-tabs">
          <li class="active"><a href="" data-toggle="tab">Field Options</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
            <div class="form-group">
              <label>Field Title</label>
              <input type="text" class="form-control field-label" placeholder="Label" ng-model="block.title" />
            </div>

            <div class="form-group" ng-show="block.type === 'paragraphContent'">
              <textarea ng-model="block.content" class="form-control" style="height:400px;"></textarea>
            </div>
            <div class="form-group" ng-show="hasOptions">
              <label>Question Options</label>
              <div ng-repeat="choice in block.content.choices track by $index" style="margin-bottom:6px;">
                  <div class="input-group col-xs-6">
                      <input ng-model="block.content.choices[$index]" type="text" class="form-control">
    <span class="input-group-btn">
      <button type="button" class="btn btn-danger" ng-click="editBlockDeleteOption($index)">Delete</button>
    </span>
                  </div>
              </div>

              <div class="input-group col-xs-6">
                  <input ng-model="editBlockAddOptionValue" type="text" placeholder="Add Option" class="form-control" ng-enter="editBlockAddOption(editBlockAddOptionValue); editBlockAddOptionValue='';">
  <span class="input-group-btn">
    <button type="button" class="btn btn-primary"
            ng-click="editBlockAddOption(editBlockAddOptionValue); editBlockAddOptionValue='';">Add
    </button>
  </span>
              </div>
          </div>

            <div class="checkbox" ng-show="requiredOption">
              <label><input type="checkbox" ng-model="block.required"> Required</label>
            </div>
            <div class="checkbox" ng-show="profileOption">
              <label><input type="checkbox" ng-model="profileCheck" ng-change="toggleProfileType(profileCheck)"> Cru Profile</label>
            </div>
          </div>
        </div>
      </div>
      <span class="btn-sm green pull-right cru-profile" ng-show="block.profileType"><i class="fa fa-user"></i> Cru Profile</span>
      <button type="button" class="btn btn-link btn-sm gray delete-btn" ng-click="deleteBlock(block.id, true)" ng-show="canDelete"><i class="fa fa-trash-o"></i> Delete</button>
      <button type="button" class="btn btn-link btn-sm green copy-btn"><i class="fa fa-clipboard"></i> Copy</button>
    </div>
  </div>
</div>
