<div ng-if="!wizard" class="form-group" ng-show="blockVisibleRuleCheck(block)">
  <label class="control-label">{{block.title}} <em class="required" ng-if="block.required">*</em></label>

  <ng-switch on="block.type">
    <p ng-switch-when="paragraphContent" ng-bind="block.content" class="display-linebreaks"></p>
    <text-question block="block" ng-switch-when="textQuestion"></text-question>
    <textarea-question block="block" ng-switch-when="textareaQuestion"></textarea-question>
    <radio-question block="block" ng-switch-when="radioQuestion"></radio-question>
    <checkbox-question block="block" ng-switch-when="checkboxQuestion"></checkbox-question>
    <phone-question block="block" ng-switch-when="phoneQuestion"></phone-question>
    <email-question block="block" ng-switch-when="emailQuestion"></email-question>
    <select-question block="block" ng-switch-when="selectQuestion"></select-question>
    <name-question block="block" ng-switch-when="nameQuestion"></name-question>
    <address-question block="block" ng-switch-when="addressQuestion"></address-question>
    <number-question block="block" ng-switch-when="numberQuestion"></number-question>
    <gender-question block="block" ng-switch-when="genderQuestion"></gender-question>
    <date-question block="block" ng-switch-when="dateQuestion"></date-question>
    <year-in-school-question block="block" ng-switch-when="yearInSchoolQuestion"></year-in-school-question>
  </ng-switch>
</div>


<div class="edit-box-name crsQuestion" ng-if="wizard">
  <div class="btn-group btn-group-xs pull-right" role="group">
    <button ng-if="!editBlock" class="btn btn-default" ng-click="toggleBlockEdit()"><i class="fa fa-pencil-square-o"></i> Edit</button>
    <button ng-if="editBlock" class="btn btn-default" ng-click="toggleBlockEdit()"><i class="fa fa-check-square-o"></i> Close</button>
    <button class="btn btn-default" ng-click="copyBlock(block.id);"><i class="fa fa-clipboard"></i> Copy</button>
    <button class="btn btn-danger" ng-click="deleteBlock(block.id, true)" ng-disabled="!canDelete"><i class="fa fa-trash-o"></i> Delete</button>
    <span class="btn btn-default" ui-tree-handle><i class="fa fa-bars"></i> Move</span>
  </div>
  <label>{{block.title}} <em class="required" ng-show="block.required">*</em></label>
  <ng-switch on="block.type">
    <p ng-switch-when="paragraphContent" ng-bind="block.content" class="display-linebreaks"></p>
    <text-question block="block" ng-switch-when="textQuestion"></text-question>
    <textarea-question block="block" ng-switch-when="textareaQuestion"></textarea-question>
    <radio-question block="block" ng-switch-when="radioQuestion"></radio-question>
    <checkbox-question block="block" ng-switch-when="checkboxQuestion"></checkbox-question>
    <phone-question block="block" ng-switch-when="phoneQuestion"></phone-question>
    <email-question block="block" ng-switch-when="emailQuestion"></email-question>
    <select-question block="block" ng-switch-when="selectQuestion"></select-question>
    <name-question block="block" ng-switch-when="nameQuestion"></name-question>
    <address-question block="block" ng-switch-when="addressQuestion"></address-question>
    <number-question block="block" ng-switch-when="numberQuestion"></number-question>
    <gender-question block="block" ng-switch-when="genderQuestion"></gender-question>
    <date-question block="block" ng-switch-when="dateQuestion"></date-question>
    <year-in-school-question block="block" ng-switch-when="yearInSchoolQuestion"></year-in-school-question>
  </ng-switch>

  <div class="edit-options" ng-if="editBlock">
    <!-- Tab panes -->
    <tabset>
      <tab heading="Options">
        <div class="form-group">
          <label class="inline-label">Title</label>
          <input type="text" class="form-control field-label" placeholder="Label" ng-model="block.title" />
        </div>

        <div class="form-group" ng-show="block.type === 'paragraphContent'">
          <textarea ng-model="block.content" class="form-control" style="height:400px;"></textarea>
        </div>
        <div class="form-group" ng-show="hasOptions">
          <label>Possible Answers</label>
          <div ng-repeat="choice in block.content.choices track by $index" class="spacing-below-xs">
            <div class="input-group">
              <input ng-model="block.content.choices[$index].value" type="text" class="form-control">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="editBlockOptionMoveUp($index)" ng-disabled="$first"><span class="glyphicon glyphicon-arrow-up"></span></button>
                        <button type="button" class="btn btn-primary" ng-click="editBlockOptionMoveDown($index)" ng-disabled="$last"><span class="glyphicon glyphicon-arrow-down"></span></button>
                        <button type="button" class="btn" ng-click="editBlockOptionAdvanced($index)"><span class="glyphicon glyphicon-cog"></span><span class="hidden-xs hidden-sm"> Options</span></button>
                        <button type="button" class="btn btn-danger" ng-click="editBlockDeleteOption($index)"><span class="glyphicon glyphicon-trash"></span><span class="hidden-xs hidden-sm"> Delete</span></button>
                      </span>
            </div>
          </div>

          <div class="input-group spacing-above-md">
            <input ng-model="editBlockAddOptionValue" type="text" placeholder="New Answer" class="form-control" ng-enter="editBlockAddOption(editBlockAddOptionValue); editBlockAddOptionValue='';">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-success" ng-click="editBlockAddOption(editBlockAddOptionValue); editBlockAddOptionValue='';"><span class="glyphicon glyphicon-plus" page=""></span> Add</button>
                  </span>
          </div>

          <div class="checkbox" ng-if="block.type === 'radioQuestion'">
            <label><input type="checkbox" ng-model="block.content.otherOption.enabled"> Allow custom "other" option</label>
          </div>
        </div>

        <div class="checkbox" ng-if="requiredOption">
          <label><input type="checkbox" ng-model="block.required"> Required</label>
        </div>
        <div class="checkbox" ng-if="profileOption || block.profileType">
          <label ng-class="{'green': block.profileType}"><input type="checkbox" ng-model="profileCheck" ng-change="toggleProfileType(profileCheck)" ng-disabled="!profileOption"> <i class="fa fa-user"></i> Cru Profile</label>
        </div>
      </tab>
      <tab heading="Advanced">
        <div class="form-group">
          <label class="inline-label">Export Title</label>
          <i popover="Enter a value here to replace the question title in a registration export."
             popover-trigger="mouseenter" class="fa fa-question-circle question-popover"></i>
          <input type="text"
                 class="form-control field-label"
                 ng-model="block.exportFieldTitle" />
        </div>
        <div class="form-group">
          <label>Show this question for the following registration types:</label>
          <div ng-if="canChangeRegTypes">
            <div ng-repeat="type in conference.registrantTypes" class="checkbox">
              <label>
                <input type="checkbox"
                       ng-model="$parent.visibleRegTypes[type.id]">
                {{type.name}}
              </label>
            </div>
          </div>
          <p ng-if="!canChangeRegTypes" class="text-muted"><i class="fa fa-exclamation-triangle"></i> This question must be shown for all registration types.</p>
        </div>
      </tab>
      <tab heading="Rules" ng-if="canHaveRules">
        <p class="text-muted"><i class="fa fa-info-circle"></i> Rules are a great way to hide unneeded questions. All rules created must be met before the question is displayed.
          Rules can depend on questions of <a href="" tooltip="Multiple Choice, Dropdown, Number, Date, Gender or Year in School">these types</a> that are above this question.</p>

        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-12">
              <button class="btn btn-success" ng-click="addRule()"><i class="fa fa-plus"></i> Add Rule</button>
            </div>
          </div>

          <div ng-repeat="rule in block.rules" class="form-group">
            <div class="col-md-4 stacked-spacing-col-md">
              <select ng-model="rule.parentBlockId" ng-options="block.id as block.title for block in ruleBlocks()" class="form-control"></select>
            </div>
            <div class="col-md-2 col-sm-5 stacked-spacing-col-md">
              <select class="form-control" ng-model="rule.operator">
                <option value="=">equals</option>
                <option value="!=">does not equal</option>
                <option value=">" ng-if="!ruleValues(rule.parentBlockId).length">is greater than</option>
                <option value="<" ng-if="!ruleValues(rule.parentBlockId).length">is less than</option>
              </select>
            </div>
            <div class="col-md-5 col-sm-7 stacked-spacing-col-md">
              <input type="text" ng-model="rule.value" ng-show="ruleValueInputType(rule.parentBlockId) === 'number'" class="form-control">
              <select ng-model="rule.value" ng-options="v for v in ruleValues(rule.parentBlockId)" ng-show="ruleValueInputType(rule.parentBlockId) === 'select'" class="form-control"></select>
              <pick-a-date ng-model="rule.value" ng-show="ruleValueInputType(rule.parentBlockId) === 'date'"></pick-a-date>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-1 text-right">
              <button class="btn btn-danger" ng-click="removeRule(rule.id)" title="Delete Rule"><i class="fa fa-trash-o"></i></button>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
