<article>
  <div ng-if="wizard">
    <div class="row padded">
      <div class="col-xs-2">
        <a href="" ng-click="deletePage(page.id, true)" class="btn btn-danger"><i class="fa fa-times"></i> Delete Page</a>
      </div>
      <div class="col-xs-10">
        <h1><input placeholder="Page Title" type="text" ng-model="page.title"></h1>
      </div>
    </div>

    <ul class="connectedSortable list-unstyled sortable2" id="{{page.id}}">
      <li ng-repeat="block in page.blocks" block="block" crs-block></li>
    </ul>
  </div>

  <div ng-if="!wizard">
    <h2 ng-bind="page.title"></h2>

    <form name="pageForm">
      <div ng-repeat="block in page.blocks" block="block" crs-block></div>
      <br>
      <button class="btn btn-success btn-lg eighty"
              type="submit"
              ng-disabled="!pageForm.$valid"
              ng-click="validateAndGoToNext()"
              ng-show="nextPage">Next Page
      </button>

      <button class="btn btn-success btn-lg eighty"
              ng-click="goToReviewOrPayment()"
              ng-disabled="!registrationComplete"
              ng-show="!nextPage">Continue
      </button>
      <a href="" class="btn btn-default btn-lg twenty">Go Back</a>
    </form>
  </div>
</article>

