<article>
  <h2 class="page-title border" ng-bind="page.title"></h2>

  <form novalidate>
    <div
      ng-repeat="block in page.blocks track by $index"
      block="block"
      block-registration
      ng-show="blockVisible(block)"
    ></div>
    <div class="row spacing-above-md">
      <div class="col-sm-3 col-xs-5">
        <button
          class="btn btn-subtle btn-lg btn-block"
          type="button"
          ng-disabled="savingAnswers"
          ng-click="previousPage()"
          translate
        >
          Go Back
        </button>
      </div>
      <div class="col-sm-9 col-xs-7">
        <button
          class="btn btn-success btn-important btn-lg btn-block"
          type="submit"
          ng-disabled="savingAnswers || !pageIsValid(page.id)"
          ng-click="goToNext()"
          aria-live="assertive"
        >
          <span ng-if="!savingAnswers && !nextPage()" translate>Continue</span>
          <span ng-if="!savingAnswers && nextPage()" translate>Next Page</span>
          <span ng-show="savingAnswers" translate>Saving...</span>
        </button>

        <p ng-if="!pageIsValid(page.id)" class="red text-center" translate>
          Please fill in all required fields.
        </p>
      </div>
    </div>
  </form>
</article>
