<dl class="dl-horizontal" ng-if="!isAdminPayment">
  <dt translate>Payment method</dt>
  <dd>
    <label ng-show="paymentMethods().acceptCreditCards">
      <input
        type="radio"
        ng-model="currentPayment.paymentType"
        ng-value="'CREDIT_CARD'"
        translate
      />
      Credit Card
    </label>

    <label ng-show="paymentMethods().acceptChecks">
      <input
        type="radio"
        ng-model="currentPayment.paymentType"
        ng-value="'CHECK'"
        translate
      />
      Check
    </label>

    <label ng-show="paymentMethods().acceptTransfers">
      <input
        type="radio"
        ng-model="currentPayment.paymentType"
        ng-value="'TRANSFER'"
        translate
      />
      Cru Staff / Ministry Account Transfer
    </label>

    <label ng-show="paymentMethods().acceptScholarships">
      <input
        type="radio"
        ng-model="currentPayment.paymentType"
        ng-value="'SCHOLARSHIP'"
        translate
      />
      Scholarship
    </label>

    <label ng-show="paymentMethods().acceptPayOnSite">
      <input
        type="radio"
        ng-model="currentPayment.paymentType"
        ng-value="'PAY_ON_SITE'"
        translate
      />
      Pay on site
    </label>
  </dd>
</dl>

<dl
  class="dl-horizontal"
  ng-show="currentPayment.paymentType !== 'PAY_ON_SITE'"
  ng-if="!isAdminPayment"
>
  <dt translate>Amount</dt>
  <dd
    ng-if="currentRegistration.calculatedMinimumDeposit !== currentRegistration.calculatedTotalDue"
  >
    <div class="input-group">
      <span class="input-group-addon"
        ><span
          >&nbsp;{{conference.currency.currencyCode |
          localizedSymbol}}&nbsp;</span
        ></span
      >
      <input
        type="text"
        ng-model="currentPayment.amount"
        ng-value="currentRegistration.calculatedTotalDue"
        class="form-control marginless"
      />
    </div>
    <span
      class="text-muted"
      ng-if="currentRegistration.calculatedMinimumDeposit > 0 && currentRegistration.pastPayments.length === 0"
    >
      <i class="fa fa-info-circle"></i>
      <translate
        >The minimum deposit required to register for this event is</translate
      >
      {{currentRegistration.calculatedMinimumDeposit |
      localizedCurrency:conference.currency.currencyCode}}
    </span>
  </dd>
  <dd
    ng-if="currentRegistration.calculatedMinimumDeposit === currentRegistration.calculatedTotalDue"
  >
    <input
      type="radio"
      ng-model="currentPayment.amount"
      ng-value="currentRegistration.remainingBalance"
    />
    {{currentRegistration.remainingBalance |
    localizedCurrency:conference.currency.currencyCode}}
  </dd>
</dl>

<ng-include src="paymentMethodsViews[currentPayment.paymentType]"></ng-include>
