<dl class="dl-horizontal">
  <dt>Payment method</dt>
  <dd>
    <label ng-show="conference.acceptCreditCards">
      <input type="radio"
             ng-model="currentPayment.paymentType"
             ng-value="'CREDIT_CARD'">
      Credit Card
    </label>
    <label ng-show="conference.acceptTransfers">
      <input type="radio"
             ng-model="currentPayment.paymentType"
             ng-value="'TRANSFER'">
      Account Transfer
    </label>
  </dd>

<ng-include src="paymentMethodsViews.CREDIT_CARD" ng-if="currentPayment.paymentType === 'CREDIT_CARD'"></ng-include>
<ng-include src="paymentMethodsViews.TRANSFER" ng-if="currentPayment.paymentType === 'TRANSFER'"></ng-include>
</dl>