<div class="input-group">
  <span class="input-group-addon add-on" ng-click="open($event)">
    <i class="fa fa-calendar"></i>
  </span>
  <input type="text" placeholder="Select a date..." class="form-control" ng-disabled="disabled">
</div>
<div ng-if="(minDate || maxDate) && (minDate != '' || maxDate != '')" class="help-block row" translate>
   <label class="valid-range-msg">Valid Range:</label>
   <span class="margin-left-10" ng-if="minDate && minDate!=''">Min Date- {{minDate | dateRangeFormat}} </span>   
   <span class="margin-left-10" ng-if="maxDate && maxDate !=''"> Max Date- {{maxDate | dateRangeFormat}}</span>   
</div>