<div class="row reg-type-select" ng-repeat="type in visibleRegistrantTypes" ng-if="visibleRegistrantTypes.length > 1">
  <div ng-class="{'col-xs-7': type.cost>0, 'col-xs-9': type.cost==0}">
    <h4>{{type.name}}</h4>
    <span class="eventhub-linebreak">{{type.description}}</span>
  </div>
  <div class="col-xs-2 text-right" ng-show="type.cost">
    <h5>{{type.cost | moneyFormat}}</h5>
  </div>
  <div class="col-xs-3">
    <a href="" ng-click="newRegistrant(type.id)" class="btn btn-success btn-important btn-block" ng-if="!registrationTypeFull(type)">
      Register
    </a>
    <a href="" class="btn btn-success btn-important btn-block" disabled ng-if="registrationTypeFull(type)">
      Full
    </a>
  </div>
</div>
<div class="row" ng-if="visibleRegistrantTypes.length === 1">
  <div class="col-xs-12 text-center">
    <a href ng-click="newRegistrant(visibleRegistrantTypes[0].id)" class="btn btn-success btn-important" ng-if="!registrationTypeFull(visibleRegistrantTypes[0])">
      Register
    </a>
    <p ng-if="registrationTypeFull(visibleRegistrantTypes[0])">
      Sorry, this event is full.
    </p>
  </div>
</div>
