<!DOCTYPE html>
<html>
<head>

<style>
  span.redBackground{
    background-color:#d9534f;
  }
  span.greenBackground{
    background-color:#00a651;
  }
  span.whiteText{
    color:white;
  }
  span.blackBorder{
    border: 1px solid black;
  }
</style>

</head>
<div>
  <strong>Paid indicators:</strong><br>
  <span class="blackBorder">Balance is Due</span><br>
  <span class="whiteText">
  <span class="greenBackground">Paid in Full<br>
  <span class="redBackground">Overpaid
    </span>
</div>
</html>
