<table ng-if="visibleRegistrantTypes.length > 1 || isGroupRegistration">
  <thead>
    <tr class="sr-only">
      <th scope="col" translate>Registration Type</th>
      <th scope="col" translate>Cost</th>
      <th scope="col" />
    </tr>
  </thead>
  <tbody>
    <tr class="reg-type-select" ng-repeat="type in visibleRegistrantTypes">
      <td>
        <div class="name">{{type.name}}</div>
        <div class="display-linebreaks">{{type.description}}</div>
      </td>
      <td>
        <span class="cost" ng-if="type.cost"
          >{{type.calculatedCurrentCost |
          localizedCurrency:conference.currency.currencyCode}}</span
        >
      </td>
      <td>
        <button
          type="button"
          ng-click="newRegistrant(type.id)"
          class="btn btn-sm btn-success btn-important"
          ng-if="!registrationTypeFull(type)"
          translate
        >
          Register
        </button>
        <button
          type="button"
          class="btn btn-sm btn-success btn-important btn-full"
          disabled
          ng-if="registrationTypeFull(type)"
          translate
        >
          Full
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div
  class="row"
  ng-if="visibleRegistrantTypes.length === 1 && !isGroupRegistration"
>
  <div class="col-xs-12 text-center">
    <button
      type="button"
      ng-click="newRegistrant(visibleRegistrantTypes[0].id)"
      class="btn btn-success btn-important btn-lg"
      ng-if="!registrationTypeFull(visibleRegistrantTypes[0])"
      translate
    >
      Register
    </button>
    <p ng-if="registrationTypeFull(visibleRegistrantTypes[0])" translate>
      Sorry, this event is full.
    </p>
  </div>
</div>
