<div class="form-horizontal">
  <label>{{ruleTypeMessage}}</label>
  <div ng-if="ruleType!='SHOW_OPTION'">
    <div class="rule-message-alignment clearfix" >
        <span class="pull-left">{{ruleOperandMessage}}</span>
        <div class="col-xs-8 padding-left-0">
          <div ng-repeat="choice in ['AND','OR']" class="pull-left margin-left-10 radio radio-horizontal padding-top-0">
            <label> 
              <input type="radio" show-errors ng-model="rule.operand" ng-change="setRuleOperand()" ng-value="choice">
              <strong ng-if="choice==='AND'" translate>All rules are met</strong>
              <strong ng-if="choice==='OR'" translate>Any rules are met</strong>
            </label>
          </div>    
        </div>       
        <button class="btn btn-success pull-right" ng-click="addRule(ruleType)"><i class="fa fa-plus"></i> <translate>Add Rule</translate></button>
    </div>

    <div ng-repeat="rule in rules = (getRulesByType(ruleType))" style="overflow: auto">
      <div class="col-md-4 stacked-spacing-col-md form-group">
        <select ng-model="rule.parentBlockId" ng-options="block.id as block.title for block in ruleBlocks()" class="form-control"></select>
      </div>
      <div class="col-md-2 col-sm-5 stacked-spacing-col-md form-group">
        <select class="form-control" ng-model="rule.operator">
          <option value="=" translate>equals</option>
          <option value="!=" translate>does not equal</option>
          <option value=">" ng-if="!ruleValues(rule.parentBlockId).length" translate>is greater than</option>
          <option value="<" ng-if="!ruleValues(rule.parentBlockId).length" translate>is less than</option>
        </select>
      </div>
      <div class="col-md-5 col-sm-7 stacked-spacing-col-md form-group" ng-switch="ruleValueInputType(rule.parentBlockId)">
        <div ng-switch-when="number">
          <input type="number"
                class="form-control"
                show-errors
                show-errors-instant="true"
                string-to-number
                ng-model="rule.value"
                ng-model-options="{ allowInvalid: true }"
                ng-min="{{ruleValues(rule.parentBlockId).min}}"
                ng-max="{{ruleValues(rule.parentBlockId).max}}" />
          <span class="help-block help-block-hidden" ng-if="ruleValues(rule.parentBlockId).min && ruleValues(rule.parentBlockId).max" translate>Please enter a number between {{ruleValues(rule.parentBlockId).min}} and {{ruleValues(rule.parentBlockId).max}}</span>
          <span class="help-block help-block-hidden" ng-if="ruleValues(rule.parentBlockId).min && !ruleValues(rule.parentBlockId).max" translate>Please enter a number greater than or equal to {{ruleValues(rule.parentBlockId).min}}</span>
          <span class="help-block help-block-hidden" ng-if="!ruleValues(rule.parentBlockId).min && ruleValues(rule.parentBlockId).max" translate>Please enter a number less than or equal to {{ruleValues(rule.parentBlockId).max}}</span>
        </div>
        <select ng-switch-when="select" show-errors ng-model="rule.value" ng-options="v for v in ruleValues(rule.parentBlockId)" class="form-control"></select>
        <select ng-switch-when="gender" show-errors ng-model="rule.value" class="form-control">
          <option value="M" translate>Male</option>
          <option value="F" translate>Female</option>
        </select>
        <pick-a-date ng-switch-when="date" show-errors ng-model="rule.value" picker-min-date="getRangeValues(rule.parentBlockId).min" picker-max-date="getRangeValues(rule.parentBlockId).max"></pick-a-date>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-1 text-right">
        <button class="btn btn-danger" ng-click="removeRule(rule.id)" title="Delete Rule"><i class="fa fa-trash-o"></i></button>
      </div>
    </div>
  </div>

  <div ng-if="ruleType==='SHOW_OPTION'" ng-repeat="answer in block.content.choices">
    <div class="rule-message-alignment clearfix">
      <span class="pull-left">{{answer.value}}</span>
      <button class="btn btn-success pull-right" ng-click="addRule(ruleType, answer.value)"><i class="fa fa-plus"></i> <translate>Add Rule</translate></button>
    </div>

    <div ng-repeat="rule in rules = (getRulesByType(ruleType, answer.value))" style="overflow: auto">
      <div class="col-md-1 stacked-spacing-col-md" style="line-height: 34px">
        <span class="pull-left">{{ruleOperandMessage}}</span>
      </div>
      <div class="col-md-4 stacked-spacing-col-md form-group">
        <select ng-model="rule.parentBlockId" ng-options="block.id as block.title for block in ruleBlocks()" class="form-control"></select>
      </div>
      <div class="col-md-2 col-sm-5 stacked-spacing-col-md form-group">
        <select class="form-control" ng-model="rule.operator">
          <option value="=" translate>equals</option>
          <option value="!=" translate>does not equal</option>
          <option value=">" ng-if="!ruleValues(rule.parentBlockId).length" translate>is greater than</option>
          <option value="<" ng-if="!ruleValues(rule.parentBlockId).length" translate>is less than</option>
        </select>
      </div>
      <div class="col-md-4 col-sm-7 stacked-spacing-col-md form-group" ng-switch="ruleValueInputType(rule.parentBlockId)">
        <div ng-switch-when="number">
          <input type="number"
                class="form-control"
                show-errors
                show-errors-instant="true"
                string-to-number
                ng-model="rule.value"
                ng-model-options="{ allowInvalid: true }"
                ng-min="{{ruleValues(rule.parentBlockId).min}}"
                ng-max="{{ruleValues(rule.parentBlockId).max}}" />
          <span class="help-block help-block-hidden" ng-if="ruleValues(rule.parentBlockId).min && ruleValues(rule.parentBlockId).max" translate>Please enter a number between {{ruleValues(rule.parentBlockId).min}} and {{ruleValues(rule.parentBlockId).max}}</span>
          <span class="help-block help-block-hidden" ng-if="ruleValues(rule.parentBlockId).min && !ruleValues(rule.parentBlockId).max" translate>Please enter a number greater than or equal to {{ruleValues(rule.parentBlockId).min}}</span>
          <span class="help-block help-block-hidden" ng-if="!ruleValues(rule.parentBlockId).min && ruleValues(rule.parentBlockId).max" translate>Please enter a number less than or equal to {{ruleValues(rule.parentBlockId).max}}</span>
        </div>
        <select ng-switch-when="select" show-errors ng-model="rule.value" ng-options="v for v in ruleValues(rule.parentBlockId)" class="form-control"></select>
        <select ng-switch-when="gender" show-errors ng-model="rule.value" class="form-control">
          <option value="M" translate>Male</option>
          <option value="F" translate>Female</option>
        </select>
        <pick-a-date ng-switch-when="date" show-errors ng-model="rule.value" picker-min-date="getRangeValues(rule.parentBlockId).min" picker-max-date="getRangeValues(rule.parentBlockId).max"></pick-a-date>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-1 text-right">
        <button class="btn btn-danger" ng-click="removeRule(rule.id)" title="Delete Rule"><i class="fa fa-trash-o"></i></button>
      </div>
    </div> 
  </div>    
</div>
