.crs--event-title{
	height: 231px;
	width: 100%;
}

.crs--event-link{
	height: 95%;
}

.crs--card-content{
	height: 88%;
}

/*.crs--site-brand{
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #fff;
	
}*/