/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/


$base-font: 'Open Sans', sans-serif;


// CRS custom variables.
//---------------------------------------------------
$check-radio-sheet: url("../images/forms/check_radio_sheet.png");
$icon-sprite-cards: url("../images/icon-sprite-cards.png");
$bg-crs-card: url("../images/bg-crs-card.png");



// Flat UI Colors for CRS
// --------------------------------------------------
$crs-grayDarker:     #2c3e50;
$crs-grayDark:       #34495e;
$crs-gray:           #7f8c8d;
$crs-grayLight:      #95a5a6;
$crs-grayLighter:    #bdc3c7;
$crs-grayLightest:   #ecf0f1;

$crs-red:            #e74c3c;
$crs-redDarker:      #c0392b;

$crs-yellow:         #f1c40f;

$crs-orange:         #f39c12;
$crs-orangeDarker:   #e67e22;

$crs-green:          #1abc9c;
$crs-greenDarker:    #16a085;

$crs-blue:           #2980b9;