/* LESS Document */

/***** COLORS *****/
@white: #fff; .white {color: @white;}
@black: #000; .black {color: @black;}
@gray: #9b9b9b; .gray {color: @gray;}
@lightgray: #f9f9f9; .lightgray {color: @lightgray;}
@sevengray: #7d7d7d; .sevengray {color: @sevengray;}
@darkgray: #333333; .darkgray {color: @darkgray;}
@blue: #3494c7; .blue {color: @blue;}
@paleblue: #f6fdff; .paleblue {color: @paleblue;}
@lightblue: #14abe6; .lightblue {color: @lightblue;}
@darkblue: #2b86b7; .darkblue {color: @darkblue;}
@darkerblue: #156692; .darkerblue {color: @darkerblue;}
@creme: #fffef6; .creme {color: @creme;}
@creme2: #fafde8; .creme2 {color: @creme2;}
@green: #00a651; .green {color: @green;}
@darkgreen: #009542; .darkgreen {color: @darkgreen;}

/***** TYPOGRAPHY *****/
.proxima {font-family: sans-serif;}
.proximalight {font-family: sans-serif; font-weight:300;}
.proximamedium {font-family: sans-serif; font-weight:400;}
.proximasemi {font-family: sans-serif; font-weight:600;}
.proximabold {font-family: sans-serif; font-weight:700;}

/***** GLOBALS *****/
* {.proxima;}

body {min-width: 1200px;}

body.frontend {
  min-width: 320px;
  background: url('/img/rough_diagonal.png') #e7e8e6;
  .container {
    max-width: 612px;
    width: auto !important;
  }
  .nav-pills {
    li {
      background: #d6d6d6;
      margin-bottom: 3px;
      a {
        border-radius: 0;
        font-size: 14px;
        .white;
        line-height: 45px;
        padding: 0 10px;
        span.circle {
          .proximabold;
          font-size: 11px;
          display: inline-block;
          margin-right: 5px;
          width: 20px;
          height: 20px;
          border-radius: 55px;
          border: 2px solid @white;
          text-align: center;
          line-height: 17px;
          margin-top: 12px;
        }
      }
    }
    .active a {
      span.circle {
        font-size: 18px;
        width: 30px;
        height: 30px;
        border: 3px solid @white;
        line-height: 23px;
        margin-top: 6px;
      }
    }
  }
  article {
    background: @white;
    padding: 30px 15px;
  }
  .dl-horizontal label{
    display: block;
    margin-top: 0;
  }
  .price-breakdown{
    td {
      border-top: none;
    }
    .horizon-padding25 {
      padding-left: 25px;
    }
  }
}

#frontheader {
  background: @blue;
  border-bottom: 4px solid @darkblue;
  padding-top: 12px;
  #logo { width: 130px; height: auto; max-height: 30px; }
}
#masthead {
  background: @blue;
  border-bottom: 7px solid @darkblue;
  padding-top: 26px;
}
a.logo, a.logo:hover {
  color: white;
  font-size: 36px;
  text-decoration: none;
}
#logo { width: 205px; height: auto; }
section#frontpagetitle {
  background: @darkerblue;
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 24px;
    .proximasemi;
    .white;
    margin: 0;
    padding: 30px 0 20px;
  }
}
.usr-greeting {
  text-align: right;
  .btn-group {
    text-align: left;
    .name-btn {
      text-transform: uppercase;
      .blue;
      background: @white;
      strong {
        .proximasemi;
      }
    }
    .btn-primary.dropdown-toggle {
      background-image: linear-gradient(to bottom, @blue 0px, @darkblue 100%);
      margin-top: 0px;
    }
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
  .btn-link{
    margin-top: 24px;
    font-size: 16px;
    color: #fff;
  }
  .btn-primary {
    margin-top: 24px;
    font-size: 16px;
    text-transform: uppercase;
    .proximasemi;
  }
}
section#pagetitle {
  background: @creme;
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ece8d8;
  h1 {
    margin-top: 10px;
    .proximalight;
    font-size: 30px;
    .sevengray;
    margin-bottom: 10px;
  }
  .newform-btn {
    margin-top: 8px;
    margin-bottom: 20px;
  }
}

#subnav {
  ul { text-align: right; margin-top: 12px; margin-bottom: 15px;
    li {
      text-align: left;
      ul { margin-top: 0; }
    }
    li.blue {
      font-size: 16px;
      .proxima;
      margin-left: 18px;
    }
    li.dropdown {
      margin-left: 8px;
      button.dropdown-toggle {
        background: none;
        border: none;
        .gray;
        font-size: 14px;
        .proxima;
        text-transform: uppercase;
      }
      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
  }
}
main {
  margin: 32px 0 50px;
}
#frontfooter {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 25px;
}
#pagefooter {
  background: @paleblue;
  height: 248px;
  position:relative;
  padding: 22px 0 0;
  border-top: 1px solid #c7ecff;
  border-bottom: 1px solid #c7ecff;
  ul li { margin-right: 20px;
    &:last-child { margin-right: 0; }
  }
}

/***** PAGES *****/
main.front-form {
  article {
    h2 {
      .darkerblue;
      .proximasemi;
      font-size: 24px;
      margin-top: 0;
    }
    .details-heading{
      font-size: 18px;
    }
    p {
      .proxima;
      color: #666666;
      font-size: 14px;
      line-height: 1.43;
    }
    a.btn {
      font-size: 18px;
      text-transform: uppercase;
      .proximasemi;
    }
    .well.creme2 {
      background: @creme2;
      border-radius: 0;
      border: 0;
    }
    .well {
      p, ul {
        .darkgray;
        font-size: 14px;
        .proxima;
      }
      label {
        color: #666;
        font-size: 13px;
        text-transform: uppercase;
        .proximasemi;
        padding-top: 10px;
      }
    }

    h2 {
      margin: 0 0 15px;
      padding: 0 0 10px;
      .green;
      .proximabold;
      font-size: 24px;
      border-bottom: 3px solid #e9e9e9;
    }
    p {
      margin-bottom: 20px;
    }
    label {
      margin-top: 10px;
      &:first-of-type {
        margin-top: 0;
      }
    }
    input, select { margin-bottom: 10px; }
    .btn {
      text-transform: uppercase;
      .proximasemi;
    }
    .btn-default {
      background: #f4f4f4;
      .gray;
    }
    button.eighty, a.eighty {
      width: 78%;
      margin-right: 1%;
    }
    button.twenty, a.twenty {
      width: 20%;
    }
  }
  .invalidBorder{
    border-color: red;
    border-width: 2px;
    border-style: solid;
  }
  .invalidBlock{
    color: red;
  }
  .registrantPrice {
    text-align:center;
    padding-top:20px;
  }
  .registrantBox {
    position: fixed;
    background: white;
    margin-left: 590px;
    width: 220px;
    padding: 10px;
    li:not(.active){
      a {
        color: #112233;
      }
    }
  }
  .reg-not-complete{
    padding: 20px 15px;
  }
  .reg-type-select {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    h4, h5 {
      margin-top: 0;
    }
    h5 {
      font-size: 16px;
    }
  }
  @media (max-width: 1050px) {
    .registrantBox {
      position: relative;
      width: 100%;
      margin: 10px 0;
    }
  }
}
main.registrations {
  padding: 0 10px;
  h2 {
    .green;
    .proximabold;
    font-size: 24px;
    margin-top: 5px;
  }
  .columns-btn {
    li {
      text-align: left;
      input {
        margin-right: 3px;
      }
      span { padding: 0 10px 0 25px; line-height: 18px; display: block; margin-bottom: 4px;
        input { margin-left: -15px; }
      }
    }
  }
  .col-xs-3 { margin-top: 10px; margin-bottom: 10px; }
  .col-xs-5 { margin-bottom: 15px; }
  p.columns {
    .gray;
    .proximasemi;
    font-size: 14px;
    margin-top: 2px;
    margin-right: 5px;
    display: inline-block;
  }
  .columns-btn.col-dropdown {
    .white;
    font-size: 18px;
    padding: 5px 8px;
    line-height: 10px;
  }
  .rowdetails {
    .well {
      background: @white;
      border-radius: 0;
      overflow: auto;
      .leftside {
        width: 18%;
        padding-right: 1%;
        display: inline-block;
        vertical-align: top;
        text-align: right;
        .proxima;
        font-weight: bold;
        font-size: 14px;
        .darkgray;
      }
      .rightside {
        width: 80%;
        display: inline-block;
        vertical-align: top;
        .proxima;
        font-size: 14px;
        .darkgray;
      }
    }
  }
  .reg-views-dropdown {
    display: block;
    .listing {
      width:450px;
      padding: 6px;
    }
  }
  .registration_edit_buttons{
    width: 120px;
    button{
      width: 32px;
    }
  }
}
main.form-builder {
  .dragnew{
    text-align:center;
    margin-top: -140px;
    color: #C8C8C8;
    z-index: -1;
    .fa{
      font-size: 800%;
    }
    p{
      font-size: 200%;
    }
  }
  .elements-list {
    margin-bottom: 25px;
    top: 0;
    width: 290px;
  }
  .form-page {
    border-left: 2px solid #cccccc;
    float: right;
    min-height: 500px;
    a.btn + a.btn { margin-left: 10px; }
    ul.pager { display: inline-block; margin-right: 20px; }
    .overflow { min-height: 500px;
      .shrink { width: 90%; }
    }
    form { margin-top: 30px; }
    .padded { margin-top: 20px; }
    h1 {
      .green;
      .proximabold;
      font-size: 30px;
      border-bottom: 3px solid #e9e9e9;
      padding-bottom: 10px;
      margin-top: 0;
      input {
        boxshadow: none;
        border: none;
      }
    }
    li {
      .well.edit {
        border: 1px solid #E3E3E3; background: @creme; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        .col-xs-2 {
          opacity: 1;
        }
        .col-xs-10 {
          margin-bottom: 0;
          .edit-options {
            display: block;
          }
          .btn-sm {
            opacity: 1;
          }
        }
      }
    }
    .well.ui-state-hover { background: @creme; }
    .well { background: white; padding-bottom: 25px;
      .well { background: transparent; border: 1px solid @white; box-shadow: none;
        &:hover { border: 1px solid #E3E3E3; background: @creme; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
          .col-xs-2 {
            opacity: 1;
          }
          .col-xs-10 {
            margin-bottom: 0;
            .btn-sm {
              opacity: 1;
            }
          }
        }
        address-question {
          display: block;
          height: 146px;
          .form-control{
            margin-bottom: 6px;
          }
        }
        .col-xs-2 {
          .green;
          font-size: 28px;
          text-align: center;
          opacity: 0;
          .fa-pencil-square-o { margin-right: -6px; cursor: pointer;}
          p { font-size: 14px; cursor: pointer; display: block; margin: -8px auto 15px;}
        }
        .col-xs-10 {
          margin-bottom: -40px;
          transition: all .2s;
          label { display: block; }
          label.inline-label {
            display: inline;
          }
          .edit-box-single-line-question {
            .form-group {
              margin-bottom: 0;
            }
          }
          .form-group {
            input[type="checkbox"], input[type="radio"] {
              float: left;
              height: 15px;
              margin-top: 0;
              margin-right: 8px;
            }
            label.inline { display: inline-block; float: left; margin-right: 12px; }
            textarea {
              font-size: 12px;
            }
          }
          .edit-options { margin-top: 15px;
            ul.nav-tabs { margin-bottom: -1px;
              li {
                margin-right: 5px;
                a {
                  font-size: 12px;
                  line-height: 8px;
                  background: #f2f1e6;
                  border-radius: 0;
                  .darkgray;
                  .proximabold;
                  text-transform: uppercase;
                  border-bottom: 1px solid #ece8d8;
                }
              }
              li.active {
                a { background: @white; border-bottom: 1px solid @white; }
              }
            }
          }
          .btn-sm {
            opacity: 0;
            font-size: 14px;
            padding-left: 0;
          }
          .copy-btn {
            &:hover {
              .darkgreen;
              text-decoration: none;
            }
          }
          .delete-btn {
            &:hover {
              .darkgray;
              text-decoration: none;
            }
          }
          .tab-content {
            background: @white;
            border: 1px solid #ece8d8;
            padding: 15px;
          }
        }
      }
    }
  }
  .functions-header{
    top: 0;
    width:858px;
    z-index:5;
    background-color:white;
    margin: 1px 0 0 305px;
    a.btn + a.btn { margin-left: 10px; }
  }
}
main.conference-details {
  .col-xs-9 {
    border-right: 2px solid #cccccc;
    h2 {
      .green;
      .proximabold;
      font-size: 24px;
      border-bottom: 3px solid #e9e9e9;
      padding-bottom: 10px;
      margin-bottom: 22px;
    }
    section {
      padding-bottom: 20px;
      input, textarea {
        margin-bottom: 10px;
      }
      input.marginless {
        margin-bottom: 0;
      }
      input[type="checkbox"] { margin-right: 5px }
    }
    button.label { margin-right: 5px; border: none; }
    label.space { margin-right: 20px; }
  }
  .col-left-nav{
    border-right: none;
    border-left: 2px solid #cccccc;
  }
  .col-xs-3 {
    h3 {
      .proxima;
      font-size: 20px;
      color: #636363;
      text-transform: uppercase;
    }
    p {
      color: #636363;
      font-size: 14px;
    }
    a.link {
      .green;
      .proximabold;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: .1em;
    }
    section {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
main.dashboard {
  .col-xs-8 { margin-bottom: 25px; }
  .col-xs-3 {
    border-left: 2px solid #cccccc;
    h3 {
      .proxima;
      font-size: 20px;
      color: #636363;
      text-transform: uppercase;
    }
    p {
      color: #636363;
      font-size: 14px;
    }
    a.link {
      .green;
      .proximabold;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: .1em;
    }
    section {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  .btn.small {
    font-size: 12px;
    .proximasemi;
    margin-top: 10px;
    margin-right: 10px;
  }
  li.form.expired {
    h2, .green, p, strong {
      color: #bababa;
    }
    span {
      background: #eaeaea;
    }
    cursor: default;
  }
  li.form {
    background: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 17px 17px 17px 22px;
    margin-bottom: 15px;
    cursor: pointer;
    h2 {
      .green;
      display: block;
      .proximamedium;
      line-height: 20px;
      font-size: 20px;
      text-transform: uppercase;
      margin: 5px 0 15px;
    }
    p.reg-count {
      float: right;
      display: inline-block;
      padding: 5px 8px;
      background: @white;
      .gray;
      margin-top: -40px;
      font-size: 12px;
      border-radius: 3px;
    }
    ul.horizontal li:first-child {
      padding-left: 0;
    }
    a.hamburger-link {
      float: right;
      color: #666666;
      font-size: 18px;
      cursor: row-resize;
      margin-top: -40px;
    }
    p {
      display: inline-block;
    }
    ul { display: inline-block; }
    li {
      padding-left: 18px;
      a {
        color: #cdcdcd;
        .proxima;
        font-size: 14px;
      }
    }
  }
}

/***** MISC *****/
ul#sortable1 {
  padding: 0;
  li {
    div.well {
      display: none;
    }
  }
  li.btn.btn-default.btn-sm.btn-block {
    border: 1px solid @green;
    padding: 5px;
    max-width: 300px;
    .darkgray;
    .proximasemi;
    font-size: 14px;
    i {
      .green;
      font-size: 16px;
      margin-bottom: 5px;
      margin-top: -18px;
      text-align: right;
      vertical-align: middle;
      display: block;
    }
  }
}
ul.sortable2 {
  padding: 0 !important;
  span.text { display:none; }

  .well {
    margin-bottom: 0;
  }
}
.connectedSortable {
  min-height: 360px;
}
body {
  button.btn-md.addon {
    padding: 0 0 0 12px;
  }
  span.addon {
    background: none repeat scroll 0 0 #EBEBEB;
    border-left: 1px solid #ADADAD;
    display: inline-block;
    padding: 6px;
    margin-left:10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .colright {
    text-align: right;
  }
  .undo-btn {
    .gray;
    .proximasemi;
    font-size: 16px;
    margin-left: 15px;
    &:hover {
      .sevengray;
      text-decoration: none;
    }
  }
  .btn-primary.help-btn {
    background: @blue;
    background-image: none;
    border: 1px solid @lightblue;
    .fa { font-size: 20px; padding-right: 3px; }
  }
  .btn-success.newform-btn {
    background: @green;
    background-image: none;
    border: 1px solid #90a92f;
    font-size: 13px;
    padding-left: 33px;
    .proximasemi;
    .white;
    .fa { font-size: 20px; padding-right: 3px; position: absolute; left: 25px;}
  }
  ul.horizontal {
    list-style: none;
    padding: 0;
    margin: 0;
    li { display: inline-block; }
    ul li { display: block; }
  }
  .col-xs-3.right {
    text-align: right;
  }
  .col-xs-3.right, .col-xs-4.right {
    text-align: right;
  }
  .dropdown-menu.right {
    right: 0;
    left: auto;
  }
  .dropdown-toggle.right {
    float: right;
  }
  article { position: relative; }
  .btn.text-left {
    text-align:left;
  }
  .tableright {
    text-align: right;
  }
  .tablecenter {
    text-align: center;
  }
  .rowdetails {
    display: none;
  }
  .rowdetails.on {
    display: table-row;
  }
  .rowtoggle {
    i {
      cursor: pointer;
    }
  }
  #sortable {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .btn-right {
    float: right;
  }
  .full { width: 100%; display: block; }

  .timepicker, .datepicker {
    .add-on { cursor: pointer; }
  }
  .bootstrap-datetimepicker-widget { z-index: 10000; }
  button.nostyle { background: none; border: none; padding: 0; }
  #registrationsModal, #addregistrationModal, #paymentsModal {
    input { margin-bottom: 9px; }
  }
}

/***** BOOTSTRAP DEFAULT OVERRIDES *****/
body {
  .container { width: 1170px !important; }
  .label-success, .btn-success { background: @green; }
  .label-primary, .btn-primary { background: @blue; }
  .nav-pills .active a { background: @darkerblue; }
  .modal-body .container { max-width: 560px; }
  .icon-chevron-up {
    background-position: -288px -120px !important;
  }
  .timepicker-picker a.btn {
    background: #eeeeee;
  }
  .icon-chevron-down {
    background-position: -313px -119px !important;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
  }
}


/***** Event Registration Tool Specific *****/
.eventhub-growl{
  position: fixed;
  margin: 0px;
  z-index: 1031;
  bottom: 20px;
  right: 20px;
}

em.required{
  font-style: normal;
  color: #C00;
}

.eventhub-linebreak{
  white-space: pre-line;
}

.nav-tabs>li>a{
  cursor: pointer;
}

.noselect{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.eventstat-icon{
  font-size: 48px;
  text-align: center;
}

.form-control[readonly] {
  cursor: default;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.small-footer{
  footer{
    height: 70px !important;
  }
}

.previewRow {
  text-align: center;
  background: rgba(255, 165, 0, .5);
  padding: 8px;
  margin: auto;
  .horizontal {
    font-size: 14px;
    a:link, a:visited {
      color: #000;
    }
  }
}

div[crs-block] {
  padding-bottom: 10px;
  .radio, .checkbox {
    margin-top: -5px;
  }
}

.spacing-above-xs{
  margin-top: 0.5em;
}

.spacing-below-xs{
  margin-bottom: 0.5em;
}

.spacing-above-sm{
  margin-top: 1em;
}

.spacing-below-sm{
  margin-bottom: 1em;
}

.spacing-above-md{
  margin-top: 1.5em;
}

.spacing-below-md{
  margin-bottom: 1.5em;
}

.rootLoadingMsg {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 10;
  cursor: progress;
  .blueMsg{
    width: 100%;
    height: 130px;
    top:40%;
    position: fixed;
    text-align: center;
    background: rgba(43, 134, 183, 0.75);
    > div {
      font-size: 22px;
      margin-top: 50px;
      color: #fff;
    }
  }
}
