/*------------------------------------*\
    $FORMS
\*------------------------------------*/

input[type="text"]{
	border-width: 2px;
	border-color: #c8c8c8;
	
	&:focus{
		border-color: $crs-green !important;
		-webkit-outline: none;
		-webkit-box-shadow: none;
			    box-shadow: none;
		
		
	}
	
}

.modal-body, .crs--question-block{
	/*
	* When the user hovers over the modal body the input border darkens
	*/
	&:hover{
		input[type="text"]{
			border-color: #737373;
		}
	}
}