/*------------------------------------*\
    $FORMS
\*------------------------------------*/

input[type="text"]{
	border-width: 2px;
	border-color: #c8c8c8;
	@extend .color-delay;
	
	&:focus{
		border-color: $crs-green !important;
		-webkit-outline: none;
		-webkit-box-shadow: none;
			    box-shadow: none;
		
		
	}
	
}

.modal-body, .crs--question-block{
	/*
	* When the user hovers over the modal body the input border darkens
	*/
	&:hover{
		input[type="text"]{
			border-color: #737373;
		}
	}
}

.modal, .modal-header, .modal-footer{
	border-width: 0px;
	
}

.modal{
	
	@include vendor(box-shadow, 0);	
	@include vendor(border-radius, 6px);
	
	
}

	.modal-header {
	}
	
	.modal-body{
		
		input{
			margin-bottom: 19px;
		}
	}

	.modal-footer{
		background-color: $crs-green;
	}


.modal-message{
	line-height: 25px;
	margin-bottom: 0px;
	padding-top: 14px;
	padding-bottom: 34px;
}