/*------------------------------------*\
    $SCAFFOLDING
\*------------------------------------*/
/**
 * Let’s make the box model all nice, shall we...?
 */
*{
    &,
    &:before,
    &:after{
        @include vendor(box-sizing, border-box);
    }
}


body {
  font-family: $base-font-family;
  background: #ecf0f1;
  color: #34495e;
}


.container-fluid {
	max-width: 1201px;
	margin-left: auto;
	margin-right: auto;
}

.content{
	min-height: 500px;
}

.crs--site-foot{
	//width: 100%;
	//position: absolute;
	//bottom: 0;
	
	min-height: 60px;
	
	padding-top: 24px;
	padding-bottom: 24px;
	
	background-color: #5c5c5c;
}
