/*------------------------------------*\
    $SCAFFOLDING
\*------------------------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  background: #ecf0f1;
  color: #34495e;
}


.container-fluid {
	max-width: 1201px;
	margin-left: auto;
	margin-right: auto;
}
