<span class="help-block" translate>
  Search by staff member name to look up their account number.
</span>
<div class="has-feedback staff-account-search">
  <input
    ng-model="payment.accountNumber"
    type="text"
    class="form-control"
    placeholder=""
    uib-typeahead="staff.lastName + ', ' + staff.firstName + ' (' + staff.email + ')' for staff in searchStaff($viewValue)"
    typeahead-on-select="selectStaffAccountNumber($item)"
    typeahead-loading="loadingAccountNumber"
    typeahead-wait-ms="300"
    ng-disabled="disabled"
  />
  <span
    class="form-control-feedback"
    title="Searching..."
    ng-if="loadingAccountNumber"
  >
    <i class="fa fa-spinner fa-spin"></i>
  </span>
  <div class="text-danger" ng-if="staffAccountLookupMessage" role="alert">
    {{staffAccountLookupMessage}}
  </div>
</div>
