<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Event Registration Tool</title>
</head>

<body>

  <header id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <a class="logo" href="/">
              <i class="fa fa-users"></i> Event Registration Tool
          </a>
        </div>
        <div class="col-xs-6">
        </div>
      </div>
    </div>
  </header>
  <main class="container">
    <p>Sorry, your version of Internet Explorer is not supported.  Download the latest version at <a href="http://www.microsoft.com/ie" target="_blank">www.microsoft.com/ie</a>.</p>
  </main>
</body>
</html>
