<!--
<div class="alert" data-ng-show="growlMessage">
  <button type="button" class="close" data-ng-click="growlMessage=''">&times;</button>
  <strong>Warning!</strong> <span>{{growlMessage}}</span>
  <button class="btn" data-ng-click="growlUndo()">Undo</button>
</div>
-->







<!doctype html>
<html ng-app="confRegistrationWebApp">
<head>
  <meta charset="UTF-8">
  <title>EventHub | {{globalPage.title}}</title>
  <!--<link rel="icon" type="image/png" href="/img/favicon.png" />-->

  <!-- jQuery -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <!-- End jQuery -->

  <!-- AngularJS -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
  <!-- End AngularJS -->

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <!-- End Bootstrap -->

  <!-- CSS -->
  <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- End CSS -->

  <!-- build:js scripts/components.js -->
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/momentjs/moment.js"></script>
  <script src="components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/eventHub.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/services/currentRegistrationInterceptor.js"></script>
  <script src="scripts/services/authorizationInterceptor.js"></script>
  <script src="scripts/services/unauthorizedInterceptor.js"></script>
  <script src="scripts/services/httpReturnStatusInterceptor.js"></script>
  <script src="scripts/services/debouncePutsInterceptor.js"></script>
  <script src="scripts/services/uuid.js"></script>
  <script src="scripts/services/apiUrl.js"></script>
  <script src="scripts/services/httpUrlInterceptor.js"></script>
  <script src="scripts/services/growlService.js"></script>
  <script src="scripts/controllers/eventDashboard.js"></script>
  <script src="scripts/controllers/registration.js"></script>
  <script src="scripts/directives/page.js"></script>
  <script src="scripts/directives/block.js"></script>
  <script src="scripts/controllers/editRegistrationModal.js"></script>
  <script src="scripts/controllers/eventRegistrations.js"></script>
  <script src="scripts/controllers/landing.js"></script>
  <script src="scripts/controllers/eventDetails.js"></script>
  <script src="scripts/controllers/reviewRegistration.js"></script>
  <script src="scripts/directives/formElements.js"></script>
  <script src="scripts/directives/accordionSub.js"></script>
  <script src="scripts/controllers/eventForm.js"></script>
  <script src="scripts/services/AnswerCache.js"></script>
  <script src="scripts/services/RegistrationCache.js"></script>
  <script src="scripts/services/ConfCache.js"></script>
  <script src="scripts/services/RegViewCache.js"></script>
  <script src="scripts/services/ProfileCache.js"></script>
  <script src="scripts/controllers/createEvent.js"></script>
  <script src="scripts/controllers/confirmModal.js"></script>
  <script src="scripts/controllers/formDropArea.js"></script>
  <script src="scripts/services/enforceAuth.js"></script>
  <script src="scripts/controllers/loginDialog.js"></script>
  <script src="scripts/directives/showAnswer.js"></script>
  <script src="scripts/directives/ngEnter.js"></script>
  <script src="scripts/filters/joiner.js"></script>
  <script src="scripts/services/Model.js"></script>
  <script src="scripts/directives/datepicker.js"></script>
  <script src="scripts/directives/formDropArea.js"></script>
  <script src="scripts/controllers/payment.js"></script>
  <script src="scripts/directives/adminNav.js"></script>
  <script src="scripts/controllers/eventPermissions.js"></script>
  <script src="scripts/controllers/ActiviatePermission.js"></script>
  <script src="scripts/directives/blocks.js"></script>
  <script src="scripts/services/PermissionCache.js"></script>
  <script src="scripts/controllers/genericModal.js"></script>
  <script src="scripts/controllers/paymentModal.js"></script>
  <script src="scripts/controllers/registrationModal.js"></script>
  <script src="scripts/services/RegistrationsViewService.js"></script>
  <script src="scripts/services/PaymentsViewService.js"></script>
  <script src="scripts/services/ConferenceHelper.js"></script>
  <script src="scripts/services/U.js"></script>
  <!-- endbuild -->

  <!-- Typekit -->
  <!--  <script type="text/javascript" src="//use.typekit.net/mgc7mdg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
  <!-- End Typekit -->
</head>

<body ng-class="globalPage.bodyClass" ng-cloak>

<div ng-show="globalPage.type === 'admin'">
  <header id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <a class="logo" href="#/eventDashboard"><img id="logo" src="/img/formvent-logo.svg"></a>
        </div>
        <div class="col-xs-8">
          <div class="btn-group">
            <button type="button" class="btn btn-default name-btn">Hello <strong ng-bind="globalUsername"></strong></button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li class="dropdown-header">More Links</li>
                <li><a href="/">Logout</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="pagetitle" ng-class="globalPage.class">
    <div class="container">
      <div class="row">
        <div ng-class="{'col-xs-3': globalPage.class === 'dashboard', 'col-xs-4': globalPage.class !== 'dashboard'}">
          <h1 ng-bind="globalPage.title"></h1>
        </div>
        <div ng-class="{'col-xs-6': globalPage.class === 'dashboard', 'col-xs-5': globalPage.class !== 'dashboard'}">
          <a href="" ng-click="createEvent()" class="btn btn-success newform-btn" role="button" ng-show="globalPage.mainClass === 'dashboard'"><i class="fa fa-plus"></i> Create New Event</a>
          <nav id="subnav" ng-show="globalPage.mainClass !== 'dashboard'" admin-nav>
          </nav>
        </div>
        <div class="col-xs-3 right">
          <a href="#" class="btn btn-primary help-btn" role="button" ng-show="globalPage !== 'dashboard'"><i class="fa fa-medkit"></i> I Need Help!</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div ng-show="globalPage.type === 'landing'">
  <header id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <a class="logo" href="/"><img id="logo" src="/img/formvent-logo.svg"></a>
        </div>
        <div class="col-xs-8">
        </div>
      </div>
    </div>
  </header>
</div>

<div ng-show="globalPage.type === 'registration'">
  <header id="frontheader">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a class="logo" href=""><img id="logo" src="/img/formvent-logo.svg"></a>
        </div>
      </div>
    </div>
  </header>
  <section id="frontpagetitle">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 ng-bind="globalPage.title"></h1>
        </div>
      </div>
    </div>
  </section>

  <div class="row" ng-show="registerMode==='preview'" style="text-align:center; background:rgba(255, 165, 0, .5); padding:8px; margin:auto; ">
    <div class="col-xs-12" style="font-size:24px;">
      Preview Mode
    </div>
    <div class="col-xs-12" style="font-size:12px;">
      <ul class="horizontal">
        <li class=""><a ng-href="#/eventRegistrations/{{globalPage.confId}}">Registrations</a></li>
        <li class=""><a ng-href="#/eventForm/{{globalPage.confId}}">Edit Form</a></li>
        <li class=""><a ng-href="#/eventDetails/{{globalPage.confId}}">Details</a></li>
      </ul>
    </div>
  </div>
</div>

<main class="container" ng-class="globalPage.mainClass" ng-view=""></main>

<footer id="pagefooter" ng-show="globalPage.footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <ul class="horizontal blue">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a ng-href="http://localhost:9000/#/auth/{{crsToken}}">Local Dev Environment</a></li>
        </ul>
      </div>
      <div class="col-xs-4 right">
        <span>&copy; 2014 | Cru</span>
      </div>
    </div>
  </div>
</footer>

<footer id="frontfooter" ng-show="globalPage.type === 'registration'">
  <div class="container">
    <span>&copy; 2014 | Cru</span>
  </div>
</footer>


<script src="//www.bugsense.com/static/js/global/bugsense.js" type='text/javascript'></script>
<script type="text/javascript">
  //var bugsense = new Bugsense( { apiKey: '8e70b821' } );
</script>

</body>
</html>