<!doctype html>
<html ng-app="confRegistrationWebApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <title ng-bind="(currentEventName ? currentEventName + ' - ' : '') + (pageTitle ? (pageTitle  | translate) + ' | ' : '') + ('Event Registration Tool' | translate)">Event Registration Tool</title>

  <!--[if lt IE 10]>
  <script type="text/javascript">
    window.location = '/browserUnsupported.html';
  </script>
  <![endif]-->

  <!-- Adobe DTM -->
  <script>
    window.digitalData = {
      user: [{
        profile: [{
          profileInfo: {},
          social: {}
        }]
      }]
    };
  </script>
  <% if(htmlWebpackPlugin.options.prod) { %>
  <script src="//assets.adobedtm.com/3202ba9b02b459ee20779cfcd8e79eaf266be170/satelliteLib-928beaae1bce68f8836cc63dd18a9951aa3a1f4e.js"></script>
  <% } else { %>
  <script src="//assets.adobedtm.com/3202ba9b02b459ee20779cfcd8e79eaf266be170/satelliteLib-928beaae1bce68f8836cc63dd18a9951aa3a1f4e-staging.js"></script>
  <% } %>

  <!-- Font Awesome (Icons) -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body ng-class="globalPage.bodyClass" ng-cloak>
<link ng-if="globalPage.conference.cssUrl" ng-href="{{globalPage.conference.cssUrl}}" rel="stylesheet">
<% if(!htmlWebpackPlugin.options.prod) { %>
<div class="row previewRow">
  <div class="col-xs-12" style="font-size:24px;">
    Staging Environment
  </div>
  <div class="col-xs-12">
    <ul class="list-inline preview-nav">
      <li><a href="https://www.eventregistrationtool.com">Go to Production</a></li>
    </ul>
  </div>
</div>
<% } %>

<div class="rootLoadingMsg" ng-if="loadingMsg">
  <div class="blueMsg">
    <div><i class="fa fa-spinner fa-spin"></i> {{loadingMsg}}...</div>
  </div>
</div>

<div ng-if="globalPage.type === 'admin' || globalPage.type === 'landing'">
  <div class="alert alert-warning growl-message" ng-show="growlMessage">
    <button type="button" class="close" ng-click="growlMessage=''">&times;</button>
    <p>{{growlMessage}} <a href="" ng-click="growlUndo()" class="alert-link" translate>Undo</a></p>
  </div>
  <header id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <a class="logo" href="/" ng-if="globalPage.type === 'landing'">
            <i class="fa fa-users"></i> Event Registration Tool
          </a>
          <a class="logo" href="eventDashboard" ng-if="globalPage.type === 'admin'">
            <i class="fa fa-users"></i> Event Registration Tool
          </a>
        </div>
        <div class="col-sm-4 text-right" ng-if="globalGreetingName()">
          <div class="btn-group usr-greeting spacing-below-xs" uib-dropdown>
            <button type="button" class="btn btn-default name-btn">Hello <strong ng-bind="globalGreetingName()"></strong></button>
            <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu-right" role="menu" uib-dropdown-menu>
              <li><a href="eventDashboard/"><i class="fa fa-users"></i> <translate>My Dashboard</translate></a></li>
              <li><a href="help/"><i class="fa fa-medkit"></i> <translate>I Need Help!</translate></a></li>
              <li><a href="logout"><i class="fa fa-sign-out"></i> <translate>Sign out</translate></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 text-right" ng-if="!globalGreetingName()">
          <div class="btn-group usr-greeting spacing-below-xs">
            <a href="eventDashboard" class="btn btn-default name-btn">Event Dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="pagetitle" ng-if="globalPage.type === 'admin'" ng-class="globalPage.class">
    <div class="container">
      <div class="row">
        <div ng-if="!globalPage.confId" class="col-lg-12">
          <h1>{{pageTitle | translate}}</h1>
        </div>
        <div ng-if="globalPage.confId" class="col-lg-6">
          <h1><a ng-href="eventOverview/{{globalPage.confId}}" ng-bind="currentEventName"></a></h1>
        </div>
        <div class="col-lg-6" ng-if="globalPage.confId">
          <nav id="subnav" admin-nav>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>

<div ng-if="globalPage.type === 'registration'">
  <header id="frontheader">
  </header>
  <section id="frontpagetitle">
    <div class="container">
      <div class="row spacing-above-md">
        <div class="col-sm-10 col-xs-12 stacked-spacing-col-sm" ng-if="globalPage.confId">
          <a ng-href="{{registerMode || 'register'}}/{{globalPage.confId}}/page/">
            <h1 ng-bind="globalPage.conference.name"></h1>
          </a>
          <p class="spacing-above-md"><i class="fa fa-calendar fa-fw"></i>
            {{globalPage.conference.eventStartTime | evtDateFormat: globalPage.conference.eventTimezone:'ddd, MMM D, YYYY h:mma'}} -
            {{globalPage.conference.eventEndTime | evtDateFormat: globalPage.conference.eventTimezone:'ddd, MMM D, YYYY h:mma'}}
            <span ng-if="globalPage.conference.locationName"><br><i class="fa fa-map-marker fa-fw"></i>
              {{globalPage.conference.locationName}}</span>
          </p>
        </div>
        <div class="col-sm-10 col-xs-12 stacked-spacing-col-sm" ng-if="!globalPage.confId">
          <a href="">
            <h1 ng-bind="currentEventName"></h1>
          </a>
        </div>
        <div class="col-sm-2 text-right hidden-xs">
          <a href="logout" class="btn btn-primary btn-important" translate>Sign out</a>
        </div>
      </div>
    </div>
  </section>

  <div class="row previewRow" ng-show="registerMode === 'preview'">
    <div class="col-xs-12" style="font-size:24px;" translate>
      Preview Mode
    </div>
    <div class="col-xs-12">
      <ul class="list-inline preview-nav">
        <li><a ng-href="eventOverview/{{globalPage.confId}}" translate>Overview</a></li>
        <li><a ng-href="eventRegistrations/{{globalPage.confId}}" translate>Registrations</a></li>
        <li><a ng-href="eventDetails/{{globalPage.confId}}" translate>Details</a></li>
        <li><a ng-href="eventForm/{{globalPage.confId}}" translate>Questions</a></li>
      </ul>
    </div>
  </div>
</div>

<main ng-class="globalPage.mainClass" ng-view></main>

<footer id="pagefooter" ng-if="globalPage.footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <ul class="list-inline">
          <li><a href="https://www.cru.org/us/en/about/privacy.html" translate>Privacy Policy</a></li>
          <li><a href="help/" translate>Help</a></li>
          <% if(!htmlWebpackPlugin.options.prod) { %>
          <li><a ng-href="http://localhost:9000/auth/{{crsToken}}">Local Dev Environment</a></li>
          <% } %>
        </ul>
      </div>
      <div class="col-sm-4 text-right">
        <span>&copy; 2017 | <a href="http://www.cru.org" target="_blank">Cru</a></span>
      </div>
    </div>
  </div>
</footer>

<footer id="frontfooter" ng-if="globalPage.type === 'registration'">
  <div class="container">
    <span>&copy; 2017 | <translate>Created with Event Registration Tool, powered by</translate> <a href="http://www.cru.org" target="_blank">Cru</a></span>
  </div>
</footer>

<% if(htmlWebpackPlugin.options.prod) { %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-325725-55', 'auto');
</script>
<% } %>

<script type="text/javascript">window._satellite && _satellite.pageBottom();</script>

<%=htmlWebpackPlugin.files.webpackManifest%>
</body>
</html>
