<!doctype html>
<html ng-app="confRegistrationWebApp">
<head>
  <meta charset="UTF-8">
  <title ng-bind="generateTitle(globalPage.title)"></title>
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <!-- End jQuery -->

  <!-- AngularJS -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-cookies.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>
  <!-- End AngularJS -->

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- End Bootstrap -->

  <!-- CSS -->
  <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- End CSS -->

  <!-- build:js scripts/components.js -->
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/momentjs/moment.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="bower_components/string/lib/string.js"></script>
  <script src="components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/eventApp.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/services/currentRegistrationInterceptor.js"></script>
  <script src="scripts/services/authorizationInterceptor.js"></script>
  <script src="scripts/services/unauthorizedInterceptor.js"></script>
  <script src="scripts/services/httpReturnStatusInterceptor.js"></script>
  <script src="scripts/services/debouncePutsInterceptor.js"></script>
  <script src="scripts/services/uuid.js"></script>
  <script src="scripts/services/apiUrl.js"></script>
  <script src="scripts/services/httpUrlInterceptor.js"></script>
  <script src="scripts/services/growlService.js"></script>
  <script src="scripts/controllers/eventDashboard.js"></script>
  <script src="scripts/controllers/registration.js"></script>
  <script src="scripts/directives/page.js"></script>
  <script src="scripts/directives/block.js"></script>
  <script src="scripts/controllers/editRegistrationModal.js"></script>
  <script src="scripts/controllers/eventRegistrations.js"></script>
  <script src="scripts/controllers/landing.js"></script>
  <script src="scripts/controllers/eventDetails.js"></script>
  <script src="scripts/controllers/eventOverview.js"></script>
  <script src="scripts/controllers/reviewRegistration.js"></script>
  <script src="scripts/directives/formElements.js"></script>
  <script src="scripts/controllers/eventForm.js"></script>
  <script src="scripts/services/AnswerCache.js"></script>
  <script src="scripts/services/RegistrationCache.js"></script>
  <script src="scripts/services/ConfCache.js"></script>
  <script src="scripts/services/RegViewCache.js"></script>
  <script src="scripts/services/PersonCache.js"></script>
  <script src="scripts/controllers/createEvent.js"></script>
  <script src="scripts/controllers/confirmModal.js"></script>
  <script src="scripts/services/enforceAuth.js"></script>
  <script src="scripts/controllers/loginDialog.js"></script>
  <script src="scripts/directives/showAnswer.js"></script>
  <script src="scripts/directives/ngEnter.js"></script>
  <script src="scripts/directives/selectOnClick.js"></script>
  <script src="scripts/filters/joiner.js"></script>
  <script src="scripts/services/Model.js"></script>
  <script src="scripts/directives/datepicker.js"></script>
  <script src="scripts/controllers/payment.js"></script>
  <script src="scripts/directives/adminNav.js"></script>
  <script src="scripts/controllers/eventPermissions.js"></script>
  <script src="scripts/controllers/ActiviatePermission.js"></script>
  <script src="scripts/directives/blocks.js"></script>
  <script src="scripts/services/PermissionCache.js"></script>
  <script src="scripts/controllers/genericModal.js"></script>
  <script src="scripts/controllers/paymentModal.js"></script>
  <script src="scripts/controllers/registrationModal.js"></script>
  <script src="scripts/services/RegistrationsViewService.js"></script>
  <script src="scripts/services/PaymentsViewService.js"></script>
  <script src="scripts/services/ConferenceHelper.js"></script>
  <script src="scripts/services/U.js"></script>
  <!-- endbuild -->

  <script type="text/javascript" src="//airbrake.io/javascripts/notifier.js"></script>
  <script type="text/javascript">
    Hoptoad.setKey('e7a93aafa70a5d3929679c5ad95bf8c7');
    Hoptoad.setHost('errors.uscm.org');
  </script>
</head>

<body ng-class="globalPage.bodyClass" ng-cloak>

<div ng-show="globalPage.type === 'admin'">
  <div class="alert alert-warning eventhub-growl" ng-show="growlMessage">
    <button type="button" class="close" ng-click="growlMessage=''">&times;</button>
    <p>{{growlMessage}} <a href="" ng-click="growlUndo()" class="alert-link">Undo</a></p>
  </div>
  <header id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <a class="logo" href="#/eventDashboard">
            <i class="fa fa-users"></i> Event Registration Tool
          </a>
        </div>
        <div class="col-xs-6 usr-greeting">
          <div class="btn-group">
            <button type="button" class="btn btn-default name-btn">Hello <strong ng-bind="globalGreetingName"></strong></button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#/logout/">Logout</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="pagetitle" ng-class="globalPage.class">
    <div class="container">
      <div class="row">
        <div ng-class="{'col-xs-3': globalPage.class === 'dashboard', 'col-xs-4': globalPage.class !== 'dashboard'}">
          <h1 ng-bind="globalPage.title"></h1>
        </div>
        <div ng-class="{'col-xs-6': globalPage.class === 'dashboard', 'col-xs-5': globalPage.class !== 'dashboard'}">
          <nav id="subnav" ng-show="globalPage.mainClass !== 'dashboard'" admin-nav>
          </nav>
        </div>
        <div class="col-xs-3 right">
          <a href="#/help/" class="btn btn-primary help-btn" role="button" ng-show="globalPage !== 'dashboard'"><i class="fa fa-medkit"></i> I Need Help!</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div ng-show="globalPage.type === 'landing'">
  <header id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <a class="logo" href="/">
              <i class="fa fa-users"></i> Event Registration Tool
          </a>
        </div>
        <div class="col-xs-6">
        </div>
      </div>
    </div>
  </header>
</div>

<div ng-show="globalPage.type === 'registration'">
  <header id="frontheader">
  </header>
  <section id="frontpagetitle">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 ng-bind="globalPage.title"></h1>
        </div>
      </div>
    </div>
  </section>

  <div class="row" ng-show="registerMode==='preview'" style="text-align:center; background:rgba(255, 165, 0, .5); padding:8px; margin:auto; ">
    <div class="col-xs-12" style="font-size:24px;">
      Preview Mode
    </div>
    <div class="col-xs-12" style="font-size:12px;">
      <ul class="horizontal">
        <li class=""><a ng-href="#/eventOverview/{{globalPage.confId}}">Overview</a></li>
        <li class=""><a ng-href="#/eventRegistrations/{{globalPage.confId}}">Registrations</a></li>
        <li class=""><a ng-href="#/eventDetails/{{globalPage.confId}}">Details</a></li>
        <li class=""><a ng-href="#/eventForm/{{globalPage.confId}}">Questions</a></li>
      </ul>
    </div>
  </div>
</div>

<main class="container" ng-class="globalPage.mainClass" ng-view=""></main>

<footer id="pagefooter" ng-show="globalPage.footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <ul class="horizontal blue">
          <li><a href="#/privacy/">Privacy Policy</a></li>
          <li><a href="#/help/">Help</a></li>
          <li ng-show="environment === 'staging'"><a ng-href="http://localhost:9000/#/auth/{{crsToken}}">Local Dev Environment</a></li>
        </ul>
      </div>
      <div class="col-xs-4 right">
        <span>&copy; 2014 | <a href="http://www.cru.org" target="_blank">Cru</a></span>
      </div>
    </div>
  </div>
</footer>

<footer id="frontfooter" ng-show="globalPage.type === 'registration'">
  <div class="container">
    <span>&copy; 2014 | Created with Event Registration Tool, powered by <a href="http://www.cru.org" target="_blank">Cru</a></span>
  </div>
</footer>
</body>
</html>
