<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Event Registration Tool</title>
</head>

<body>

  <header id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <a class="logo" href="/">
              <i class="fa fa-users"></i> Event Registration Tool
          </a>
        </div>
        <div class="col-xs-6">
        </div>
      </div>
    </div>
  </header>
  <main class="container">
    <h2>Maintenance Mode</h2>
    <p>Sorry for the inconvenience. We are currently deploying some new features to the Event Registration Tool and will be back up in a few minutes.</p>
  </main>
</body>
</html>
