<div ng-show="!currentPayment.scholarship.staffEmail">
  <label>Find your Cru Staff:</label>
  <span class="pull-right" ng-show="loadingStaff"><i class="fa fa-spinner fa-spin"></i> Searching...</span>
  <input type="text" ng-model="staffSelectTypeahead" placeholder="" class="form-control"
         typeahead="staff.lastName + ', ' + staff.firstName + ' (' + staff.email + ')' for staff in searchStaff($viewValue)"
         typeahead-loading="loadingStaff"
         typeahead-wait-ms="300"
         typeahead-input-formatter="null"
         typeahead-on-select="selectStaff($item, $model, $label)">
</div>

<div class="well" ng-show="currentPayment.scholarship.staffEmail">
  <div class="pull-right">
    <a href="" ng-click="currentPayment.scholarship = {}">Choose different staff member</a>
  </div>
  <strong>{{currentPayment.scholarship.staffApprovalName}}</strong><br>
  {{currentPayment.scholarship.staffEmail}}
</div>