<div class="row">
  <div class="col-sm-12 spacing-below-sm">
    <input
      show-errors="group"
      type="text"
      class="form-control"
      placeholder="{{ 'Address Line 1' | translate }}"
      ng-model="answer.value.address1"
      ng-model-options="{ debounce: 1000 }"
      ng-required="block.required"
      ng-disabled="editBlock"
    />
  </div>
  <div class="col-sm-12 spacing-below-sm">
    <input
      type="text"
      class="form-control has-no-error"
      placeholder="{{ 'Address Line 2' | translate }}"
      ng-model="answer.value.address2"
      ng-model-options="{ debounce: 1000 }"
      ng-disabled="editBlock"
    />
  </div>
  <div class="col-sm-6 stacked-spacing-col-sm">
    <input
      show-errors="group"
      type="text"
      class="form-control"
      placeholder="{{ 'City' | translate }}"
      ng-model="answer.value.city"
      ng-model-options="{ debounce: 1000 }"
      ng-required="block.required"
      ng-disabled="editBlock"
    />
  </div>
  <div class="col-sm-3 stacked-spacing-col-sm">
    <select
      show-errors="group"
      ng-model="answer.value.state"
      ng-model-options="{ debounce: 1000 }"
      ng-required="block.required"
      class="form-control"
      ng-disabled="editBlock"
      uib-tooltip="{{ conference.locationCountry !== 'US' ?
      'Fill out only if applicable based on your events address.' : ''
      | translate
      }}"
      ng-if="currentRegions(answer.value.country).length > 1"
    >
      <option value="" disabled selected>State/Region</option>
      <option
        ng-repeat="region in currentRegions(answer.value.country)"
        ng-value="region[0]"
        >{{region[0]}}
      </option>
    </select>
    <input
      show-errors="group"
      uib-tooltip="{{ 
        'Fill out only if applicable based on your events address.' 
        | translate 
      }}"
      type="text"
      class="form-control"
      ng-model="answer.value.state"
      ng-model-options="{ debounce: 1000 }"
      ng-required="block.required"
      ng-disabled="editBlock"
      ng-if="currentRegions(answer.value.country).length <= 1"
    />
  </div>
  <div class="col-sm-3">
    <input
      show-errors="group"
      uib-tooltip="{{ answer.value.country !== 'US' ?
      'Fill out only if applicable based on your address' : ''
        | translate
      }}"
      type="text"
      class="form-control"
      placeholder="{{ answer.value.country !== 'US' ? 'ZIP' : 'Postal Code' | translate }}"
      ng-model="answer.value.zip"
      ng-model-options="{ debounce: 1000 }"
      ng-required="block.required"
      ng-disabled="editBlock"
    />
  </div>
  <div class="col-sm-12 spacing-above-sm">
    <select
      show-errors="group"
      ng-model="answer.value.country"
      class="form-control"
      ng-required="block.required"
      ng-model-options="{ debounce: 1000 }"
      ng-disabled="editBlock"
    >
      <option ng-repeat="country in countries" ng-value="country[1]"
        >{{country[0]}}
      </option>
    </select>
  </div>
</div>
