<div ng-repeat="choice in block.content.choices" class="checkbox">
  <label tooltip="{{'Selecting an answer displays it as preselected on the registration form' | translate}}" 
  tooltip-enable="{{isAdmin}}">
    <input type="checkbox"
           show-errors
           ng-required="block.required && !atLeastOneChecked()"
           ng-model="answer.value[choice.value]"
           ng-value="true"> <strong>{{choice.value}}</strong>
    <span ng-show="choice.desc" class="display-linebreaks"> - {{choice.desc}}</span>
    <span ng-show="choice.amount"> - {{choice.amount | currency:'$'}}</span>
  </label>
</div>
