<div class="row">
  <div class="col-sm-2 stacked-spacing-col-sm">
    <select
      show-errors="group"
      ng-required="block.required"
      ng-model="answer.value.month"
      class="form-control"
      uib-tooltip="{{
    'Selecting an answer displays it as preselected on the registration form.'
      | translate
  }}"
      tooltip-enable="{{ isAdmin }}"
    >
      <option value="" translate>Month...</option>
      <option
        value="{{ ::$index + 1 }}"
        ng-repeat="month in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; track by $index"
        ng-selected="{{ month === answer.value.month }}"
      >
        {{ ::month }}
      </option>
    </select>
  </div>
  <div class="col-sm-2">
    <select
      show-errors="group"
      ng-required="block.required"
      ng-model="answer.value.year"
      class="form-control"
      uib-tooltip="{{
    'Selecting an answer displays it as preselected on the registration form.'
      | translate
  }}"
      tooltip-enable="{{ isAdmin }}"
    >
      <option value="" translate>Year...</option>
      <option
        value="{{ ::year }}"
        ng-repeat="year in getYears() track by $index"
        ng-selected="{{ choice === answer.value.year }}"
      >
        {{ ::year }}
      </option>
    </select>
  </div>
</div>
