<div class="row">
  <div class="col-sm-4">
    <p class="input-group">
      <input
        type="text"
        class="form-control"
        uib-datepicker-popup="MMMM yyyy"
        ng-model="answer.value"
        is-open="opened"
        datepicker-options="dateOptions"
        close-text="Close"
        alt-input-formats="altInputFormats"
        placeholder="Month - Year"
        ng-required="block.required"
      />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open()">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
</div>
