<div class="row">
  <div class="col-sm-6 stacked-spacing-col-sm">
    <input
      show-errors="group"
      type="text"
      class="form-control"
      placeholder="{{'First Name' | translate}}"
      ng-model="answer.value.firstName"
      ng-required="block.required"
      ng-disabled="editBlock"
    />
  </div>
  <div class="col-sm-6">
    <input
      show-errors="group"
      type="text"
      class="form-control"
      placeholder="{{'Last Name' | translate}}"
      ng-model="answer.value.lastName"
      ng-required="block.required"
      ng-disabled="editBlock"
    />
  </div>
</div>
