<div class="row">
  <div class="col-sm-6 stacked-spacing-col-sm">
    <input
      show-errors="group"
      type="text"
      class="form-control"
      placeholder="{{ 'First Name' | translate }}"
      ng-model="answer.value.firstName"
      ng-model-options="{ debounce: 300 }"
      ng-required="block.required"
      ng-disabled="editBlock"
    />
  </div>
  <div class="col-sm-6">
    <input
      show-errors="group"
      type="text"
      class="form-control"
      placeholder="{{ 'Last Name' | translate }}"
      ng-model="answer.value.lastName"
      ng-model-options="{ debounce: 300 }"
      ng-required="block.required"
      ng-disabled="editBlock"
    />
  </div>
</div>
