<input show-errors type="number" ng-model="answer.value" ng-required="block.required" class="form-control" ng-disabled="editBlock"
        ng-model-options="{debounce: 600}" min="{{block.content.range.min}}" max="{{block.content.range.max}}" />
<span class="help-block help-block-hidden" translate>Please enter a valid number</span>
<div ng-if="block.content.range && (block.content.range.min || block.content.range.max)" class="help-block row" translate>
        <label class="valid-range-msg">Valid Range:</label>
        <span ng-if="block.content.range.min && block.content.range.min!=''">Min- {{block.content.range.min}} </span>
        <span ng-if="block.content.range.max && block.content.range.max !=''"> Max- {{block.content.range.max}}</span>
</div>