<div ng-form="blockForm">
  <ul class="unstyled">
    <li data-ng-repeat="choice in block.content.choices">
      <input name="{{block.id}}"
             id="{{block.id}}{{choice}}"
             type="radio"
             ng-required="block.required"
             ng-model="answer.value"
             ng-value="choice">
      <label class="crs-radio-label" for="{{block.id}}{{choice}}">
        <span></span>
        <tag ng-show="!editMode">{{choice}}</tag>
        <tag ng-show="editMode"><input type="text" data-ng-model="choice"> <a class="crs-icon-container" href=""
                                                                              data-ng-click="editBlockDeleteOption($index)">
          <div data-icon="&#xe025;" class="icon crs-icon crs-icon-cross"></div>
        </a></tag>
      </label>
    </li>
    <li ng-show="editMode">
      <input id="{{block.id}}-new" type="radio" name="{{block.id}}">
      <label for="{{block.id}}-new"><span></span>
        <div class="input-append">
          <input data-ng-model="editBlockAddOptionValue" type="text" placeholder="Add Option">
          <a class="btn" data-ng-click="editBlockAddOption();">Add</a>
        </div>
      </label>
    </li>
  </ul>
</div>