<div class="radio" ng-repeat="choice in block.content.choices">
  <label>
    <input type="radio"
           show-errors
           name="{{block.id}}"
           ng-model="answer.value"
           ng-value="choice.value">
    <strong>{{choice.value}}</strong>
    <span ng-if="choice.desc" class="display-linebreaks"> - {{choice.desc}}</span>
    <span ng-if="choice.amount"> - {{choice.amount | currency:'$'}}</span>
  </label>
</div>
<label ng-if="block.content.otherOption.enabled">
  <input type="radio" ng-model="answer.value" ng-value="otherAnswer">
  <input type="text" class="form-control" ng-model="otherAnswer" ng-change="answer.value = otherAnswer" style="display:inline;width:auto;">
</label>
