<div class="row" ng-form="addressForm">
  <div class="col-sm-12 spacing-below-sm">
    <input
      show-errors="group"
      type="text"
      id="block-input-{{block.id}}"
      name="address1"
      class="form-control"
      placeholder="{{ 'Address Line 1' | translate }}"
      ng-model="answer.value.address1"
      ng-model-options="{ allowInvalid: true, debounce: 1000 }"
      ng-required="block.required"
      ng-disabled="editBlock"
      maxlength="{{ addressRules.maxLengths.address1 }}"
    />
  </div>
  <div class="col-sm-12 spacing-below-sm">
    <input
      show-errors="group"
      type="text"
      name="address2"
      class="form-control"
      placeholder="{{ 'Address Line 2' | translate }}"
      ng-model="answer.value.address2"
      ng-model-options="{ allowInvalid: true, debounce: 1000 }"
      ng-disabled="editBlock"
      maxlength="{{ addressRules.maxLengths.address2 }}"
    />
  </div>
  <div class="col-sm-6 stacked-spacing-col-sm">
    <input
      show-errors="group"
      type="text"
      name="city"
      class="form-control"
      placeholder="{{ 'City' | translate }}"
      aria-describedby="city-format-{{block.id}}"
      ng-model="answer.value.city"
      ng-model-options="{ allowInvalid: true, debounce: 1000 }"
      ng-required="block.required"
      ng-disabled="editBlock"
      maxlength="{{ addressRules.maxLengths.city }}"
      ng-pattern="addressRules.patterns.city"
    />
    <span
      id="city-format-{{block.id}}"
      class="help-block"
      ng-if="addressForm.city.$error.pattern"
      translate
    >
      City must include at least one letter.
    </span>
  </div>
  <div class="col-sm-3 stacked-spacing-col-sm">
    <select
      show-errors="group"
      class="form-control"
      aria-label="{{'State/Region' | translate}}"
      ng-model="answer.value.state"
      ng-model-options="{ debounce: 1000 }"
      ng-required="block.required"
      ng-disabled="editBlock"
      uib-tooltip="{{ answer.value.country !== 'US' ?
      'Fill out only if applicable based on your address.' : ''
      | translate
      }}"
      ng-if="currentRegions(answer.value.country).length > 1"
    >
      <option value="" disabled selected>State/Region</option>
      <option
        ng-repeat="region in currentRegions(answer.value.country)"
        ng-value="region[1]"
      >
        {{region[0]}}
      </option>
    </select>
    <input
      show-errors="group"
      uib-tooltip="{{
        'Fill out only if applicable based on your address.'
        | translate
      }}"
      type="text"
      name="state"
      class="form-control"
      ng-model="answer.value.state"
      ng-model-options="{ debounce: 300 }"
      ng-required="block.required && answer.value.country === 'US'"
      ng-disabled="editBlock"
      maxlength="{{ addressRules.maxLengths.state }}"
      ng-if="currentRegions(answer.value.country).length <= 1"
      placeholder="{{ 'State/Region' | translate }}"
    />
  </div>
  <div class="col-sm-3">
    <input
      show-errors="group"
      uib-tooltip="{{ answer.value.country !== 'US' ?
      'Fill out only if applicable based on your address' : ''
        | translate
      }}"
      type="text"
      name="zip"
      class="form-control"
      placeholder="{{ answer.value.country !== 'US' ? 'ZIP' : 'Postal Code' | translate }}"
      aria-describedby="zip-format-{{block.id}}"
      ng-model="answer.value.zip"
      ng-model-options="{ allowInvalid: true, debounce: 1000 }"
      ng-required="block.required && answer.value.country === 'US'"
      ng-disabled="editBlock"
      maxlength="{{ addressRules.maxLengths.zip }}"
      ng-pattern="addressRules.patterns.zip"
    />
    <span
      id="zip-format-{{block.id}}"
      class="help-block"
      ng-if="addressForm.zip.$error.pattern"
      translate
    >
      Postal code must contain at least one number, and can only include
      letters, numbers, spaces, and hyphens.
    </span>
  </div>
  <div class="col-sm-12 spacing-above-sm">
    <select
      show-errors="group"
      ng-model="answer.value.country"
      class="form-control"
      aria-label="{{'Country' | translate}}"
      ng-required="block.required"
      ng-model-options="{ debounce: 300 }"
      ng-disabled="editBlock"
    >
      <option ng-repeat="country in countries" ng-value="country[1]">
        {{country[0]}}
      </option>
    </select>
  </div>
</div>
