<div class="form-group has-feedback">
  <input
    id="block-input-{{block.id}}"
    type="text"
    ng-model="answer.value"
    placeholder=""
    name="campus"
    autocomplete="off"
    aria-autocomplete="none"
    aria-describedby="help-block-{{block.id}}"
    class="form-control"
    show-errors
    ng-required="block.required"
    uib-typeahead="campus for campus in searchCampuses($viewValue)"
    typeahead-loading="loadingCampuses"
    typeahead-min-length="2"
    typeahead-wait-ms="200"
    typeahead-editable="false"
    typeahead-no-results="campusNotFound"
    typeahead-show-hint="true"
  />
  <span
    class="form-control-feedback"
    title="Searching..."
    ng-if="loadingCampuses"
  >
    <i class="fa fa-spinner fa-spin"></i>
  </span>
  <span
    id="help-block-{{block.id}}"
    ng-if="campusNotFound"
    class="help-block"
    translate
  >
    *Campus not found. Type the full name of your campus.
  </span>
</div>
