<h2 class="page-title border" translate>Contact Information</h2>
<p class="text-muted">
  <i class="fa fa-info-circle"></i>
  <translate
    >This information will be displayed publicly on the registration welcome
    page.</translate
  >
</p>

<div class="form-group">
  <div class="col-sm-6 stacked-spacing-col-sm">
    <label translate>Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="John Smith"
      ng-model="conference.contactPersonName"
    />
  </div>
  <div class="col-sm-6 stacked-spacing-col-sm">
    <label translate>Email</label>
    <input
      type="email"
      class="form-control"
      placeholder="example@email.com"
      ng-model="conference.contactPersonEmail"
    />
  </div>
</div>
<div class="form-group">
  <div class="col-sm-6">
    <label translate>Phone</label>
    <input
      type="text"
      class="form-control"
      placeholder="(XXX) XXX-XXXX"
      ng-model="conference.contactPersonPhone"
    />
  </div>
  <div class="col-sm-6">
    <label translate>Website</label>
    <input
      type="text"
      class="form-control"
      placeholder="www.example.com"
      ng-model="conference.contactWebsite"
    />
  </div>
</div>
