<h2 class="page-title border">Contact Information</h2>
<p class="text-muted"><i class="fa fa-info-circle"></i> This information will be displayed publicly on the registration welcome page.</p>

<div class="form-group">
  <div class="col-sm-4 stacked-spacing-sm">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="John Smith" ng-model="conference.contactPersonName">
  </div>
  <div class="col-sm-4 stacked-spacing-sm">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="example@email.com" ng-model="conference.contactPersonEmail">
  </div>
  <div class="col-sm-4">
    <label>Phone</label>
    <input type="text" class="form-control" placeholder="(XXX) XXX-XXXX" ng-model="conference.contactPersonPhone">
  </div>
</div>
