<h2 class="page-title border" translate>Payment Options</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" translate>Credit Card</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-sm-12 stacked-spacing-col-sm" ng-if="originalConference.paymentGatewayType === 'AUTHORIZE_NET'">
        <label translate>Select A Payment Gateway Type:</label>
        <select class="form-control" ng-options="key as value.name for (key, value) in paymentGateways" ng-model="conference.paymentGatewayType"></select>
      </div>
    </div>
    <p class="text-muted">
      <i class="fa fa-info-circle"></i>
      <span ng-if="getPaymentGatewayType() === 'AUTHORIZE_NET'">
        <translate>If you will be accepting credit card payments for your event, you must have an Authorize.NET merchant account from a credit card processing vendor.</translate>
        <translate>For information on obtaining a merchant account, please see your regional Financial Professional or Operations Director.</translate>
      </span>
      <span ng-if="getPaymentGatewayType() === 'TSYS'">
        <translate>If accepting credit card payments for your event, you will need a merchant account from a credit card processing vendor.</translate>
        <translate>For details about an existing merchant account, contact your team's finance/operations leader.</translate>
        <translate>For a new merchant account, email merchant.account@cru.org with your request.</translate>
      </span>
    </p>
    <div class="form-group">
      <div class="col-sm-6 stacked-spacing-above-col-sm" ng-show="conference.paymentGatewayKeySaved">
        <label translate>{{paymentGateways[getPaymentGatewayType()].fields.paymentGatewayId.title}}:</label>
        <p>{{conference.paymentGatewayId}}
          <button type="button" class="btn btn-default" ng-click="conference.paymentGatewayKeySaved = false">
            <i class="fa fa-pencil"></i> <translate>Edit</translate>
          </button>
        </p>
      </div>
    </div>
    <div ng-show="!conference.paymentGatewayKeySaved">
      <div class="form-group" ng-repeat="(fieldName, field) in paymentGateways[getPaymentGatewayType()].fields">
        <div class="col-xs-12">
          <label translate>{{field.title}}:</label>
          <input class="form-control" type="text" ng-model="conference[fieldName]" autocomplete="off">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" translate>Checks</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-xs-12">
        <label translate>Make checks payable to:</label>
        <input class="form-control" type="text" ng-model="conference.checkPayableTo">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <label translate>Mail checks to:</label>
        <input type="text" class="form-control" placeholder="{{'Address' | translate}}" ng-model="conference.checkMailingAddress">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 stacked-spacing-col-sm">
        <input type="text" class="form-control" placeholder="{{'City' | translate}}" ng-model="conference.checkMailingCity">
      </div>
      <div class="col-sm-3 stacked-spacing-col-sm">
        <select class="form-control" ng-model="conference.checkMailingState">
          <option value="AL" translate>Alabama</option>
          <option value="AK" translate>Alaska</option>
          <option value="AZ" translate>Arizona</option>
          <option value="AR" translate>Arkansas</option>
          <option value="CA" translate>California</option>
          <option value="CO" translate>Colorado</option>
          <option value="CT" translate>Connecticut</option>
          <option value="DE" translate>Delaware</option>
          <option value="DC" translate>District Of Columbia</option>
          <option value="FL" translate>Florida</option>
          <option value="GA" translate>Georgia</option>
          <option value="HI" translate>Hawaii</option>
          <option value="ID" translate>Idaho</option>
          <option value="IL" translate>Illinois</option>
          <option value="IN" translate>Indiana</option>
          <option value="IA" translate>Iowa</option>
          <option value="KS" translate>Kansas</option>
          <option value="KY" translate>Kentucky</option>
          <option value="LA" translate>Louisiana</option>
          <option value="ME" translate>Maine</option>
          <option value="MD" translate>Maryland</option>
          <option value="MA" translate>Massachusetts</option>
          <option value="MI" translate>Michigan</option>
          <option value="MN" translate>Minnesota</option>
          <option value="MS" translate>Mississippi</option>
          <option value="MO" translate>Missouri</option>
          <option value="MT" translate>Montana</option>
          <option value="NE" translate>Nebraska</option>
          <option value="NV" translate>Nevada</option>
          <option value="NH" translate>New Hampshire</option>
          <option value="NJ" translate>New Jersey</option>
          <option value="NM" translate>New Mexico</option>
          <option value="NY" translate>New York</option>
          <option value="NC" translate>North Carolina</option>
          <option value="ND" translate>North Dakota</option>
          <option value="OH" translate>Ohio</option>
          <option value="OK" translate>Oklahoma</option>
          <option value="OR" translate>Oregon</option>
          <option value="PA" translate>Pennsylvania</option>
          <option value="RI" translate>Rhode Island</option>
          <option value="SC" translate>South Carolina</option>
          <option value="SD" translate>South Dakota</option>
          <option value="TN" translate>Tennessee</option>
          <option value="TX" translate>Texas</option>
          <option value="UT" translate>Utah</option>
          <option value="VT" translate>Vermont</option>
          <option value="VA" translate>Virginia</option>
          <option value="WA" translate>Washington</option>
          <option value="WV" translate>West Virginia</option>
          <option value="WI" translate>Wisconsin</option>
          <option value="WY" translate>Wyoming</option>
          <option value="WY" translate>Wyoming</option>
        </select>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="{{'Postal Code' | translate}}" ng-model="conference.checkMailingZip">
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" ng-show="conference.cruEvent">
  <div class="panel-heading">
    <h3 class="panel-title" translate>Cru Event Chartfield</h3>
  </div>
  <div class="panel-body">
    <p translate>Through which chartfield will you run this event's income and expenses?</p>
    <div class="row form-group">
      <div class="col-sm-3">
        <label translate>Business Unit</label>
        <input ng-model="conference.businessUnit" type="text" class="form-control">
      </div>

      <div class="col-sm-3">
        <label translate>Operating Unit</label>
        <input ng-model="conference.operatingUnit" type="text" class="form-control">
      </div>

      <div class="col-sm-3">
        <label translate>Department</label>
        <input ng-model="conference.department" type="text" class="form-control">
      </div>

      <div class="col-sm-3">
        <label translate>Project Id</label>
        <input ng-model="conference.projectId" type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
