<h2 class="page-title border" translate>Promotions</h2>

<div ng-repeat="promo in conference.promotions">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3 col-md-push-9 text-right">
          <a href="" ng-click="openWell[promo.id] = !openWell[promo.id]">
            <i
              class="fa fa-inset fa-inset-reg-type"
              ng-class="{'fa-chevron-up': openWell[promo.id], 'fa-chevron-down': !openWell[promo.id]}"
            ></i>
          </a>
        </div>
        <div class="col-md-5 col-md-pull-3 stacked-spacing-col-md">
          <label translate>Code</label>
          <input type="text" class="form-control" ng-model="promo.code" />
        </div>
        <div class="col-md-3 col-md-pull-3 stacked-spacing-col-md">
          <label translate>Discount Amount</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="currency-label"
                >{{conference.currency.currencyCode | localizedSymbol}}</span
              >
            </span>
            <input type="text" class="form-control" ng-model="promo.amount" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row form-group">
          <div class="col-sm-3">
            <label translate>Business Unit</label>
            <input
              ng-model="promo.businessUnit"
              type="text"
              class="form-control"
            />
          </div>

          <div class="col-sm-3">
            <label translate>Operating Unit</label>
            <input
              ng-model="promo.operatingUnit"
              type="text"
              class="form-control"
            />
          </div>

          <div class="col-sm-3">
            <label translate>Department</label>
            <input
              ng-model="promo.department"
              type="text"
              class="form-control"
            />
          </div>

          <div class="col-sm-3">
            <label translate>Project Id</label>
            <i
              class="fa fa-question-circle"
              button
              uib-popover="{{'If there is no Project Id (or `NONE`), leave blank' | translate}}"
              popover-trigger="'mouseenter'"
              popover-append-to-body="true"
            >
            </i>
            <input
              ng-model="promo.projectId"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body" ng-if="openWell[promo.id]">
      <button
        class="btn btn-xs btn-danger reg-type-delete"
        ng-click="$parent.conference.promotions.splice($index, 1)"
        type="button"
      >
        <i class="fa fa-trash-o"></i> <translate>Delete</translate
        ><span class="hidden-xs"> <translate>Promotion Code</translate></span>
      </button>
      <div class="row">
        <div class="col-md-6">
          <div>
            <label translate>Description</label>
            <textarea
              class="form-control"
              ng-model="promo.description"
            ></textarea>
          </div>

          <div class="pt12">
            <label translate>Validity Range</label>
            <div class="row">
              <div class="col-sm-6 stacked-spacing-col-sm">
                <crs-datetimepicker
                  model="promo.activationDate"
                ></crs-datetimepicker>
              </div>
              <div class="col-sm-6 stacked-spacing-col-sm">
                <crs-datetimepicker
                  model="promo.deactivationDate"
                ></crs-datetimepicker>
              </div>
            </div>
          </div>

          <div class="pt12">
            <label translate>Usage limit</label>
            <button
              type="button"
              class="btn btn-default btn-block"
              ng-if="!promo.numberLimit"
              ng-click="promo.numberLimit = 10"
              translate
            >
              Enable Limit
            </button>
            <div class="input-group" ng-if="promo.numberLimit">
              <input
                type="number"
                ng-model="promo.numberLimit"
                class="form-control"
                min="0"
              />
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="promo.numberLimit = 0"
                  translate
                >
                  Disable Limit
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <h4 translate>Registrant Types</h4>
          <p class="text-muted" translate>
            The promotion code will be applied to the following registrant
            types:
          </p>
          <div class="checkbox" ng-repeat="type in conference.registrantTypes">
            <label>
              <input
                type="checkbox"
                ng-checked="$parent.promo.registrantTypeIds.indexOf(type.id) != -1"
                ng-click="promotionRegistrantTypeToggle($parent.promo.registrantTypeIds, type.id)"
              />
              {{type.name}}
            </label>
          </div>

          <div class="input-group pt12">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="promo.applyToAllRegistrants" />
                <translate
                  >Apply discount to everyone in registration</translate
                >
              </label>
              <i
                class="question-popover fa fa-question-circle"
                uib-popover="{{'Applies discount to all registrants in the registration, if applicable. If unchecked, discount will only be applied once per registration.' | translate}}"
                popover-trigger="'mouseenter'"
                popover-append-to-body="true"
              >
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="" ng-click="addPromotion()">
  <i class="fa fa-plus"></i> <translate>Add Promotion Code</translate>
</a>
