<h2 class="page-title border" translate>Registration Options</h2>
<div class="form-group">
  <div class="col-sm-6 stacked-spacing-col-sm">
    <label><translate>Registration Starts</translate> <em class="required">*</em></label>
    <crs-datetimepicker model="conference.registrationStartTime"></crs-datetimepicker>
  </div>
  <div class="col-sm-6">
    <label><translate>Registration Ends</translate> <em class="required">*</em></label>
    <crs-datetimepicker model="conference.registrationEndTime"></crs-datetimepicker>
  </div>
</div>

<div class="form-group">
  <div class="col-xs-12">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="conference.requireLogin">
        <translate>Require Relay or Facebook sign in to register</translate>
      </label>
      <i class="question-popover fa fa-question-circle"
         uib-popover="{{'Requiring users to login gives them the option to come back at a later time and finish making payments (if applicable) and/or modify their registration (if enabled below).' | translate}}"
         popover-trigger="mouseenter"
         popover-append-to-body="true">
      </i>
    </div>

    <div class="checkbox">
      <label><input type="checkbox" ng-model="conference.allowEditRegistrationAfterComplete">
        <translate>Allow users to modify their registration after it is complete</translate>
      </label>
      <i class="question-popover fa fa-question-circle"
         uib-popover="{{'This includes editing answers and adding family members.' | translate}}"
         popover-trigger="mouseenter"
         popover-append-to-body="true">
      </i>
    </div>

    <div class="checkbox">
      <label><input type="checkbox" ng-model="conference.combineSpouseRegistrations">
        <translate>Combine spouse registrations</translate>
      </label>
      <i class="question-popover fa fa-question-circle"
         uib-popover="{{'Combining spouse registrations will force a husband and wife to be on the same family registration instead of on two separate registrations. Note that the first spouse must register as a registrant type that allows family members for this option to have any effect.' | translate}}"
         popover-trigger="mouseenter"
         popover-append-to-body="true">
      </i>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <label translate>Registration completion redirect</label>
    <i class="question-popover fa fa-question-circle"
       uib-popover="{{'Users will be redirected to the page below upon completion of their registration.' | translate}}"
       popover-trigger="mouseenter"
       popover-append-to-body="true">
    </i>
    <input type="text" class="form-control" placeholder="www.example.com" ng-model="conference.registrationCompleteRedirect">
  </div>
</div>
