<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h3 translate>Request Access</h3>
</div>
<div class="modal-body">
  <div ng-show="!selectedEvent">
    <p translate>Enter the name of the event that you would like to request access to:</p>
    <div class="form-group has-feedback">
      <input type="text" ng-model="eventSearchTypeahead" placeholder="" class="form-control" auto-focus
             uib-typeahead="e.name for e in eventSearch($viewValue)"
             typeahead-loading="loading"
             typeahead-wait-ms="300"
             typeahead-input-formatter="null"
             typeahead-on-select="selectEvent($item, $model, $label)">
      <span class="form-control-feedback" title="Searching..." ng-if="loading">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="eventSearchHistoric"> <span translate>Include events from the past year</span>
      </label>
    </div>
  </div>
  <div class="well" ng-show="selectedEvent">
    <div class="pull-right">
      <a href="" ng-click="selectedEvent = null" translate>Choose a different event</a>
    </div>
    <p><strong>{{selectedEvent.name}}</strong><br />
      {{selectedEvent.description}}</p>
    <p><strong translate>Dates:</strong> {{selectedEvent.eventStartTime | evtDateFormat: selectedEvent.eventTimezone}} - {{selectedEvent.eventEndTime | evtDateFormat: selectedEvent.eventTimezone}}</p>
    <p><strong translate>Contact:</strong>
      <span ng-if="selectedEvent.contactPersonName">{{selectedEvent.contactPersonName}}</span>
      <span ng-if="selectedEvent.contactPersonEmail"> | <a ng-href="mailto:{{selectedEvent.contactPersonEmail}}">{{selectedEvent.contactPersonEmail}}</a></span>
      <span ng-if="selectedEvent.contactPersonPhone"> | {{selectedEvent.contactPersonPhone}}</span>
    </p>

    <label translate>Reason for requesting access:</label>
    <textarea class="form-control" rows="3" ng-model="reasonForRequest"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="close()" class="btn btn-default" translate>Cancel</button>
  <button ng-if="selectedEvent" ng-click="submit(selectedEvent, reasonForRequest)" class="btn btn-primary" translate>Request Access</button>
</div>
