<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h3>Select Registrant Type</h3>
</div>
<div class="modal-body">
  <div ng-repeat="t in types | orderBy: 'name'" ng-class="{'spacing-above-sm': $index}">
    <button class="btn btn-primary btn-lg btn-block" ng-click="selectType(t)">{{t.name}}</button>
  </div>

  <div class="spacing-above-sm">
    <button class="btn btn-primary btn-lg btn-block" ng-click="selectType({name:'',defaultTypeKey:''})">Other</button>
  </div>
</div>