<form class="crs-form" name="editRegistrationForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 translate>Edit Registrant</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label" translate>Registrant Type</label>
      <select
        class="form-control"
        ng-model="adminEditRegistrant.registrantTypeId"
        ng-options="t.id as t.name for t in conference.registrantTypes"
      ></select>
    </div>

    <div ng-repeat="page in conference.registrationPages">
      <div
        ng-repeat="block in page.blocks"
        ng-if="blockIsVisible(block, adminEditRegistrant)"
        block="block"
        answer="findAnswer(block.id)"
        block-registration
      ></div>
    </div>
  </div>
  <div class="modal-footer">
    <h4 ng-show="saving">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      <translate>Saving</translate>...
    </h4>
    <div ng-show="!saving">
      <button ng-click="close()" class="btn btn-default" translate>
        Cancel
      </button>
      <button
        ng-click="submit(true)"
        ng-disabled="!editRegistrationForm.$valid"
        class="btn btn-info"
        ng-if="!registration.completed"
        translate
      >
        Save &amp; Set as Completed
      </button>
      <button
        ng-click="submit()"
        ng-disabled="!editRegistrationForm.$valid"
        class="btn btn-primary"
        translate
      >
        Save
      </button>
    </div>
  </div>
</form>
