<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h3>Export - {{conference.name}}</h3>
</div>

<div class="modal-body">
  <div>
    <a class="btn btn-primary btn-sm" ng-href="{{apiUrl}}conferences/{{conference.id}}/export/registrations?Authorization={{authTocken}}" target="_blank">
      <i class="fa fa-cloud-download"></i> All Data</a>
    <span>- Download all answers for all registrants.</span>
  </div>

  <div ng-if="hasCost">
    <br>
    <a class="btn btn-primary btn-sm" ng-href="{{apiUrl}}conferences/{{conference.id}}/export/payments?Authorization={{authTocken}}" target="_blank">
      <i class="fa fa-cloud-download"></i> Payments</a>
    <span>- Download payment data for all registrants.</span>
  </div>
</div>
