<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h3>Export - {{conference.name}}</h3>
</div>

<div class="modal-body">
  <a class="btn btn-primary btn-sm" ng-href="{{apiUrl}}conferences/{{conference.id}}/export/registrations?Authorization={{authToken}}" target="_blank">
    <i class="fa fa-cloud-download"></i> Registrations</a>
  <span>- Download all registrations and answers.</span>

  <br><br>
  <a class="btn btn-primary btn-sm" ng-href="{{apiUrl}}conferences/{{conference.id}}/export/payments?Authorization={{authToken}}" target="_blank">
    <i class="fa fa-cloud-download"></i> Payments</a>
  <span>- Download payment data.</span>
</div>
