<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h3>Welcome to the Event Registration Tool!</h3>
</div>
<div class="modal-body">
  <div align="center">
    <p class="lead spacing-below-xs">
      Sign in with one of the following services:
    </p>
    <p>
      <a class="btn btn-subtle btn-spacing" ng-href="{{apiUrl}}auth/facebook/authorization" title="Facebook"><img src="/img/signin-facebook.png"></a>
      <a class="btn btn-subtle btn-spacing" ng-href="{{apiUrl}}auth/relay/login?logoutCallbackUrl={{apiUrl}}auth/relay/logout" title="Relay"><img src="/img/signin-relay.png"></a>
    </p>
    <p>
      <span class="text-muted">or</span>
      <a class="logo ng-scope" href="#/" ng-click="close()">Return to the Welcome Page</a>
    </p>
  </div>
</div>
