<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4><span translate>Payments &amp; Expenses</span>
    <small>
      <ng-pluralize count="registration.registrants.length" offset=2
                    when="{'0': '',
                     '1': '{{registration.registrants[0].firstName}} {{registration.registrants[0].lastName}}',
                     '2': '{{registration.registrants[0].firstName}} {{registration.registrants[0].lastName}} & {{registration.registrants[1].firstName}} {{registration.registrants[1].lastName}}',
                     'one': '{{registration.registrants[0].firstName}} {{registration.registrants[0].lastName}}, {{registration.registrants[1].firstName}} {{registration.registrants[1].lastName}}, & one other',
                     'other': '{{registration.registrants[0].firstName}} {{registration.registrants[0].lastName}}, {{registration.registrants[1].firstName}} {{registration.registrants[1].lastName}}, & {} others'}">
      </ng-pluralize>
    </small>
  </h4>
</div>
<div class="modal-body tab-content-spacing-above">
  <tabset>
    <tab heading="Summary">
      <table class="table">
        <thead>
        <tr>
          <th width="10"></th>
          <th translate>Registrant</th>
          <th width="90" translate>Cost</th>
        </tr>
        </thead>
        <tbody ng-repeat="r in registration.registrants">
        <tr>
          <td>
            <i class="fa"
               ng-class="{'fa-plus-square-o': !expandRegistrantCost[r.id], 'fa-minus-square-o': expandRegistrantCost[r.id]}"
               ng-show="!r.withdrawn"
               ng-click="expandRegistrantCost[r.id] = !expandRegistrantCost[r.id]"></i>
          </td>
          <td ng-class="{'strike-through':r.withdrawn}">{{r.firstName}} {{r.lastName}}</td>
          <td ng-show="!expandRegistrantCost[r.id]">{{r.calculatedTotalDue | currency:'$'}}</td>
        </tr>
        <tr ng-show="expandRegistrantCost[r.id]">
          <td></td>
          <td class="horizon-padding25"><i class="fa fa-angle-right"></i> <span translate>Registration</span></td>
          <td>{{getRegistrantType(r.registrantTypeId).cost | currency:'$'}}</td>
        </tr>
        <tr ng-show="expandRegistrantCost[r.id] && r.calculatedDiscounts > 0">
          <td></td>
          <td class="horizon-padding25"><i class="fa fa-angle-right"></i> <span translate>Early Registration Discount</span></td>
          <td>{{r.calculatedDiscounts * -1 | currency:'$'}}</td>
        </tr>
        <tr ng-repeat="a in r.answers" ng-if="a.amount > 0" ng-show="expandRegistrantCost[r.id]">
          <td></td>
          <td class="horizon-padding25"><i class="fa fa-angle-right"></i> {{getBlock(a.blockId).title}}: <show-answer block="getBlock(a.blockId)" registrant="r"></show-answer></td>
          <td>{{a.amount | currency:'$'}}</td>
        </tr>
        </tbody>
        <tbody ng-repeat="expense in registration.expenses | orderBy:'createdTimestamp'">
        <tr>
          <td></td>
          <td>
            <span ng-if="expense.amount > 0" translate>Additional Expense:</span>
            <span ng-if="expense.amount < 0" translate>Discount:</span>
            {{expense.description}} (entered: {{expense.createdTimestamp | date:'MMM d, y h:mm a'}})
          </td>
          <td>{{expense.amount | currency:'$'}}</td>
        </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-lg-12">
          <table class="table pull-right" style="width:200px;">
            <tr>
              <th translate>Total Cost</th>
              <td width="90">{{registration.calculatedTotalDue | currency:'$'}}</td>
            </tr>
            <tr>
              <th translate>Total Paid</th>
              <td>{{registration.totalPaid | currency:'$'}}</td>
            </tr>
            <tr>
              <th translate>Total Due</th>
              <td>{{registration.remainingBalance | currency:'$'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </tab>
    <tab heading="Payments" active="activeTab[1]">
      <p ng-show="!registration.pastPayments.length" translate>This registration does not contain any payments.</p>
      <div  class="table-responsive">
        <table class="table" ng-show="registration.pastPayments.length">
          <thead>
          <tr>
            <th style="width:190px;" translate>Date</th>
            <th style="width:120px;" translate>Amount</th>
            <th translate>Type</th>
            <th style="width:240px;" translate>Description</th>
            <th style="width:100px"></th>
          </tr>
          </thead>
          <tbody ng-repeat="payment in registration.pastPayments | orderBy:'transactionDatetime'">
          <tr ng-class="{'active': $even}">
            <td>{{payment.transactionDatetime | date:'MMM d, y h:mm a'}}</td>
            <td><span ng-show="payment.paymentType === 'CREDIT_CARD_REFUND' || payment.paymentType === 'REFUND'">-</span>{{payment.amount | currency:'$'}}</td>
            <td>
              <span ng-if="payment.paymentType === 'CREDIT_CARD'"><span translate>Credit Card</span> **{{payment.creditCard.lastFourDigits}}</span>
              <span ng-if="payment.paymentType === 'CHECK'"><span translate>Check</span> #{{payment.check.checkNumber}}</span>
                <span ng-if="payment.paymentType === 'SCHOLARSHIP'">
                  <span ng-if="payment.scholarship.scholarshipStatus === 'APPROVED'">
                    <span ng-if="payment.scholarship.accountType === 'STAFF'" translate>
                      Scholarship from staff {{payment.scholarship.accountNumber}}
                    </span>
                    <span ng-if="payment.scholarship.accountType === 'MINISTRY'" translate>
                      Scholarship from {{payment.scholarship.businessUnit}}/{{payment.scholarship.operatingUnit}}/{{payment.scholarship.department}}/{{payment.scholarship.projectId}}
                    </span>
                  </span>
                  <span ng-if="payment.scholarship.scholarshipStatus === 'REQUESTED'" style="font-style: italic;" translate>Scholarship Requested</span>
                  <span ng-if="payment.scholarship.scholarshipStatus === 'DENIED'" style="font-style: italic;" translate>Scholarship Denied</span>
                </span>
                <span ng-if="payment.paymentType === 'TRANSFER'">
                  <span ng-if="payment.transfer.accountType === 'STAFF'" translate>
                    Staff Transfer from {{payment.transfer.accountNumber}}
                  </span>
                  <span ng-if="payment.transfer.accountType === 'MINISTRY'" translate>
                    Transfer from {{payment.transfer.businessUnit}}/{{payment.transfer.operatingUnit}}/{{payment.transfer.department}}/{{payment.transfer.projectId}}
                  </span>
                </span>
              <span ng-if="payment.paymentType === 'CASH'" translate>Cash</span>
              <span ng-if="payment.paymentType === 'CREDIT_CARD_REFUND'" translate>Credit Card Refund **{{payment.creditCard.lastFourDigits}}</span>
              <span ng-if="payment.paymentType === 'REFUND'" translate>Refund</span>
              <span ng-if="payment.paymentType === 'OFFLINE_CREDIT_CARD'" translate>Offline Credit Card</span>
            </td>
            <td><span ng-if="payment.scholarship.scholarshipStatus === 'REQUESTED'">{{payment.scholarship.staffApprovalName}}</span> {{payment.description}}</td>
            <td class="text-center">
              <div ng-show="editPayment.id !== payment.id">
                <button ng-click="openEditPaymentRow(payment)" title="Edit Payment" class="btn btn-xs"><i class="fa fa-edit"></i></button>
                <button ng-click="startRefund(payment)" ng-show="canBeRefunded(payment)" title="Refund Payment" class="btn btn-xs"><i class="fa fa-undo"></i></button>
                <button ng-click="deletePayment(payment)" ng-show="payment.paymentType !== 'CREDIT_CARD'" title="Delete Payment" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
              </div>

              <button ng-click="openEditPaymentRow(payment)" ng-show="editPayment.id === payment.id" class="btn btn-xs"><i class="fa fa-times"></i> <span translate>Close</span></button>
            </td>
          </tr>
          <tr ng-if="editPayment.id === payment.id" ng-class="{'active': $even}">
            <td colspan="5">
              <div class="form-horizontal col-xs-12">
                <div class="form-group">
                  <label class="col-sm-3 control-label" translate>Amount</label>
                  <div class="col-sm-9">
                    <div ng-show="editPayment.paymentType !== 'CREDIT_CARD'">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                        <input type="number" ng-model="editPayment.amount" class="form-control" step="1" min="0">
                      </div>
                    </div>
                    <div ng-show="editPayment.paymentType === 'CREDIT_CARD'">
                      {{editPayment.amount | currency:'$'}}
                    </div>
                  </div>
                </div>
                <div ng-if="editPayment.paymentType === 'TRANSFER'">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" translate>Account Type</label>
                    <div class="col-sm-9">
                      <select ng-model="editPayment.transfer.accountType" class="form-control">
                        <option value="STAFF" translate>Staff</option>
                        <option value="MINISTRY" translate>Ministry</option>
                      </select>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div ng-show="editPayment.transfer.accountType === 'STAFF'">
                      <label class="col-sm-3 control-label" translate>Account Number</label>
                      <div class="col-sm-9">
                        <input ng-model="editPayment.transfer.accountNumber" type="text" class="form-control">
                      </div>
                    </div>

                    <div ng-show="editPayment.transfer.accountType === 'MINISTRY'">
                      <div class="col-sm-3">
                        <label translate>Business Unit</label>
                        <input ng-model="editPayment.transfer.businessUnit" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Operating Unit</label>
                        <input ng-model="editPayment.transfer.operatingUnit" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Department</label>
                        <input ng-model="editPayment.transfer.department" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Project Id</label>
                        <input ng-model="editPayment.transfer.projectId" type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="editPayment.paymentType === 'SCHOLARSHIP'">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" translate>Account Type</label>
                    <div class="col-sm-9">
                      <select ng-model="editPayment.scholarship.accountType" class="form-control">
                        <option value="STAFF" translate>Staff</option>
                        <option value="MINISTRY" translate>Ministry</option>
                      </select>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div ng-show="editPayment.scholarship.accountType === 'STAFF'">
                      <label class="col-sm-3 control-label" translate>Account Number</label>
                      <div class="col-sm-9">
                        <input ng-model="editPayment.scholarship.accountNumber" type="text" class="form-control">
                      </div>
                    </div>

                    <div ng-show="editPayment.scholarship.accountType === 'MINISTRY'">
                      <div class="col-sm-3">
                        <label translate>Business Unit</label>
                        <input ng-model="editPayment.scholarship.businessUnit" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Operating Unit</label>
                        <input ng-model="editPayment.scholarship.operatingUnit" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Department</label>
                        <input ng-model="editPayment.scholarship.department" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Project Id</label>
                        <input ng-model="editPayment.scholarship.projectId" type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" translate>Description</label>
                  <div class="col-sm-9">
                    <input type="text" ng-model="editPayment.description" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-success" ng-click="savePaymentEdits(editPayment)" translate>Save</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr ng-if="editPayment.id === payment.id && editPayment.paymentType === 'SCHOLARSHIP' && editPayment.scholarship.scholarshipStatus !== 'APPROVED'" ng-class="{'active': $even}">
            <td></td>
            <td colspan="4">
              <p class="text-muted" translate><strong>Note:</strong> Editing this scholarship will mark it as "Approved".</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-show="refund">
        <h4 translate>Refund Payment</h4>
        <table class="table table-striped">
          <tbody>
          <tr>
            <th translate>Date</th>
            <th translate>Refundable Amount</th>
            <th translate>Type</th>
          </tr>
          <tr>
            <td>{{paymentToRefund.transactionDatetime | date:'MMM d, y h:mm a'}}</td>
            <td><span ng-show="paymentToRefund.paymentType === 'CREDIT_CARD_REFUND' || paymentToRefund.paymentType === 'REFUND'">-</span>{{calculateRefundableAmount(paymentToRefund) | currency:'$'}}</td>
            <td>{{paymentToRefund.paymentType}}</td>
          </tr>
          </tbody>
        </table>
        <p class="text-muted"><i class="fa fa-info-circle"></i> <span translate>The selected payment can be refunded up to the amount that was originally received less any refunds already processed against it.</span></p>
        <p class="text-muted" ng-show="isCreditCardPayment()"><i class="fa fa-info-circle"></i> <span translate>The credit card used for this payment will be credited the amount entered here.</span></p>
        <label translate>Amount</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-usd"></i></span>
          <input type="text" class="form-control marginless" ng-model="refund.amount" />
        </div>
        <br />
        <label translate>Description</label>
        <div class="form-group">
          <input type="text" class="form-control marginless" ng-model="refund.description" />
        </div>
        <br />
        <div class="form-group text-right">
          <button class="btn btn-default" ng-if="!processing" ng-click="cancelRefund()" translate>Cancel</button>
          <button class="btn btn-success" ng-show="isCreditCardPayment()" ng-click="processRefund()" ng-show="!processing" translate>Process Refund</button>
          <button class="btn btn-success" ng-show="!isCreditCardPayment()" ng-click="processRefund()" ng-show="!processing" translate>Record Refund</button>
          <span ng-show="processing" translate>Processing...</span>
        </div>
      </div>
    </tab>
    <tab heading="Expenses" active="activeTab[2]">
      <p ng-show="!registration.expenses.length" translate>This registration does not contain any additional expenses.</p>
      <div class="table-responsive">
        <table class="table table-striped" ng-show="registration.expenses.length">
          <thead>
          <tr>
            <th style="width:180px;" translate>Date</th>
            <th style="width:120px;" translate>Amount</th>
            <th translate>Description</th>
            <th style="width:73px;"></th>
          </tr>
          </thead>
          <tbody ng-repeat="expense in registration.expenses | orderBy:'createdTimestamp'">
          <tr>
            <td>{{expense.createdTimestamp | date:'MMM d, y h:mm a'}}</td>
            <td>
              <span ng-if="editExpense.id !== expense.id">{{expense.amount | currency:'$'}}</span>
              <input ng-if="editExpense.id === expense.id" type="number" ng-model="editExpense.amount" class="form-control" step="1">
            </td>
            <td>
              <span ng-if="editExpense.id !== expense.id">{{expense.description}}</span>
              <input ng-if="editExpense.id === expense.id" type="text" ng-model="editExpense.description" class="form-control">
            </td>
            <td>
              <div ng-if="editExpense.id !== expense.id">
                <button ng-click="openEditExpenseRow(expense)" title="{{'Edit Expense' | translate}}" class="btn btn-xs"><i class="fa fa-edit"></i></button>
                <button ng-click="removeExpense(expense)" title="{{'Delete Expense' | translate}}" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
              </div>
              <div ng-if="editExpense.id === expense.id">
                <button class="btn btn-xs" ng-click="openEditExpenseRow(expense)"><i class="fa fa-times"></i></button>
                <button class="btn btn-xs btn-success" ng-click="saveExpenseEdits(editExpense)"><i class="fa fa-check"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </tab>
    <tab heading="Add">
      <div class="row form-group">
        <div class="col-sm-7 stacked-spacing-col-sm">
          <label translate>Type</label>
          <select ng-model="newTransaction.paymentType" class="form-control" ng-change="setTransactionAmount()">
            <option value="" disabled selected translate>Choose one...</option>
            <optgroup label="{{'Payment' | translate}}">
              <option value="CREDIT_CARD" ng-if="allowCreditCardPayments()" translate>Credit Card</option>
              <option value="OFFLINE_CREDIT_CARD" translate>Offline Credit Card</option>
              <option value="SCHOLARSHIP" translate>Scholarship</option>
              <option value="TRANSFER" translate>Account Transfer</option>
              <option value="CHECK" translate>Check</option>
              <option value="CASH" translate>Cash</option>
            </optgroup>
            <optgroup label="{{'Other' | translate}}">
              <option value="DISCOUNT" translate>Discount</option>
              <option value="ADDITIONAL_EXPENSE" translate>Additional Expense</option>
            </optgroup>
          </select>
        </div>

        <div class="col-sm-5">
          <label translate>Amount</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
            <input type="text" class="form-control marginless" ng-model="newTransaction.amount">
          </div>
        </div>
      </div>
      <div ng-show="newTransaction.paymentType === 'CREDIT_CARD'">
        <div class="form-group">
          <label translate>Name on Card</label>
          <input ng-model="newTransaction.creditCard.nameOnCard" type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label translate>Credit Card Number</label>
          <input ng-model="newTransaction.creditCard.number" type="text" class="form-control" autocomplete="off" />
        </div>

        <div class="row form-group">
          <div class="col-sm-6 stacked-spacing-col-sm">
            <label translate>Expiration Month</label>
            <select ng-model="newTransaction.creditCard.expirationMonth" class="form-control">
              <option value='' translate>Month</option>
              <option value='01'>01 - January</option>
              <option value='02'>02 - February</option>
              <option value='03'>03 - March</option>
              <option value='04'>04 - April</option>
              <option value='05'>05 - May</option>
              <option value='06'>06 - June</option>
              <option value='07'>07 - July</option>
              <option value='08'>08 - August</option>
              <option value='09'>09 - September</option>
              <option value='10'>10 - October</option>
              <option value='11'>11 - November</option>
              <option value='12'>12 - December</option>
            </select>
          </div>

          <div class="col-sm-3 stacked-spacing-col-sm">
            <label translate>Expiration Year</label>
            <select ng-model="newTransaction.creditCard.expirationYear" class="form-control">
              <option value='' translate>Year</option>
              <option value='{{currentYear+$index}}' ng-repeat="t in [0,1,2,3,4,5]">{{currentYear+$index}}</option>
            </select>
          </div>

          <div class="col-sm-3">
            <label translate>Security Code</label>
            <input ng-model="newTransaction.creditCard.cvvNumber" type="text" class="form-control" autocomplete="off" maxlength="4" />
          </div>
        </div>
      </div>

      <div ng-show="newTransaction.paymentType === 'OFFLINE_CREDIT_CARD'">
        <div class="form-group">
          <label translate>Transaction ID (required)</label>
          <input ng-model="newTransaction.offlineCreditCard.transactionId" type="text" class="form-control" />
        </div>
      </div>

      <div ng-show="newTransaction.paymentType === 'SCHOLARSHIP'">
        <div class="row form-group">
          <div class="col-sm-3">
            <label translate>Account Type</label>
            <select ng-model="newTransaction.scholarship.accountType" class="form-control">
              <option value="STAFF" translate>Staff</option>
              <option value="MINISTRY" translate>Ministry</option>
            </select>
          </div>

          <div class="col-sm-9 stacked-spacing-above-col-sm" ng-show="newTransaction.scholarship.accountType === 'STAFF'">
            <label translate>Account Number</label>
            <input ng-model="newTransaction.scholarship.accountNumber" type="text" class="form-control">
          </div>

          <div class="stacked-spacing-above-col-sm" ng-show="newTransaction.scholarship.accountType === 'MINISTRY'">
            <div class="col-sm-2 stacked-spacing-col-sm">
              <label translate>Business Unit</label>
              <input ng-model="newTransaction.scholarship.businessUnit" type="text" class="form-control">
            </div>

            <div class="col-sm-2 stacked-spacing-col-sm">
              <label translate>Operating Unit</label>
              <input ng-model="newTransaction.scholarship.operatingUnit" type="text" class="form-control">
            </div>

            <div class="col-sm-2 stacked-spacing-col-sm">
              <label translate>Department</label>
              <input ng-model="newTransaction.scholarship.department" type="text" class="form-control">
            </div>

            <div class="col-sm-3">
              <label translate>Project Id</label>
              <input ng-model="newTransaction.scholarship.projectId" type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div ng-show="newTransaction.paymentType === 'TRANSFER'" class="row form-group">
        <div class="col-sm-3">
          <label translate>Account Type</label>
          <select ng-model="newTransaction.transfer.accountType" class="form-control">
            <option value="STAFF" translate>Staff</option>
            <option value="MINISTRY" translate>Ministry</option>
          </select>
        </div>

        <div class="col-sm-9 stacked-spacing-above-col-sm" ng-show="newTransaction.transfer.accountType === 'STAFF'">
          <label translate>Account Number</label>
          <input ng-model="newTransaction.transfer.accountNumber" type="text" class="form-control">
        </div>

        <div class="col-sm-2 stacked-spacing-col-sm stacked-spacing-above-col-sm" ng-show="newTransaction.transfer.accountType === 'MINISTRY'">
          <label translate>Business Unit</label>
          <input ng-model="newTransaction.transfer.businessUnit" type="text" class="form-control">
        </div>

        <div class="col-sm-2 stacked-spacing-col-sm" ng-show="newTransaction.transfer.accountType === 'MINISTRY'">
          <label translate>Operating Unit</label>
          <input ng-model="newTransaction.transfer.operatingUnit" type="text" class="form-control">
        </div>

        <div class="col-sm-2 stacked-spacing-col-sm" ng-show="newTransaction.transfer.accountType === 'MINISTRY'">
          <label translate>Department</label>
          <input ng-model="newTransaction.transfer.department" type="text" class="form-control">
        </div>

        <div class="col-sm-3" ng-show="newTransaction.transfer.accountType === 'MINISTRY'">
          <label translate>Project Id</label>
          <input ng-model="newTransaction.transfer.projectId" type="text" class="form-control">
        </div>
      </div>

      <div class="stacked-spacing-above-col-sm" ng-show="newTransaction.paymentType === 'CHECK'">
        <div class="form-group">
          <label translate>Check Number</label>
          <input ng-model="newTransaction.check.checkNumber" type="text" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label translate>Description</label>
        <input ng-model="newTransaction.description" type="text" class="form-control" />
      </div>

      <!--<div class="checkbox" ng-show="newTransaction.paymentType !== 'ADDITIONAL_EXPENSE'">
            <label>
              <input type="checkbox" ng-model="newTransaction.sendEmailReceipt"> Send email receipt to registrant(s)
            </label>
          </div>-->
      <div class="form-group text-right">
        <button class="btn btn-success" ng-click="processTransaction()" ng-show="!processing" translate>Process</button>
        <span ng-show="processing" translate>Processing...</span>
      </div>
    </tab>
  </tabset>
</div>
