<div class="modal-header">
  <button type="button" class="close" ng-click="$close(registration)" aria-hidden="true">&times;</button>
  <h4><translate>Payments &amp; Expenses</translate>
    <small>
      <ng-pluralize count="registration.registrants.length" offset=2
                    when="{'0': '',
                     '1': '{{registration.registrants[0].firstName}} {{registration.registrants[0].lastName}}',
                     '2': '{{registration.registrants[0].firstName}} {{registration.registrants[0].lastName}} & {{registration.registrants[1].firstName}} {{registration.registrants[1].lastName}}',
                     'one': '{{registration.registrants[0].firstName}} {{registration.registrants[0].lastName}}, {{registration.registrants[1].firstName}} {{registration.registrants[1].lastName}}, & one other',
                     'other': '{{registration.registrants[0].firstName}} {{registration.registrants[0].lastName}}, {{registration.registrants[1].firstName}} {{registration.registrants[1].lastName}}, & {} others'}">
      </ng-pluralize>
    </small>
  </h4>
</div>
<div class="modal-body tab-content-spacing-above">
  <tabset>
    <tab heading="Summary">
      <table class="table">
        <thead>
        <tr>
          <th width="10"></th>
          <th translate>Registrant</th>
          <th width="90" translate>Cost</th>
        </tr>
        </thead>
        <tbody ng-repeat="r in registration.registrants">
        <tr>
          <td>
            <i class="fa"
               ng-class="{'fa-plus-square-o': !expandRegistrantCost[r.id], 'fa-minus-square-o': expandRegistrantCost[r.id]}"
               ng-show="!r.withdrawn"
               ng-click="expandRegistrantCost[r.id] = !expandRegistrantCost[r.id]"></i>
          </td>
          <td ng-class="{'strike-through':r.withdrawn}">{{r.firstName}} {{r.lastName}}</td>
          <td ng-show="!expandRegistrantCost[r.id]">{{r.calculatedTotalDue | currency:'$'}}</td>
        </tr>
        <tr ng-if="expandRegistrantCost[r.id]">
          <td></td>
          <td class="horizon-padding25"><i class="fa fa-angle-right"></i> <translate>Registration</translate></td>
          <td>{{getRegistrantType(r.registrantTypeId).cost | currency:'$'}}</td>
        </tr>
        <tr ng-if="expandRegistrantCost[r.id] && r.calculatedEarlyRegistrationDiscounts">
          <td></td>
          <td class="horizon-padding25"><i class="fa fa-angle-right"></i> <translate>Early Registration Discount</translate></td>
          <td>{{r.calculatedEarlyRegistrationDiscounts * -1 | currency:'$'}}</td>
        </tr>
        <tr ng-if="expandRegistrantCost[r.id] && r.calculatedPromotionDiscounts">
          <td></td>
          <td class="horizon-padding25"><i class="fa fa-angle-right"></i> <translate>Promotion Discount</translate></td>
          <td>{{r.calculatedPromotionDiscounts * -1 | currency:'$'}}</td>
        </tr>
        <tr ng-repeat="a in r.answers" ng-if="a.amount !== 0 && expandRegistrantCost[r.id]">
          <td></td>
          <td class="horizon-padding25"><i class="fa fa-angle-right"></i> {{getBlock(a.blockId).title}}: <show-answer block="getBlock(a.blockId)" registrant="r"></show-answer></td>
          <td>{{a.amount | currency:'$'}}</td>
        </tr>
        </tbody>
        <tbody ng-repeat="expense in registration.expenses | orderBy:'createdTimestamp'">
        <tr>
          <td></td>
          <td>{{expense.description}}</td>
          <td>{{expense.amount | currency:'$'}}</td>
        </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-lg-12">
          <table class="table pull-right" style="width:260px;">
            <tr ng-if="registration.calculatedPromotionDiscounts">
              <th translate>Promotion Discount</th>
              <td width="90">{{(registration.calculatedPromotionDiscounts * -1) | currency:'$'}}</td>
            </tr>
            <tr>
              <th translate>Total Cost</th>
              <td width="90">{{registration.calculatedTotalDue | currency:'$'}}</td>
            </tr>
            <tr>
              <th translate>Total Paid</th>
              <td>{{registration.totalPaid | currency:'$'}}</td>
            </tr>
            <tr>
              <th translate>Total Due</th>
              <td>{{registration.remainingBalance | currency:'$'}}</td>
            </tr>
          </table>
        </div>
      </div>
      <p class="text-muted">* <translate>Requested scholarships and pending checks are not reflected in total due.</translate></p>
    </tab>
    <tab heading="Promotions">
      <p ng-if="!conference.promotions.length" translate>This event does not contain any promotions.</p>
      <table class="table" ng-show="registration.promotions.length">
        <thead>
          <tr>
            <th translate>Active Promotions</th>
            <th width="90"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in registration.promotions">
            <td>{{p.code}} <span class="text-muted" ng-if="p.description">{{p.description}}</span></td>
            <td class="text-center">
              <button ng-click="deletePromotion(p.id)" title="Delete Promotion" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table" ng-show="filteredPromotions.length">
        <thead>
        <tr>
          <th translate>Available Promotions</th>
          <th width="90"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in filteredPromotions = (conference.promotions  | filter: filterUsedPromoCodes)">
          <td>{{p.code}} <span class="text-muted" ng-if="p.description">{{p.description}}</span></td>
          <td class="text-center">
            <button ng-click="addPromotion(p.code)" title="Add Promotion" class="btn btn-xs btn-success"><i class="fa fa-plus"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Payments" active="activeTab[1]">
      <p ng-show="!registration.pastPayments.length" translate>This registration does not contain any payments.</p>
      <div  class="table-responsive">
        <table class="table" ng-show="registration.pastPayments.length">
          <thead>
          <tr>
            <th style="width:190px;" translate>Date</th>
            <th style="width:120px;" translate>Amount</th>
            <th translate>Type</th>
            <th style="width:240px;" translate>Description</th>
            <th style="width:100px"></th>
          </tr>
          </thead>
          <tbody ng-repeat="payment in registration.pastPayments | orderBy:'transactionDatetime'">
          <tr ng-class="{'active': $even}">
            <td>{{payment.transactionDatetime | date:'MMM d, y h:mm a'}}</td>
            <td ng-if="payment.paymentType !== 'REFUND'">{{payment.amount | currency:'$'}}</td>
            <td ng-if="payment.paymentType === 'REFUND'">{{payment.amount * -1 | currency:'$'}}</td>
            <td>
              <span ng-if="payment.paymentType === 'CREDIT_CARD'">Credit Card **{{payment.creditCard.lastFourDigits}}</span>
              <span ng-if="payment.paymentType === 'CHECK'">
                <span ng-if="payment.status === 'RECEIVED'">
                  <translate>Check</translate> #{{payment.check.checkNumber}}
                </span>
                <span ng-if="payment.status === 'PENDING'" style="font-style: italic;" translate>
                  Check (not yet received)
                </span>
              </span>
              <span ng-if="payment.paymentType === 'SCHOLARSHIP'">
                <span ng-if="payment.status === 'APPROVED'">
                  <span ng-if="payment.scholarship.accountType === 'STAFF' || payment.scholarship.accountType === 'NON_US_STAFF'">
                    <translate>Scholarship from staff</translate> {{payment.scholarship.accountNumber}}
                  </span>
                  <span ng-if="payment.scholarship.accountType === 'MINISTRY'">
                    <translate>Scholarship from</translate> {{payment.scholarship.businessUnit}}/{{payment.scholarship.operatingUnit}}/{{payment.scholarship.department}}/{{payment.scholarship.projectId}}
                  </span>
                </span>
                <span ng-if="payment.status === 'REQUESTED'" style="font-style: italic;" translate>Scholarship Requested</span>
                <span ng-if="payment.status === 'DENIED'" style="font-style: italic;" translate>Scholarship Denied</span>
              </span>
              <span ng-if="payment.paymentType === 'TRANSFER'">
                <span ng-if="payment.transfer.accountType === 'STAFF' || payment.transfer.accountType === 'NON_US_STAFF'">
                  <translate>Staff Transfer from</translate> {{payment.transfer.accountNumber}}
                </span>
                <span ng-if="payment.transfer.accountType === 'MINISTRY'">
                  <translate>Transfer from</translate> {{payment.transfer.businessUnit}}/{{payment.transfer.operatingUnit}}/{{payment.transfer.department}}/{{payment.transfer.projectId}}
                </span>
              </span>
              <span ng-if="payment.paymentType === 'CASH'" translate>Cash</span>
              <span ng-if="payment.paymentType === 'OFFLINE_CREDIT_CARD'" translate>Offline Credit Card</span>
              <span ng-if="payment.paymentType === 'REFUND'">
                <span ng-if="payment.refundChannel === 'CREDIT_CARD' || payment.refundChannel === 'OFFLINE_CREDIT_CARD'" translate>Credit Card</span>
                <span ng-if="payment.refundChannel === 'CASH'" translate>Cash</span>
                <span ng-if="payment.refundChannel === 'CHECK'" translate>Check</span>
                Refund
              </span>
            </td>
            <td>
              <span ng-if="payment.paymentType === 'SCHOLARSHIP' && payment.status === 'REQUESTED'">{{payment.scholarship.staffApprovalName}}</span>
              {{payment.description}}
            </td>
            <td class="text-center">
              <div ng-show="editPayment.id !== payment.id">
                <button ng-click="openEditPaymentRow(payment)" title="Edit Payment" class="btn btn-xs"><i class="fa fa-edit"></i></button>
                <button ng-click="startRefund(payment)" ng-show="canBeRefunded(payment)" title="Refund Payment" class="btn btn-xs"><i class="fa fa-undo"></i></button>
                <button ng-click="deletePayment(payment)" ng-if="payment.paymentType !== 'CREDIT_CARD' && payment.refundChannel !== 'CREDIT_CARD'" title="Delete Payment" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
              </div>

              <button ng-click="openEditPaymentRow(payment)" ng-show="editPayment.id === payment.id" class="btn btn-xs"><i class="fa fa-times"></i> <translate>Close</translate></button>
            </td>
          </tr>
          <tr ng-if="editPayment.id === payment.id" ng-class="{'active': $even}">
            <td colspan="5">
              <div class="form-horizontal col-xs-12">
                <div class="form-group">
                  <label class="col-sm-3 control-label" translate>Amount</label>
                  <div class="col-sm-9">
                    <div ng-if="editPayment.paymentType !== 'CREDIT_CARD' && editPayment.refundChannel !== 'CREDIT_CARD'">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                        <input type="number" ng-model="editPayment.amount" class="form-control" step="1" min="0">
                      </div>
                    </div>
                    <div ng-if="editPayment.paymentType === 'CREDIT_CARD' || editPayment.refundChannel === 'CREDIT_CARD'">
                      {{editPayment.amount | currency:'$'}}
                    </div>
                  </div>
                </div>
                <div ng-if="editPayment.paymentType === 'CHECK'">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" translate>Check #</label>
                    <div class="col-sm-9">
                      <input ng-model="editPayment.check.checkNumber" type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div ng-if="editPayment.paymentType === 'TRANSFER'">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" translate>Account Type</label>
                    <div class="col-sm-9">
                      <select ng-model="editPayment.transfer.accountType" class="form-control">
                        <option value="STAFF" translate>Staff</option>
                        <option value="MINISTRY" translate>Ministry</option>
                        <option value="NON_US_STAFF" translate>Non-U.S. Staff</option>
                      </select>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div ng-show="editPayment.transfer.accountType === 'STAFF' || editPayment.transfer.accountType === 'NON_US_STAFF'">
                      <label class="col-sm-3 control-label" translate>Account Number</label>
                      <div class="col-sm-9">
                        <input ng-model="editPayment.transfer.accountNumber" type="text" class="form-control">
                      </div>
                    </div>

                    <div ng-show="editPayment.transfer.accountType === 'MINISTRY'">
                      <div class="col-sm-3">
                        <label translate>Business Unit</label>
                        <input ng-model="editPayment.transfer.businessUnit" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Operating Unit</label>
                        <input ng-model="editPayment.transfer.operatingUnit" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Department</label>
                        <input ng-model="editPayment.transfer.department" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Project Id</label>
                        <input ng-model="editPayment.transfer.projectId" type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="editPayment.paymentType === 'SCHOLARSHIP'">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" translate>Account Type</label>
                    <div class="col-sm-9">
                      <select ng-model="editPayment.scholarship.accountType" class="form-control">
                        <option value="STAFF" translate>Staff</option>
                        <option value="MINISTRY" translate>Ministry</option>
                        <option value="NON_US_STAFF" translate>Non-U.S. Staff</option>
                      </select>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div ng-show="editPayment.scholarship.accountType === 'STAFF' || editPayment.scholarship.accountType === 'NON_US_STAFF'">
                      <label class="col-sm-3 control-label" translate>Account Number</label>
                      <div class="col-sm-9">
                        <input ng-model="editPayment.scholarship.accountNumber" type="text" class="form-control">
                      </div>
                    </div>

                    <div ng-show="editPayment.scholarship.accountType === 'MINISTRY'">
                      <div class="col-sm-3">
                        <label translate>Business Unit</label>
                        <input ng-model="editPayment.scholarship.businessUnit" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Operating Unit</label>
                        <input ng-model="editPayment.scholarship.operatingUnit" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Department</label>
                        <input ng-model="editPayment.scholarship.department" type="text" class="form-control">
                      </div>

                      <div class="col-sm-3">
                        <label translate>Project Id</label>
                        <input ng-model="editPayment.scholarship.projectId" type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" translate>Description</label>
                  <div class="col-sm-9">
                    <input type="text" ng-model="editPayment.description" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-success" ng-click="savePaymentEdits(editPayment)" translate>Save</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr ng-if="editPayment.id === payment.id && editPayment.paymentType === 'SCHOLARSHIP' && editPayment.status !== 'APPROVED'" ng-class="{'active': $even}">
            <td></td>
            <td colspan="4">
              <p class="text-muted"><strong translate>Note:</strong> <translate>Editing this scholarship will mark it as "Approved".</translate></p>
            </td>
          </tr>
          <tr ng-if="editPayment.id === payment.id && editPayment.paymentType === 'CHECK' && editPayment.status !== 'RECEIVED'" ng-class="{'active': $even}">
            <td></td>
            <td colspan="4">
              <p class="text-muted"><strong translate>Note:</strong> <translate>Editing this payment will mark it as "Received".</translate></p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="refund">
        <h4 translate>Refund Payment</h4>
        <table class="table table-striped">
          <tbody>
          <tr>
            <th translate>Date</th>
            <th translate>Refundable Amount</th>
            <th translate>Type</th>
          </tr>
          <tr>
            <td>{{paymentToRefund.transactionDatetime | date:'MMM d, y h:mm a'}}</td>
            <td>{{calculateRefundableAmount(paymentToRefund) | currency:'$'}}</td>
            <td>{{paymentToRefund.paymentType}}</td>
          </tr>
          </tbody>
        </table>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-8">
              <label translate>Refund Method</label>
              <select ng-model="refund.refundChannel" class="form-control" ng-change="refreshRefund(paymentToRefund, refund)">
                <option value="CREDIT_CARD" ng-if="paymentToRefund.paymentType === 'CREDIT_CARD'" translate>Credit Card (automatically via Authorize.net)</option>
                <option value="OFFLINE_CREDIT_CARD" ng-if="paymentToRefund.paymentType === 'OFFLINE_CREDIT_CARD'" translate>Credit Card (manually)</option>
                <option value="CASH" translate>Cash</option>
                <option value="CHECK" translate>Check</option>
              </select>
            </div>
            <div class="col-sm-4">
              <label translate>Amount</label>
              <i class="fa fa-exclamation-triangle" popover="{{'Partial credit card refunds cannot be issued within 24 hours of payment.' | translate}}"
                 popover-trigger="mouseenter" popover-append-to-body="true" ng-if="!isPartialRefundAvailable(paymentToRefund, refund.refundChannel)">
              </i>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control marginless" ng-model="refund.amount" ng-disabled="!isPartialRefundAvailable(paymentToRefund, refund.refundChannel)">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label translate>Description</label>
          <input type="text" class="form-control marginless" ng-model="refund.description">
        </div>

        <div class="form-group text-right">
          <button class="btn btn-default" ng-click="cancelRefund()" ng-show="!processing" translate>Cancel</button>
          <button class="btn btn-success" ng-click="processRefund()" ng-show="!processing" translate>Process Refund</button>
          <span ng-show="processing" translate>Processing...</span>
        </div>
      </div>
    </tab>
    <tab heading="Discounts &amp; Expenses" active="activeTab[2]">
      <p ng-show="!registration.expenses.length" translate>This registration does not contain any additional expenses.</p>
      <div class="table-responsive">
        <table class="table table-striped" ng-show="registration.expenses.length">
          <thead>
          <tr>
            <th style="width:180px;" translate>Date</th>
            <th style="width:120px;" translate>Amount</th>
            <th style="width:190px;" translate>Type</th>
            <th translate>Description</th>
            <th style="width:73px;"></th>
          </tr>
          </thead>
          <tbody ng-repeat="expense in registration.expenses | orderBy:'createdTimestamp'">
          <tr>
            <td>{{expense.createdTimestamp | date:'MMM d, y h:mm a'}}</td>
            <td>
              <span ng-if="editExpense.id !== expense.id">{{expense.amount | currency:'$'}}</span>
              <input ng-if="editExpense.id === expense.id" type="number" ng-model="editExpense.amount" class="form-control" step="1">
            </td>
            <td>
              <span ng-if="editExpense.id !== expense.id">{{expenseTypesConstants[expense.expenseType]}}</span>
              <select class="form-control" ng-if="editExpense.id === expense.id" ng-model="editExpense.expenseType"
                      ng-options="key as value for (key , value) in expenseTypesConstants"></select>
            </td>
            <td>
              <span ng-if="editExpense.id !== expense.id">{{expense.description}}</span>
              <input ng-if="editExpense.id === expense.id" type="text" ng-model="editExpense.description" class="form-control">
            </td>
            <td>
              <div ng-if="editExpense.id !== expense.id">
                <button ng-click="openEditExpenseRow(expense)" title="Edit Expense" class="btn btn-xs"><i class="fa fa-edit"></i></button>
                <button ng-click="removeExpense(expense)" title="Delete Expense" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
              </div>
              <div ng-if="editExpense.id === expense.id">
                <button class="btn btn-xs" ng-click="openEditExpenseRow(expense)"><i class="fa fa-times"></i></button>
                <button class="btn btn-xs btn-success" ng-click="saveExpenseEdits(editExpense)"><i class="fa fa-check"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </tab>
    <tab heading="Add">
      <div class="row form-group">
        <div class="col-sm-7 stacked-spacing-col-sm">
          <label translate>Type</label>
          <select ng-model="newTransaction.paymentType" class="form-control" ng-change="setTransactionAmount()">
            <option value="" disabled selected translate>Choose one...</option>
            <optgroup label="Payment">
              <option value="CREDIT_CARD" ng-if="conference.paymentGatewayKeySaved" translate>Credit Card</option>
              <option value="OFFLINE_CREDIT_CARD" translate>Offline Credit Card</option>
              <option value="SCHOLARSHIP" translate>Scholarship</option>
              <option value="TRANSFER" translate>Account Transfer</option>
              <option value="CHECK" translate>Check</option>
              <option value="CASH" translate>Cash</option>
            </optgroup>
            <optgroup label="Other">
              <option value="DISCOUNT" translate>Discount</option>
              <option value="ADDITIONAL_EXPENSE" translate>Additional Expense</option>
            </optgroup>
          </select>
        </div>

        <div class="col-sm-5">
          <label translate>Amount</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
            <input type="text" class="form-control marginless" ng-model="newTransaction.amount">
          </div>
        </div>
      </div>
      <div ert-payment payment="newTransaction" registration="registration" admin-payment="true"></div>

      <div class="form-group">
        <label translate>Description</label>
        <input ng-model="newTransaction.description" type="text" class="form-control" />
      </div>

      <!--<div class="checkbox" ng-show="newTransaction.paymentType !== 'ADDITIONAL_EXPENSE'">
            <label>
              <input type="checkbox" ng-model="newTransaction.sendEmailReceipt"> Send email receipt to registrant(s)
            </label>
          </div>-->
      <div class="form-group text-right">
        <button class="btn btn-success" ng-click="processTransaction()" ng-show="!processing" translate>Process</button>
        <span ng-show="processing" translate>Processing...</span>
      </div>
    </tab>
  </tabset>
</div>
