<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 translate>{{getGroupName(registrationId)}} Group</h4>
</div>
<div class="modal-body">
    <ul class="list-unstyled">
        <li style="margin-bottom: 10px;" ng-repeat="r in getRegistration(registrationId).groupRegistrants">
            <a href="" ng-click="editRegistrant(r)">{{r.firstName}} {{r.lastName}}</a>
            <span ng-if="r.id === getRegistration(registrationId).primaryRegistrantId" translate>(Group Creator)</span>
        </li>
    </ul>

    <button class="btn btn-success btn-sm" type="button" ng-click="registerUser(getRegistration(registrationId))"><i class="fa fa-plus"></i> <translate>Add Registration</translate></button>
</div>
<div class="modal-footer">
    <button ng-click="$dismiss()" class="btn btn-default" translate>Close</button>
</div>
