<div class="container">
	<div class="details__block--narrow">
		<ul class="nav  admin-nav">
			<li>
			    <a href="#/adminData/{{conference.id}}">Registrations</a>
			</li>
			<li>
				<a href="#/wizard/{{conference.id}}">Edit Form</a>
			</li>
			<li>
				<a href="#/adminDetails/{{conference.id}}">Edit Conference Details</a>
			</li>
			<li>
				<a href="#/register/{{conference.id}}" target="_blank">Preview Registration Form</a>
			</li>
			<li>
				<a href="">Delete Conference</a>
			</li>
		</ul>
		<hr class="hr">		
	</div>
</div>