<div data-ng-click="createEditDialog()">
  <ng-switch on="block.type">
    <span ng-switch-when="nameQuestion"> {{answer.value.firstName}} {{answer.value.lastName}}</span>
    <span ng-switch-when="emailQuestion">{{answer.value.text}}</span>
    <span ng-switch-when="textQuestion">{{answer.value.text}}</span>
    <span ng-switch-when="checkboxQuestion">{{getSelectedCheckboxes(answer.value) | joiner}}</span>
    <span ng-switch-when="phoneQuestion">{{answer.value.text}}</span>
    <span ng-switch-when="radioQuestion">{{answer.value}}</span>
    <span ng-switch-when="selectQuestion">{{answer.value}}</span>
    <span ng-switch-when="numberQuestion">{{answer.value.text}}</span>
    <span ng-switch-when="addressQuestion">{{answer.value.address1}} {{answer.value.address2}}<br>{{answer.value.city}}, {{answer.value.state}} {{answer.value.zip}}</span>
  </ng-switch>
  <span class="crs-editAnswer" data-ng-show="{{answerEditable}}"><img src="images/pencil.png"/></span>
</div>