<p style="height:25px;margin-top:10px;">
  <a href="#/adminData/{{conference.id}}">Registrations</a> |
  <a href="#/wizard/{{conference.id}}">Edit Form</a> |
  <a href="#/adminDetails/{{conference.id}}">Edit Conference Details</a> |
  <a href="#/permissions/{{conference.id}}">Conference Permissions</a> |
  <a href="#/preview/{{conference.id}}/page/">Preview Registration Form</a> |
  <a href="" data-ng-click="exportRegistrations(conference.id)">Export Registrations</a> |
  <a href="" data-ng-show="hasCost(conference)" data-ng-click="exportPayments(conference.id)">Export Payments</a> |
  <a href="" data-ng-click="registerUser(conference.id)">Register Someone</a> |
  <a href="" data-ng-click="deleteConference(conference.id)">Delete Conference</a>
</p>