<div admin-nav></div>

<div class="container-fluid">	
	<div class="block--narrow">
		
		<form class="form">
			<fieldset>
				<legend>
					Conference Details
				</legend>
				<ul class="form-fields">
					<li>
						<label for="conf-title">Title</label>
						<input id ="conf-title" class="text-input" type="text" data-ng-model="conference.name">
						
						<label for="conf-description">Description:</label> 
						<textarea id="conf-description" class="text-input" data-ng-model="conference.description"></textarea>
					</li>
				</ul>
			</fieldset>
		</form>
				
	</div>
</div>	


<div class="container-fluid">	
	<div class="block--narrow">
		
	    <h2>Conference Dates</h2>
	    <div><label>Conference Begins:</label>
	      <crs-datetimepicker model="conference.eventStartTime"></crs-datetimepicker>
	    </div>
	    <div><label>Conference Ends:</label>
	      <crs-datetimepicker model="conference.eventEndTime"></crs-datetimepicker>
	    </div>
		
	</div>	
</div>


<div class="container-fluid">	
	<div class="block--narrow">
		
	    <h2>Location</h2>
	    <div><label>Name:</label> <input type="text" data-ng-model="conference.locationName"></div>
	    <div><label>Address:</label> <input type="text" data-ng-model="conference.locationAddress"></div>
	    <div><label>City:</label> <input type="text" data-ng-model="conference.locationCity"></div>
	    <div><label>State:</label> <select data-ng-model="conference.locationState">
	      <option value="AL">Alabama</option>
	      <option value="AK">Alaska</option>
	      <option value="AZ">Arizona</option>
	      <option value="AR">Arkansas</option>
	      <option value="CA">California</option>
	      <option value="CO">Colorado</option>
	      <option value="CT">Connecticut</option>
	      <option value="DE">Delaware</option>
	      <option value="DC">District Of Columbia</option>
	      <option value="FL">Florida</option>
	      <option value="GA">Georgia</option>
	      <option value="HI">Hawaii</option>
	      <option value="ID">Idaho</option>
	      <option value="IL">Illinois</option>
	      <option value="IN">Indiana</option>
	      <option value="IA">Iowa</option>
	      <option value="KS">Kansas</option>
	      <option value="KY">Kentucky</option>
	      <option value="LA">Louisiana</option>
	      <option value="ME">Maine</option>
	      <option value="MD">Maryland</option>
	      <option value="MA">Massachusetts</option>
	      <option value="MI">Michigan</option>
	      <option value="MN">Minnesota</option>
	      <option value="MS">Mississippi</option>
	      <option value="MO">Missouri</option>
	      <option value="MT">Montana</option>
	      <option value="NE">Nebraska</option>
	      <option value="NV">Nevada</option>
	      <option value="NH">New Hampshire</option>
	      <option value="NJ">New Jersey</option>
	      <option value="NM">New Mexico</option>
	      <option value="NY">New York</option>
	      <option value="NC">North Carolina</option>
	      <option value="ND">North Dakota</option>
	      <option value="OH">Ohio</option>
	      <option value="OK">Oklahoma</option>
	      <option value="OR">Oregon</option>
	      <option value="PA">Pennsylvania</option>
	      <option value="RI">Rhode Island</option>
	      <option value="SC">South Carolina</option>
	      <option value="SD">South Dakota</option>
	      <option value="TN">Tennessee</option>
	      <option value="TX">Texas</option>
	      <option value="UT">Utah</option>
	      <option value="VT">Vermont</option>
	      <option value="VA">Virginia</option>
	      <option value="WA">Washington</option>
	      <option value="WV">West Virginia</option>
	      <option value="WI">Wisconsin</option>
	      <option value="WY">Wyoming</option>
	    </select></div>
	    <div><label>Zip:</label> <input type="text" data-ng-model="conference.locationZipCode"></div>
		
	</div>	
</div>	


<div class="container-fluid">	
	<div class="block--narrow">
		
	    <h2>Payment Options</h2>
	    <div><label>Cost:</label> $<input type="text" data-ng-model="conference.conferenceCost"></div>
	    <div>
	      <input type="checkbox" ng-model="conference.acceptCreditCards" id="acceptCreditCards" ng-value="true">
	      <label class="crs-checkbox-label" for="acceptCreditCards">Accept Credit Cards: <span></span></label>
	    </div>
	    <div ng-show="conference.acceptCreditCards"><label>Auth.NET ID:</label> <input type="text" data-ng-model="conference.authnetId"></div>
	    <div ng-show="conference.acceptCreditCards"><label>Auth.NET Transaction Key:</label> <input type="text" data-ng-model="conference.authnetToken"></div>
	    <div ng-show="conference.acceptCreditCards"><label>Minimum payment to register:</label> $<input type="text" data-ng-model="conference.minimumDeposit"></div>

	    <div>
	      <input type="checkbox" ng-model="conference.earlyRegistrationDiscount" id="earlyRegistrationDiscount" ng-value="true">
	      <label class="crs-checkbox-label" for="earlyRegistrationDiscount">Early Registration Discount: <span></span></label>
	    </div>

	    <div class="form-horizontal" ng-show="conference.earlyRegistrationDiscount">
	      <label>If registered by:</label>
	      <crs-datetimepicker model="conference.earlyRegistrationCutoff"></crs-datetimepicker>
	    </div>
	    <div ng-show="conference.earlyRegistrationDiscount"><label>Subtract:</label> $<input type="text" data-ng-model="conference.earlyRegistrationAmount"></div>
		
	</div>	
</div>	


<div class="container-fluid">	
	<div class="block--narrow">
		
	    <h2>Registration Window</h2>
	    <div><label>Registration Begins:</label>
	      <crs-datetimepicker model="conference.registrationStartTime"></crs-datetimepicker>
	    </div>
	    <div><label>Registration Ends:</label>
	      <crs-datetimepicker model="conference.registrationEndTime"></crs-datetimepicker>
	    </div>
		
	</div>	
</div>	


<div class="container-fluid">	
	<div class="block--narrow">
		
	    <h2>Contact Info</h2>
	    <div><label>Name:</label> <input type="text" data-ng-model="conference.contactPersonName"></div>
	    <div><label>Email:</label> <input type="text" data-ng-model="conference.contactPersonEmail"></div>
	    <div><label>Phone:</label> <input type="text" data-ng-model="conference.contactPersonPhone"></div>
		
	</div>
</div>	

