<style>
    .row-fluid {
        padding-top: 50px;
    }

    #crs-formEdit {
        padding: 26px;
        background-color: white;
        min-height: 500px;
        font-size: 24px;
        font-family: 'Open Sans';
        color:#1abc9c;
        line-height: 28px;
    }
    #crs-formEdit li{
        list-style: none;
    }

    .crs-accordion,
    .crs-accordion ul,
    .crs-accordion li,
    .crs-accordion a,
    .crs-accordion span {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: moz-none;
        -ms-user-select: none;
        user-select: none;
    }

    .crs-accordion {
        width: 200px;
      position: fixed;
    }

    .crs-accordion li {
        list-style: none;
        background: white;
        margin:12px;
    }

    .crs-accordion li > a {
        display: block;
        position: relative;
        min-width: 110px;
        padding: 4px 10px 4px 10px;
        color: #fdfdfd;
        font: 14px Arial, sans-serif;
        text-decoration: none;
        background: #2dc1a4;
    }

    .crs-accordionSub li a {
        color: #797979;
        background: #ecf0f1;
      -webkit-user-drag: element;
      -webkit-user-select:none;
    }

    .crs-accordionSub {
        border-bottom: 3px solid red;
    }
  #crsDropZone{
    height:0px;
    background:lightgrey;
    transition:height .5s;
    margin-bottom:15px;

  }
   #DragIcon{
    position:absolute;
     left:-9px;
   }
</style>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="span3" id="crs-formOptionsMenu">
            <ul class="crs-accordion">
                <li><a href="#">Simple Form Elements</a>
                    <ul class="crs-accordionSub">
                      <!--
                       <li id="crs-singleText"><a href="#">Single Line Text</a></li>
                       <li id="crs-paragraphText"><a href="#">Paragraph Text</a></li>
                       <li id="crs-number"><a href="#">Number</a></li>
                       <li id="crs-multipleChoice"><a href="#">Multiple Choice</a></li>
                       <li id="crs-checkbox"><a href="#">Checkbox</a></li>
                       <li id="crs-dropdown"><a href="#">Dropdown</a></li>
                       <li id="crs-sectionBreak"><a href="#">Section Break</a></li>
                       <li id="crs-pageBreak"><a href="#">Page Break</a></li>
                         -->
                       <li><a href="#" draggable="true" ondragstart="crsDrag(event)" ondragend="crsDragEnd(event)" id="crs-singleText">Single Line Text</a></li>
                       <li><a href="#" draggable="true" ondragstart="crsDrag(event)" ondragend="crsDragEnd(event)" id="crs-paragraphText">Paragraph Text</a></li>
                       <li><a href="#" draggable="true" ondragstart="crsDrag(event)" ondragend="crsDragEnd(event)" id="crs-number">Number</a></li>
                       <li><a href="#" draggable="true" ondragstart="crsDrag(event)" ondragend="crsDragEnd(event)" id="crs-multipleChoice">Multiple Choice</a></li>
                       <li><a href="#" draggable="true" ondragstart="crsDrag(event)" ondragend="crsDragEnd(event)" id="crs-checkbox">Checkbox</a></li>
                       <li><a href="#" draggable="true" ondragstart="crsDrag(event)" ondragend="crsDragEnd(event)" id="crs-dropdown">Dropdown</a></li>
                       <li><a href="#" draggable="true" ondragstart="crsDrag(event)" ondragend="crsDragEnd(event)" id="crs-sectionBreak">Section Break</a></li>
                       <li><a href="#" draggable="true" ondragstart="crsDrag(event)" ondragend="crsDragEnd(event)" id="crs-pageBreak">Page Break</a></li>
                    </ul>
                </li>
                <li><a href="#">Complex Form Elements</a></li>
                <li><a href="#">Super Form Elements</a></li>
            </ul>
        </div>
        <div class="span9" id="crs-formEdit" ondrop="crsDrop(event)" ondragover="crsAllowDrop(event)">
          <!-- <div class="span9" id="crs-formEdit">  -->
              <p>This form is empty (but your heart isn’t)!<br>
          Drag form elements from the left to this box. <br>
          Once its here, you can customize each element.</p>

          <p>Don’t want to start from scratch? <br>
              Start with the Fall Retreat Template.</p>
         <!-- <ul form-elements class="crsConnectedSortable" data-ng-repeat="page in conference.pages" data-page-id="{{page.id}}"><page></page></ul>-->
          <div class="row" id="crsDropZone"></div>
          <div class="crs-formElements" data-ng-repeat="page in conference.pages" data-page-id="{{page.id}}"><page></page></div>
      </div>
         <script>


         </script>
  </div>
</div>