
<div class="container-fluid">
  <div class="row-fluid">
    <ul class="crs--card-stack">

      <!-- Existing Events -->
      <li class="crs--card-holder  span3  crs--flip-container" ng-repeat="conference in conferences" ng-class="flip" ng-controller="ConferenceCardCtrl">

        <!-- The flipper surrounds the entire card to allow for the pure CSS card flip effect-->
        <div class="flipper">

          <!-- Begin Front Content-->
          <div class="front  crs--event-card">

            <div class="crs--card-content  full-height">
              <a class="crs--event-link  block-center  full-height" href="#/adminData/{{conference.id}}">
                <h2 class="crs--event-title  center-vertical">{{conference.name}}</h2>
              </a>
            </div>

            <div class="crs--card-meta">
              <a class="crs--card-count  absolute" href="#"><span>{{conference.totalRegistrations}}</span></a>
              <button class="crs--card-sprocket  pointer  absolute"  ng-click="flipCard()"></button>	
            </div>

          </div> <!-- End Front Content-->
 
          <!-- Begin Back Content-->
          <div class="back  crs--event-card">

            <div class="crs--card-content  crs--card-actions">
              <ol class="crs--actions-list  no-numbers  flush--ends">
                <li>
                  <a href="#">Clone</a>
                </li>
                <li>
                  <a href="#/register/{{conference.id}}">Register</a>
                </li>
                <li>
                  <a href="#/wizard/{{conference.id}}">Edit</a>
                </li>
                <li>
                  <a href="#">Delete</a>
                </li>
              </ol>
            </div>

            <div class="crs--card-meta">
              <a class="crs--card-count  absolute" href="#"><span>{{conference.totalRegistrations}}</span></a>
              <button class="crs--card-sprocket  pointer  absolute"  ng-click="flipCard()"></button>	
            </div>
          </div>

        </div>  <!-- End Back Content-->
        
      </li><!-- End Existing Event Cards -->

      <!-- Card to create a new event -->
      <li class="crs--card-holder span3">
        <div class="crs--event-card  crs--event-card__new  front">
          <div class="crs--card-content">
            <a class="crs--event-link" href=""  data-ng-click="createConference()">
              <figure class="center-vertical">
                <img class="crs--plus-icon" src="images/icon-add.png"  width="74px"  height="74px" /><span>Make a new one!</span>
              </figure>
            </a>
          </div>
        </div>
      </li>

    </ul><!-- END CRS--CARD-STACK -->
  </div><!-- END ROW-FLUID -->
</div><!-- END CONTAINER-FLUID -->
