<div class="row-fluid">
  <div class="span3" id="crs-formOptionsMenu" ng-style="scrollStyle()" scroll-position="scroll">
    <accordion close-others="true" class="crs-accordion" accordion-sub>
      <accordion-group heading="Simple Form Elements" class="crs-parent-li" is-open="true">
        <ul class="crs-accordionSub">
          <li><a href="#" draggable="true" id="paragraphContent">Info</a></li>
          <li><a href="#" draggable="true" id="textQuestion">Single Line Text</a></li>
          <li><a href="#" draggable="true" id="radioQuestion">Multiple Choice</a></li>
          <li><a href="#" draggable="true" id="checkboxQuestion">Checkbox</a></li>
          <li><a href="#" draggable="true" id="selectQuestion">Dropdown</a></li>
        </ul>
      </accordion-group>
      <accordion-group heading="Complex Form Elements" class="crs-parent-li">
        <ul class="crs-accordionSub">
          <li><a href="#" draggable="true" id="emailQuestion">Email</a></li>
          <li><a href="#" draggable="true" id="nameQuestion">Name</a></li>
          <li><a href="#" draggable="true" id="phoneQuestion">Phone</a></li>
        </ul>
      </accordion-group>
    </accordion>
  </div>
  <!--end span3-->

    <div form-drop-area class="span9" id="crs-formEdit">
      <!-- <div class="span9" id="crs-formEdit">  -->
      <div class="alert alert-block" data-ng-show="conference.registrationPages.length == 0">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="lead">This form is empty (but your heart isn’t)! Drag form elements from the left to the area below. Once its here, you can customize each element.</p>
        <p class="lead">Don’t want to start from scratch? Start with the <a class="crs-anchor" href="#">Retreat Template</a>.</p>
      </div>
      <!-- <ul form-elements class="crsConnectedSortable" data-ng-repeat="page in conference.pages" data-page-id="{{page.id}}"><page></page></ul>-->

      <div><button data-ng-click="addNewPage();">Add New Page</button> </div>
      <div class="crs-formElements" data-ng-repeat="page in conference.registrationPages" data-page-id="{{page.id}}">
        <page></page>
      </div>
    </div>
</div>