<div class="row">

    <ul class="crs-card-stack">
      <li class="crs-event-card span3" ng-repeat="conference in conferences">
        <a class="crs-card-body" href="#/register/{{conference.id}}">{{conference.name}}</a>
        <a class="crs-card-count" href="#"><span>22</span></a>
        <a class="crs-card-sprocket" href="#/adminData/{{conference.id}}"></a>
      </li>
      <li class="crs-event-card span3">
        <a class="crs-card-body">The Best Pickle Conference</a>
        <a class="crs-card-count" href="#"><span>234</span></a>
        <a class="crs-card-sprocket" href="#"></a>
      </li>
      <li class="crs-event-card span3">
        <a class="crs-card-body" href="">The Stuffed Sandwich Conference</a>
        <a class="crs-card-count" href="#"><span>8</span></a>
        <a class="crs-card-sprocket" href="#"></a>
      </li>
      <li class="crs-event-card span3">
        <a class="crs-card-body" href="">The Fall Retreatment of Curtans</a>
        <a class="crs-card-count" href="#"><span>55</span></a>
        <a class="crs-card-sprocket" href="#"></a>
      </li>
      <li class="crs-event-card span3">
        <a class="crs-card-body" href="">The Best of The Best of The Best</a>
        <a class="crs-card-count" href="#"><span>1234</span></a>
        <a class="crs-card-sprocket" href="#"></a>
      </li>
      <li class="crs-new-event-card span3">
        <a href="#"><img class="crs-plus-icon" src="images/icon-add.png"><span>Make a new one!</span></a>
      </li>
    </ul>

</div>