<script>
  var el = $('#crs-formOptionsMenu');
  var elpos = el.offset().top;
  $(window).scroll(function () {

    var y = $(this).scrollTop();
    if (y < elpos) {
      el.stop().animate({'margin-top': 0}, 500);
    }
    else {
      el.stop().animate({'margin-top': y - elpos}, 500);
    }
  });
</script>

<div class="row-fluid">

    <div class="span3" id="crs-formOptionsMenu">
      <ul class="crs-accordion">
        <li class="crs-parent-li"><a href="javascript:;" onclick="$('.crs-accordionSub').slideUp(); $(this).parent().find('ul').slideDown();">Simple Form Elements</a>
          <ul class="crs-accordionSub" accordion-sub>
            <li><a href="#" draggable="true" id="crs-singleText">Single Line Text</a></li>
            <li><a href="#" draggable="true" id="crs-paragraphText">Paragraph Text</a></li>
            <li><a href="#" draggable="true" id="crs-number">Number</a></li>
            <li><a href="#" draggable="true" id="crs-multipleChoice">Multiple Choice</a></li>
            <li><a href="#" draggable="true" id="crs-checkbox">Checkbox</a></li>
            <li><a href="#" draggable="true" id="crs-dropdown">Dropdown</a></li>
            <li><a href="#" draggable="true" id="crs-sectionBreak">Section Break</a></li>
            <li><a href="#" draggable="true" id="crs-pageBreak">Page Break</a></li>
          </ul>
        </li>
        <li class="crs-parent-li"><a href="javascript:;" onclick="$('.crs-accordionSub').slideUp(); $(this).parent().find('ul').slideDown();">Complex Form Elements</a>
          <ul class="crs-accordionSub" accordion-sub style="display:none;">
            <li><a href="#" draggable="true" id="crs-singleText">Single Line Text</a></li>
            <li><a href="#" draggable="true" id="crs-paragraphText">Paragraph Text</a></li>
            <li><a href="#" draggable="true" id="crs-number">Number</a></li>
            <li><a href="#" draggable="true" id="crs-multipleChoice">Multiple Choice</a></li>
            <li><a href="#" draggable="true" id="crs-checkbox">Checkbox</a></li>
            <li><a href="#" draggable="true" id="crs-dropdown">Dropdown</a></li>
            <li><a href="#" draggable="true" id="crs-sectionBreak">Section Break</a></li>
            <li><a href="#" draggable="true" id="crs-pageBreak">Page Break</a></li>
          </ul></li>
        <li class="crs-parent-li"><a href="javascript:;" onclick="$('.crs-accordionSub').slideUp(); $(this).parent().find('ul').slideDown();">Super Form Elements</a>
          <ul class="crs-accordionSub" accordion-sub style="display:none;">
            <li><a href="#" draggable="true" id="crs-singleText">Single Line Text</a></li>
            <li><a href="#" draggable="true" id="crs-paragraphText">Paragraph Text</a></li>
            <li><a href="#" draggable="true" id="crs-number">Number</a></li>
            <li><a href="#" draggable="true" id="crs-multipleChoice">Multiple Choice</a></li>
            <li><a href="#" draggable="true" id="crs-checkbox">Checkbox</a></li>
            <li><a href="#" draggable="true" id="crs-dropdown">Dropdown</a></li>
            <li><a href="#" draggable="true" id="crs-sectionBreak">Section Break</a></li>
            <li><a href="#" draggable="true" id="crs-pageBreak">Page Break</a></li>
          </ul></li>
      </ul>
    </div><!--end span3-->

    <div form-drop-area class="span9" id="crs-formEdit">
      <!-- <div class="span9" id="crs-formEdit">  -->

        <div class="span12">
          <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p class="lead">This form is empty! Drag form elements from the left to the area below.</p>
            <p class="lead">You can click and drag sections up or down to change their order.</p>
            <p class="lead">Don’t want to start from scratch? Start with the <a class="crs-anchor" href="#">Retreat Template</a>.</p>
          </div>
      <!-- <ul form-elements class="crsConnectedSortable" data-ng-repeat="page in conference.pages" data-page-id="{{page.id}}"><page></page></ul>-->
          <div class="span12" id="crsDropZone" style="min-height:0;display:none;"></div>
          <div class="crs-formElements" data-ng-repeat="page in conference.registrationPages" data-page-id="{{page.id}}">
            <page></page>
          </div>
        </div><!--end span12 child-->

    </div><!--end span9-->

</div><!--end row-fluid-->
