  <div class="crsQuestion" id="{{block.id}}" draggable="true" form-elements>

      <div class="span12">
        <div class="crs-question-default">
          <h4 class="crs-block-title">{{block.title}}<span class="crs-required" ng-show="block.required">(required)</span></h4>

          <ng-switch on="block.type">
            <p ng-switch-when="paragraphContent">{{block.content}}</p>
            <text-question block="block" ng-switch-when="textQuestion"></text-question>
            <radio-question block="block" ng-switch-when="radioQuestion"></radio-question>
            <checkbox-question block="block" ng-switch-when="checkboxQuestion"></checkbox-question>
            <phone-question block="block" ng-switch-when="phoneQuestion"></phone-question>
            <email-question block="block" ng-switch-when="emailQuestion"></email-question>
            <select-question block="block" ng-switch-when="selectQuestion"></select-question>
            <name-question block="block" ng-switch-when="nameQuestion"></name-question>
          </ng-switch>

        </div>
      </div>
    </div>
  </div>