  <div class="crsQuestion" id="{{block.id}}" draggable="true" form-elements>

      <div class="span12">
        <div class="crs-question-default">
          <h4 class="crs-block-title">{{block.title}}<span class="crs-required" ng-show="block.required">(required)</span></h4>

          <ng-switch on="block.type">
            <p class="crs-text" ng-switch-when="paragraphContent">{{block.content}}</p>
            <text-question block="block" ng-switch-when="textQuestion"></text-question>
            <radio-question block="block" ng-switch-when="radioQuestion"></radio-question>
          </ng-switch>

        </div>
      </div>

  </div>