<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="close()">&times;</button>
  </div>
  <div class="modal-body">
    <label for="conference-title" class="h4  modal-message">
		First things, first.<br>
		Let's give this get-together a name.
	</label>
    <input id="conference-title" type="text" class="input-block-level " placeholder="Example: Fall Retreat 2017" data-ng-model="name"/>
  </div>
  <div class="modal-footer">
    <button data-ng-click="submit()" class="btn btn-light">Name it & Claim it</button>
  </div>
</div>