<div id="crs-signin" ng-click="openBox()" ng-hide="profileData">
  <span>Signup or Log in</span><div class="crs-arrow-down"></div>
</div>
<div id="crs-signin-in" data-ng-show="profileData">
    <span>Hello, <a href="#">{{profileData.authProviderUsername}}</a></span>
</div>
<div id="crs-signin-box" ng-show="crsSigninBoxStatus"><div class="crs-arrow-up"></div>
    <p>Pick how you want to do it.<br>Sign up or Log in via</p>
    <a href="#"><img src="images/signin-facebook.png"></a>
    <p>or</p>
    <a href="#"><img src="images/signin-relay.png"></a>
</div>