<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="close()">&times;</button>
  </div>
  <div class="modal-body">
    <label class=" h4 modal-message">
      Let's change the total due for:<br />
      {{registration.firstName}} {{registration.lastName}}
    </label>

    <input type="text" data-ng-model="registration.totalDue" />

    </div>
    <div class="modal-footer">
        <button data-ng-click="submit(name)" class="btn btn-light">Save</button>
    </div>
</div>