<div class="row">
  <div class="col-sm-3">
    <section>
      <ul class="nav nav-pills nav-stacked">
        <li
          ng-class="{active: activeTab.id === tab.id}"
          ng-repeat="tab in tabs"
        >
          <a href ng-click="changeTab(tab)" ng-bind="tab.name"></a>
        </li>
      </ul>
    </section>
  </div>
  <div class="col-sm-9 divider-left-col-sm">
    <div
      class="alert"
      ng-class="notify.class"
      ng-bind-html="notify.message"
      ng-show="notify.class"
    ></div>
    <form class="form-horizontal" name="eventDetails">
      <section ng-include="activeTab.view"></section>
      <div class="well">
        <button
          type="submit"
          class="btn btn-success btn-lg"
          ng-click="saveEvent()"
          translate
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
