<div class="alert eventhub-growl" ng-class="notify.class" ng-bind-html="notify.message" ng-show="notify.message && !growlMessage"></div>
<div class="row">
  <!-- Elements -->
  <div form-elements class="col-xs-12" ng-show="conference.registrationPages.length > 0">
    <div class="questions-toolbar-container">
      <div class="well well-sm container questions-toolbar" data-spy="affix" data-offset-top="240">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
            <h4>Add Questions</h4>
          </div>
          <div class="col-sm-8 col-xs-12">
            <div class="btn-group pull-right" role="group">
              <button ng-click="addNewPage()" class="btn btn-success"><i class="fa fa-plus"></i> New Page</button>
              <button ng-click="previewForm()" class="btn btn-info save-btn"><i class="fa fa-eye"></i> Preview Form</button>
              <button ng-click="toggleQuestionsToolbar()" class="btn"><i class="fa" ng-class="{'fa-chevron-up': questionsToolbarVisible, 'fa-chevron-down': !questionsToolbarVisible}"></i></button>
            </div>
          </div>
        </div>
        <div class="row spacing-above-xs" ng-if="questionsToolbarVisible">
          <div class="col-xs-12">
            <span class="label label-primary" id="paragraphContent" default-title="Information">
              <i class="fabtn fa fa-plus-circle"></i>
              <span class="text">Information Box </span>
            </span>
            <span class="label label-primary" id="textQuestion" default-title="Question">
              <i class="fabtn fa fa-pencil-square-o"></i>
              <span class="text">Single Line Text</span>
            </span>
            <span class="label label-primary" id="textareaQuestion" default-title="Question">
              <i class="fabtn fa fa-text-height"></i>
              <span class="text">Multi Line Text</span>
            </span>
            <span class="label label-primary" id="radioQuestion" default-title="Multiple Choice Question">
              <i class="fabtn fa fa-list"></i>
              <span class="text">Multiple Choice (choose one)</span>
            </span>
            <span class="label label-primary" id="checkboxQuestion" default-title="Checkbox Question">
              <i class="fabtn fa fa-check-square-o"></i>
              <span class="text">Checkbox (choose one or more)</span>
            </span>
            <span class="label label-primary" id="selectQuestion" default-title="Dropdown Question">
              <i class="fabtn fa fa-chevron-down"></i>
              <span class="text">Dropdown </span>
            </span>
            <span class="label label-primary" id="numberQuestion" default-title="Number">
              <i class="fabtn fa fa-superscript"></i>
              <span class="text">Number </span>
            </span>
            <span class="label label-primary" id="dateQuestion" default-title="Date">
              <i class="fabtn fa fa-calendar"></i>
              <span class="text">Date </span>
            </span>
            <span class="label label-primary" id="nameQuestion" default-title="Name">
              <i class="fabtn fa fa-user"></i>
              <span class="text">Name </span>
            </span>
            <span class="label label-primary" id="emailQuestion" default-title="Email">
              <i class="fabtn fa fa-envelope-o"></i>
              <span class="text">Email </span>
            </span>
            <span class="label label-primary" id="phoneQuestion" default-title="Telephone" default-profile="PHONE">
              <i class="fabtn fa fa-phone-square"></i>
              <span class="text">Telephone </span>
            </span>
            <span class="label label-primary" id="addressQuestion" default-title="Address" default-profile="ADDRESS">
              <i class="fabtn fa fa-home"></i>
              <span class="text">Address </span>
            </span>
            <span class="label label-primary" id="genderQuestion" default-title="Gender" default-profile="GENDER">
              <i class="fabtn fa fa-male"></i>
              <span class="text">Gender </span>
            </span>
            <span class="label label-primary" id="yearInSchoolQuestion" default-title="Year in School" default-profile="YEAR_IN_SCHOOL">
              <i class="fabtn fa fa-graduation-cap"></i>
              <span class="text">Year in School </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-page">
      <div class="page-header">
        <h2>Pages <small>Drag questions from above and edit pages</small></h2>
      </div>
      <form class="form page-form" role="form">
        <div ng-class="{overflow: !isPageHidden(page.id)}" ng-repeat="page in conference.registrationPages" data-page-id="{{page.id}}">
          <hr ng-if="!$first">
          <page></page>
          <div class="col-xs-12 dragnew" ng-show="page.blocks.length <= 2 && $first && !isPageHidden(page.id)">
            <i class="fa fa-plus-circle"></i>
            <p>Drag new form elements here!</p>
          </div>
        </div>
      </form>
    </div>
  </div>
