<div class="row">
  <aside class="col-sm-3 col-sm-push-9 event-stats-section">
    <div class="well">
      <div class="stats-heading" translate>Event Stats</div>
      <div class="eventstat-icon">
        <i class="fa fa-users green"></i>
        {{conference.completedRegistrationCount}}
      </div>
      <a class="link" href="eventRegistrations/{{conference.id}}"
        ><span translate>Registrations</span> <i class="fa fa-chevron-right"></i
      ></a>
    </div>
  </aside>
  <div class="col-sm-9 col-sm-pull-3 event-info-section divider-right-col-sm">
    <div class="row">
      <div class="col-sm-6">
        <section>
          <a
            href="eventDetails/{{conference.id}}"
            class="btn btn-link pull-right"
            role="button"
            ><i class="fa fa-pencil"></i> Edit</a
          >
          <h2 class="page-title border" translate>Event Information</h2>
          <p><strong>{{conference.name}}</strong></p>
          <p
            ng-bind="conference.description"
            ng-show="conference.description"
            class="display-linebreaks"
          ></p>
          <p>
            {{conference.eventStartTime | evtDateFormat:
            conference.eventTimezone }} - {{conference.eventEndTime |
            evtDateFormat: conference.eventTimezone}}
          </p>
          <p ng-show="conference.locationName">
            {{conference.locationName}}
            <span ng-show="conference.locationAddress"
              ><br />{{conference.locationAddress}}<br />{{conference.locationCity}},
              {{conference.locationState}}</span
            >
          </p>
        </section>
      </div>
      <div class="col-sm-6">
        <section>
          <h2 class="page-title border" translate>Registration Window</h2>
          <p>
            {{conference.registrationStartTime | evtDateFormat:
            conference.eventTimezone}} - {{conference.registrationEndTime |
            evtDateFormat: conference.eventTimezone}}
          </p>
          <p
            class="bg-success"
            style="padding: 6px; font-weight: bold;"
            ng-show="conference.registrationOpen"
          >
            Registration is currently open.
          </p>
          <p
            class="bg-danger"
            style="padding: 6px; font-weight: bold;"
            ng-show="!conference.registrationOpen"
          >
            Registration is currently closed.
          </p>
        </section>
      </div>
    </div>
    <section>
      <h2 class="page-title border" translate>Links</h2>
      <div>
        <label translate>Registration Link</label><br />
        <div class="input-group">
          <input
            type="text"
            id="registrationUrl"
            class="form-control"
            ng-model="registrationUrl[0]"
            select-on-click
            readonly
          />
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-primary"
              select-on-click="registrationUrl"
              translate
            >
              Select
            </button>
            <a
              class="btn btn-default"
              title="Launch registration in new tab"
              ng-href="{{registrationUrl[0]}}"
              target="_blank"
              ><i class="fa fa-external-link"></i
            ></a>
          </span>
        </div>
      </div>
      <div
        ng-repeat="type in conference.registrantTypes | filter:{ groupSubRegistrantType: false }"
        ng-if="conference.registrantTypes.length > 1"
      >
        <br />
        <label>'{{type.name}}' <span translate>Registration Link</span></label
        ><br />
        <div class="input-group">
          <input
            type="text"
            id="registrationUrl-{{type.id}}"
            class="form-control"
            ng-model="registrationUrl[type.id]"
            select-on-click
            readonly
          />
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-primary"
              select-on-click="registrationUrl-{{type.id}}"
              translate
            >
              Select
            </button>
            <a
              class="btn btn-default"
              title="Launch registration in new tab"
              ng-href="{{registrationUrl[type.id]}}"
              target="_blank"
              ><i class="fa fa-external-link"></i
            ></a>
          </span>
        </div>
      </div>
    </section>
    <section>
      <div
        class="alert"
        ng-class="notify.class"
        ng-bind-html="notify.message"
        ng-show="notify.class"
      ></div>

      <h2 class="page-title border" translate>Image (optional)</h2>
      <div class="row">
        <div class="col-sm-5">
          <label translate for="fileInput">Select an image file: </label>

          <input
            read-file
            type="file"
            accept="image/*"
            id="fileInput"
            class="form-control-file"
            ng-model="selectedImage"
          />
          <p></p>
          <div class="cropArea">
            <ui-cropper
              image="selectedImage"
              area-type="rectangle"
              aspect-ratio="2"
              result-image="imageSrc"
              result-image-size="{w: 582,h: 291}"
              init-max-area="true"
              class="ng-isolate-scope fixed-height"
            ></ui-cropper>
          </div>
        </div>
        <div class="col-sm-7" ng-show="imageSrc!=''">
          <label translate>Image Details:</label>
          <p />
          <i
            class="question-popover fa fa-question-circle"
            uib-popover="{{'You can check preview registration form after saving image in order to see how image is displayed.' | translate}}"
            popover-trigger="mouseenter"
            popover-append-to-body="true"
          >
            <a
              ng-href="preview/{{globalPage.confId}}/page/"
              target="_blank"
              translate
              >Preview Registration Form</a
            >
          </i>
          <div class="imagePreview">
            <img ng-src="{{imageSrc}}" class="full" alt="" />
          </div>

          <div class="checkbox">
            <label translate
              ><input type="checkbox" ng-model="includeImageToAllPages" />
              Include the image on every page
            </label>
          </div>

          <div class="pull-right">
            <button
              class="btn btn-cancel btn-lg"
              ng-click="resetImage()"
              translate
            >
              Reset
            </button>
            <button
              class="btn btn-danger btn-lg"
              ng-click="deleteImage()"
              ng-disabled="conference.image === ''"
              translate
            >
              Delete Image
            </button>
            <button
              class="btn btn-success btn-lg"
              ng-click="saveImage()"
              ng-disabled="imageSrc === '' || (conference.image === imageSrc && conference.includeImageToAllPages === includeImageToAllPages)"
              translate
            >
              Save Image
            </button>
          </div>
        </div>
      </div>
      <div class="row"></div>
    </section>
  </div>
</div>
