<div class="row waypoint1">
  <!-- Elements -->
  <div class="col-xs-3 elements-list" ng-show="conference.registrationPages.length > 0">
    <h4>Form Elements</h4>
    <ul id="sortable1" class="crsFormElements">
      <li id="paragraphContent" default-title="Information" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Information Box </span>
        <i class="fabtn fa fa-plus-circle"></i>
      </li>
      <li id="textQuestion" default-title="Question" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Single Line Text Question </span>
        <i class="fabtn fa fa-pencil-square-o"></i>
      </li>
      <li id="radioQuestion" default-title="Multiple Choice Question" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Multiple Choice (choose one)</span>
        <i class="fabtn fa fa-list"></i>
      </li>
      <li id="checkboxQuestion" default-title="Checkbox Question" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Checkbox (choose one or more)</span>
        <i class="fabtn fa fa-check-square-o"></i>
      </li>
      <li id="selectQuestion" default-title="Dropdown Question" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Dropdown </span>
        <i class="fabtn fa fa-chevron-down"></i>
      </li>
      <li id="numberQuestion" default-title="Number" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Number </span>
        <i class="fabtn fa fa-superscript"></i>
      </li>
      <li id="dateQuestion" default-title="Date" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Date </span>
        <i class="fabtn fa fa-calendar"></i>
      </li>
      <li id="nameQuestion" default-title="Name" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Name </span>
        <i class="fabtn fa fa-user"></i>
      </li>
      <li id="emailQuestion" default-title="Email" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Email </span>
        <i class="fabtn fa fa-envelope-o"></i>
      </li>
      <li id="phoneQuestion" default-title="Telephone" default-profile="PHONE" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Telephone </span>
        <i class="fabtn fa fa-phone-square"></i>
      </li>
      <li id="addressQuestion" default-title="Address" default-profile="ADDRESS" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Address </span>
        <i class="fabtn fa fa-home"></i>
      </li>
      <li id="genderQuestion" default-title="Gender" default-profile="GENDER" type="button" class="btn btn-default btn-sm btn-block text-left">
        <span class="text">Gender </span>
        <i class="fabtn fa fa-male"></i>
      </li>
      <li id="yearInSchoolQuestion" default-title="Year in School" default-profile="YEAR_IN_SCHOOL" type="button" class="btn btn-default btn-sm btn-block text-left">
          <span class="text">Year in School </span>
          <i class="fabtn fa fa-graduation-cap"></i>
      </li>
    </ul>
  </div>

  <div class="functions-header well">
    <div class="alert" ng-class="notify.class" ng-bind-html="notify.message" ng-show="notify.class"></div>

    <a href="" ng-click="addNewPage()" class="btn btn-primary"><i class="fa fa-plus"></i> Add New Page</a>
    <a href="" ng-click="saveForm(true)" class="btn btn-success save-btn btn-right">Save &amp; Preview</a>
    <a href="" ng-click="saveForm(false)" class="btn btn-success save-btn btn-right">Save</a>
  </div>
  <div class="col-xs-9 form-page">
    <form class="form page-form" role="form">
      <div class="well well-sm" ng-class="{overflow: !isPageHidden(page.id)}" ng-repeat="page in conference.registrationPages" data-page-id="{{page.id}}" form-elements>
        <page></page>
        <div class="col-xs-12 dragnew" ng-show="page.blocks.length <= 2 && $first && !isPageHidden(page.id)">
          <i class="fa fa-plus-circle"></i>
          <p>Drag new form elements here!</p>
        </div>
      </div>
    </form>
  </div>
</div>