<div class="alert" ng-class="notify.class" ng-bind-html="notify.message" ng-show="notify.class"></div>
<h2 class="page-title border">Current Permissions</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-xs-6">Email</th>
        <th>Level</th>
        <th>Last Update</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="permission in currentPermissions">
        <td>{{permission.emailAddress}}</td>
        <td>
          <select ng-model="permission.permissionLevel" ng-change="updatePermission(permission.id)" class="form-control">
            <option ng-if="permission.permissionLevel === 'CREATOR'">CREATOR</option>
            <option>FULL</option>
            <option>UPDATE</option>
            <option>VIEW</option>
          </select>
        </td>
        <td>{{permission.timestamp | date:'short'}}</td>
        <td><a href="" ng-click="deletePermission(permission.id)" class="btn btn-danger">Delete</a></td>
      </tr>
      </tbody>
    </table>
<h2>Add User</h2>
<div class="col-sm-6 well">
  <div class="form-group">
    <label>User Email</label>
    <input type="text" class="form-control" placeholder="example@example.com" ng-model="addPermissionsEmail">
    <br>
    <label>Permission Level</label>
    <select ng-model="addPermissionsLevel" class="form-control">
      <option>FULL</option>
      <option>UPDATE</option>
      <option>VIEW</option>
    </select>
    <br>
    <div class="">
      <button type="submit" class="btn btn-success " ng-click="addPermission(addPermissionsEmail, addPermissionsLevel)">Save</button>
    </div>
  </div>
</div>

<div class="col-sm-5 col-sm-offset-1">
  <h3>Full/Creator</h3>
  <p>All update permissions, plus:</p>
  <ul>
    <li>Clone event</li>
    <li>Delete event</li>
    <li>Grant permissions to other users</li>
  </ul>

  <h3>Update</h3>
  <p>All view permissions, plus:</p>
  <ul>
    <li>Update registration data</li>
    <li>Update event details</li>
  </ul>

  <h3>View</h3>
  <ul>
    <li>View registration data</li>
    <li>Export registration data</li>
    <li>Register for event</li>
  </ul>
</div>
