<div class="alert growl-message" ng-class="notify.class" ng-bind-html="notify.message" ng-show="notify.message && !growlMessage"></div>
<div class="container full">
  <!-- Elements -->
  <div ng-controller="AngularUiTreeConfig">
    <div class="questions-toolbar-container" question-toolbar>
      <div class="row well well-sm well-full questions-toolbar">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
            <h2 class="page-title">Questions</h2>
          </div>
          <div class="col-sm-8 col-xs-12">
            <div class="btn-group pull-right" role="group">
              <button ng-click="addNewPage()" class="btn btn-success"><i class="fa fa-plus"></i> New Page</button>
              <button ng-click="previewForm()" class="btn btn-default save-btn"><i class="fa fa-eye"></i> Preview Form</button>
              <button ng-click="toggleQuestionsToolbar()" class="btn btn-default"><i class="fa" ng-class="{'fa-chevron-up': questionsToolbarVisible, 'fa-chevron-down': !questionsToolbarVisible}"></i></button>
            </div>
          </div>
        </div>
        <div ui-tree="toolbarTreeConfig" class="row spacing-above-xs" ng-if="questionsToolbarVisible">
          <div class="col-xs-12" ui-tree-nodes="" ng-model="questions">
            <span ui-tree-node ng-repeat="question in questions" class="label label-primary">
              <i class="fabtn fa" ng-class="question.iconClass"></i>
              <span class="text">{{question.name}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div ui-tree="pageTreeConfig" class="pages">
        <h2 class="page-title border">Pages <small>Drag questions from above and edit pages</small></h2>
        <form ui-tree-nodes role="form" ng-model="conference.registrationPages" drop-type="page" novalidate>
          <div ui-tree-node ng-class="{overflow: !isPageHidden(page.id)}" ng-repeat="page in conference.registrationPages" data-page-id="{{page.id}}">
            <hr ng-if="!$first">
            <page></page>
          </div>
        </form>
      </div>
      <div class="well" ng-if="conference.registrationPages.length == 0">There are currently no pages. Add a new page using the toolbar above.</div>
    </div>
  </div>
</div>
