<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <h2>Registrations</h2>
    </div>
    <div class="col-xs-5 colright">
      <button class="btn btn-success btn-sm" type="button" ng-click="registerUser()"><i class="fa fa-plus"></i> Add Registration</button>
      <a class="btn btn-primary btn-sm" href="" ng-click="exportRegistrations()"><i class="fa fa-cloud-download"></i> Export Registrations</a>
      <a class="btn btn-primary btn-sm" href="" ng-show="eventHasCost()" ng-click="exportPayments()"><i class="fa fa-cloud-download"></i> Export Payments</a>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <td>
        <div class="col-md-5">
          <div class="input-group-md">
            <input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
          </div>
        </div>
        <div class="col-md-2">
          <select ng-show="eventHasCost()" ng-selected="currentPaymentCategory" ng-model="currentPaymentCategory" ng-options="paymentCategory.name as paymentCategory.name for paymentCategory in paymentCategories" class="form-control"></select>
        </div>
        <div class="col-md-5 colright">
          <p class="columns">Columns </p>
          <div class="btn-group columns-btn">
            <button type="button" class="btn btn-primary btn-md dropdown-toggle col-dropdown" ng-click="columnsDropdownToggle=!columnsDropdownToggle">
              <i class="fa fa-bars" ng-show="!columnsDropdownToggle"></i>
              <i class="fa fa-times" ng-show="columnsDropdownToggle"></i>
            </button>
                <ul class="dropdown-menu dropdown-menu-right reg-views-dropdown" ng-show="columnsDropdownToggle">
                    <div class="listing">
                        <div class="input-group" ng-show="isPredefinedView(activeRegViewId)">
                            <select ng-model="activeRegViewId" ng-options="view.id as view.name for view in registrationViewsDropdown" ng-change="setRegView()" ng-selected="activeRegViewId" class="form-control"></select>
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="createRegView()">Save As</button>
              </span>
                        </div>

                        <div class="input-group" ng-show="!isPredefinedView(activeRegViewId)">
                            <select ng-model="activeRegViewId" ng-options="view.id as view.name for view in registrationViewsDropdown" ng-change="setRegView()" ng-selected="activeRegViewId" class="form-control"></select>
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="createRegView()">Save As</button>
                <button type="button" class="btn btn-danger" ng-click="delRegView()">Delete</button>
              </span>
                        </div>

                    </div>
                  <li ng-repeat="block in blocks">
                    <a href="" ng-click="toggleColumn($index)">
                      <i class="fa fa-check-square" ng-show="block.visible"></i>
                      <i class="fa fa-square-o" ng-show="!block.visible"></i>
                      {{block.title}}
                    </a>
                  </li>
                </ul>

          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<p class="pull-right">
    <label>
        <input type="checkbox" ng-model="showRegistrationsCompleted">
        Only show completed registrations
    </label>
</p>
<p>Showing {{regFilter.length}} registration(s)</p>

<div class="container" ng-show="registrations.length == 0">
  <p>No one has registered for this event yet.</p>
</div>

<table class="table" ng-show="regFilter.length > 0">
  <thead>
    <tr>
      <th ng-repeat="block in blocks | filter:{ visible: true }"><a href="" ng-click="setOrder(block.id)">{{block.title}}</a></th>
      <th ng-show="eventHasCost()" class="tablecenter" style="width: 60px;">Paid</th>
      <th class="tablecenter" style="width:100px;">Options</th>
      <th style="width:30px;"></th>
    </tr>
  </thead>
  <tbody ng-repeat="r in (regFilter = (registrants | filter:searchFilter | filter:paymentStatus | filter:completeStatus)) | orderBy:answerSort:reversesort">
    <tr ng-class="{'active': $even}" class="noselect">
      <td ng-repeat="block in blocks | filter:{ visible: true }" ng-click="expandRegistration(r.id)">
        <show-answer block="block" registrant="r"></show-answer>
      </td>
      <td ng-show="eventHasCost()" class="tablecenter">
        <i class="fa fa-check" ng-show="paidInFull(r.registrationId) && getRegistration(r.registrationId).completed"></i>
        <i class="fa fa-minus" ng-show="!paidInFull(r.registrationId) && getRegistration(r.registrationId).completed"></i>
        <span ng-show="!getRegistration(r.registrationId).completed">-</span>
      </td>
      <td class="tablecenter registration_edit_buttons">
        <button ng-click="editRegistrant(r)" title="Edit Registration">
          <i class="fa fa-edit"></i>
        </button>
        <button ng-click="viewPayments(r.registrationId)" title="View/Edit Payments" ng-show="getRegistration(r.registrationId).completed && eventHasCost()">
          <i class="fa fa-usd"></i>
        </button>
        <button ng-click="deleteRegistrant(r)" ng-show="allowDeleteRegistration()" title="Delete Registration">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
      <td class="tablecenter" ng-click="expandRegistration(r.id)">
        <i class="fa" ng-class="{'fa-minus-square-o': isExpanded(r.id), 'fa-plus-square-o': !isExpanded(r.id)}"></i>
      </td>
    </tr>
    <tr class="rowdetails" ng-class="{'on': isExpanded(r.id)}">
      <td colspan="100%">
        <div class="well">
          <div class="row" ng-repeat="block in blocks">
            <div class="leftside" ng-bind="block.title"></div>
            <div class="rightside"><show-answer block="block" registrant="r"></show-answer></div>
          </div>
          <div class="row" ng-show="getRegistration(r.registrationId).completed">
              <div class="leftside">Completed at</div>
              <div class="rightside">{{getRegistration(r.registrationId).completedTimestamp | evtDateFormat: conference.eventTimezone}}</div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p>Showing {{regFilter.length}} registration(s)</p>
