<div class="row">
<div class="col-xs-3">
  <section>
    <ul class="nav nav-pills nav-stacked">
      <li ng-class="{active: activeTab.id === tab.id}" ng-repeat="tab in tabs"><a href ng-click="changeTab(tab)" ng-bind="tab.name"></a></li>
    </ul>
  </section>
</div>
<div class="col-xs-9" style="border-left: 2px solid #cccccc;">
<div class="alert" ng-class="notify.class" ng-bind-html="notify.message" ng-show="notify.class"></div>
<form>
<section ng-include="activeTab.view"></section>
<div class="well">
  <button type="submit" class="btn btn-success btn-lg" ng-click="saveEvent();">Save</button>
</div>
</form>
</div>
</div>

<div id="creditcardModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Credit Card Options</h4>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="registrationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Early Bird Discount Options</h4>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->