<div class="row">
  <div class="col-xs-9">
    <div class="row">
      <div class="col-xs-6">
        <section>
          <a href="#/eventDetails/{{conference.id}}" class="btn pull-right" role="button"><i class="fa fa-pencil"></i> Edit</a>
          <h2>Event Information</h2>
          <p><strong>{{conference.name}}</strong></p>
          <p ng-bind="conference.description" ng-show="conference.description"></p>
          <p>{{conference.eventStartTime | date:'MMM d, y h:mm a'}} -
            {{conference.eventEndTime | date:'MMM d, y h:mm a'}}</p>
        </section>
      </div>
      <div class="col-xs-6">
        <section>
          <a href="#/eventDetails/{{conference.id}}" class="btn pull-right" role="button"><i class="fa fa-pencil"></i> Edit</a>
          <h2>Event Location</h2>
          <p>{{conference.locationName}}<br>{{conference.locationAddress}}<br>{{conference.locationCity}},
            {{conference.locationState}}</p>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <section>
          <a href="#/eventDetails/{{conference.id}}" class="btn pull-right" role="button"><i class="fa fa-pencil"></i> Edit</a>
          <h2>Registration Window</h2>
          <p>{{conference.registrationStartTime | date:'MMM d, y h:mm a'}} -
            {{conference.registrationEndTime | date:'MMM d, y h:mm a'}}</p>
          <p class="bg-success" style="padding: 6px; font-weight: bold;" ng-show="conference.registrationOpen">Registration is currently open.</p>
          <p class="bg-danger" style="padding: 6px; font-weight: bold;"  ng-show="!conference.registrationOpen">Registration is currently closed.</p>
        </section>
      </div>
      <div class="col-xs-6">
        <section>
          <a href="" class="btn pull-right" role="button" ng-click="refreshEventData()"><i class="fa fa-refresh"></i> Refresh</a>
          <h2>Registrations</h2>
          <p>Current registration count: {{conference.completedRegistrationCount}}</p>
          <p><a href="#/eventRegistrations/{{conference.id}}">View all registrations</a></p>
        </section>
      </div>
    </div>
    <section>
      <h2>Links</h2>
      <label>Registration Link</label><br>
      <input type="text" class="form-control marginless" ng-model="registrationUrl" readonly>
    </section>
  </div>

  <aside class="col-xs-3">
    <section>
      <h3>Event Details</h3>

      <p>
        To change your event's title, description, dates, cost or other information, go to the Event Details page.
      </p>
      <a class="link" href="#/eventDetails/{{conference.id}}">Event Details <i class="fa fa-chevron-right"></i></a>
    </section>
    <section>
      <h3>Questions</h3>
      <p>
        To update the questions on your events registration form, go to the Questions page.
      </p>
      <a class="link" href="#/eventForm/{{conference.id}}">Event Questions <i class="fa fa-chevron-right"></i></a>
    </section>
  </aside>
</div>