<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-8">
        <p ng-hide="!filteredEvents">Showing <strong>{{filteredEvents.length}} of {{conferences.length}}</strong> events</p>
        <p ng-show="!filteredEvents"><i class="fa fa-circle-o-notch fa-spin"></i> Loading events...</p>
      </div>
      <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="Filter Events" ng-model="filterName">
      </div>
    </div>
    <div ng-show="filteredEvents.length === 0" class="alert alert-info">
      <p>No events found in your account. <a href="" ng-click="createEvent()" class="alert-link">Create a new event</a> to get started!</p>
    </div>
    <ul id="sortable">
      <li class="form" ng-repeat="event in filteredEvents = (conferences | filter:{ name: filterName}) | orderBy: 'name'" ng-class="{'expired': archived}">
        <a href="#/eventForm/{{event.id}}"><h2>{{event.name}}</h2></a>
        <p><a href="#/eventRegistrations/{{event.id}}"><i class="fa fa-users green"></i> <strong>{{event.completedRegistrationCount}}</strong> Registered</a></p>
        <ul class="horizontal">
          <!--<li><a href="#/eventRegistrations/{{event.id}}">Registrations</a></li>-->
          <!--<li><a href="#/eventForm/{{event.id}}">Edit Form</a></li>-->
          <li><a href="" ng-click="cloneEvent(event.id)">Clone</a></li>
        </ul>
      </li>
    </ul>
<!--    <a class="btn btn-default small" href="#"><i class="fa fa-arrow-left"></i> Previous</a>
    <a class="btn btn-primary small" href="#">Next <i class="fa fa-arrow-right"></i></a>-->
  </div>
  <div class="col-xs-1 line">
  </div>
  <aside class="col-xs-3">
    <section>
      <h3>Questions?</h3>
      <p>
        Not sure what to do?  Go to this handy guide to find everything you need to get started.
      </p>
      <a class="link" href="#">FAQ'S <i class="fa fa-chevron-right"></i></a>
    </section>
    <section>
  </aside>
</div>