<div class="row">
  <div class="col-sm-12 col-md-9">
    <div class="row">
      <div class="col-xs-12">
        <p ng-hide="!filteredEvents">Showing <strong>{{filteredEvents.length}} of {{conferences.length}}</strong> events</p>
        <p ng-show="!filteredEvents"><i class="fa fa-circle-o-notch fa-spin"></i> Loading events...</p>
      </div>
    </div>
    <div class="row spacing-below-sm">
      <div class="col-sm-8">
        <button ng-click="createEvent()" class="btn btn-success btn-spacing-below" role="button"><i class="fa fa-plus"></i> Create New Event</button>
        <button ng-click="requestAccess()" class="btn btn-success btn-spacing-below" role="button"><i class="fa fa-key"></i> Request Access to Existing Event</button>
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Filter Events" ng-model="filterName" ng-init="filterName=''">
      </div>
    </div>
    <div ng-show="filteredEvents.length === 0" class="alert alert-info">
      <p>No events found. <a href="" ng-click="createEvent()" class="alert-link">Create a new event</a> or <a href="" ng-click="requestAccess()" class="alert-link">request access to an existing event</a> to get started!</p>
    </div>
    <ul id="event-list">
      <li class="form" ng-repeat="event in filteredEvents = (conferences | filter:{ name: filterName, archived: showArchivedEventsFilter}) | orderBy: 'name'" ng-class="{'expired': event.archived}"  ng-click="goToEventPage('eventOverview', event.id)">
        <h2>{{event.name}}</h2>
        <div class="row">
          <div class="col-sm-9">
            <ul class="horizontal" ng-if="!event.archived">
              <li><a href="" ng-click="goToEventPage('eventRegistrations', event.id); $event.stopPropagation();">Registrations</a></li>
              <li><a href="" ng-click="goToEventPage('eventDetails', event.id); $event.stopPropagation();">Details</a></li>
              <li><a href="" ng-click="goToEventPage('eventForm', event.id); $event.stopPropagation();">Questions</a></li>
              <li><a href="" ng-click="cloneEvent(event.id); $event.stopPropagation();">Clone</a></li>
            </ul>
            <ul class="horizontal" ng-if="event.archived">
              <li><a href="" ng-click="restoreEvent(event.id); $event.stopPropagation();">Restore Event</a></li>
              <li><a href="" ng-click="cloneEvent(event.id); $event.stopPropagation();">Clone</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-sm btn-reg-count pull-right" ng-click="goToEventPage('eventRegistrations', event.id); $event.stopPropagation();">
              <i class="fa fa-users green"></i>
              <strong>{{event.completedRegistrationCount}}</strong> Registered
            </button>
          </div>
        </div>
      </li>
    </ul>
<!--    <a class="btn btn-default small" href="#"><i class="fa fa-arrow-left"></i> Previous</a>
    <a class="btn btn-primary small" href="#">Next <i class="fa fa-arrow-right"></i></a>-->
    <label>
      <input type="checkbox" ng-model="showArchivedEvents"> Show archived events
    </label>
  </div>
  <aside class="col-md-3 welcome hidden-xs hidden-sm divider-left-col-md">
    <section>
      <h3>Welcome</h3>
      <p>Welcome to the Event Registration Tool (Beta).</p>
    </section>
  </aside>
</div>
