<h2 translate>Help</h2>
<h3 translate>ERT 101</h3>
<p>
  <translate
    >Whether you are creating an event for the first time or you are an
    experienced user</translate
  >,
  <a
    href="https://docs.google.com/document/d/1GKTg1xZuHMiFQNOGqaEl-1EpZejSA1RmC1jyBakoch8/edit?usp=sharing"
    target="_blank"
    >Event Registration Tool 101</a
  >
  <translate
    >provides a way to learn where to start or to catch-up on the newest
    features!</translate
  >
</p>
<h3 translate>Questions/Suggestions</h3>

<p>
  <translate
    >For questions/suggestions regarding the Event Registration Tool, please
    email</translate
  >
  <a href="mailto:support@eventregistrationtool.com"
    >support@eventregistrationtool.com</a
  >.
</p>
