<div class="landing-jumbo" ng-style="{'background-image': 'url(' + jumboImg.url + ')', 'background-position': jumboImg.position}">
  <div class="row container">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-12">
          <h1>Search for an event</h1>

          <form ng-submit="eventSearch(searchVal)">
            <div class="row">
              <div class="col-xs-9 col-sm-5 inline-form">
                <input type="text" placeholder="Event name" ng-model="searchVal" class="form-control" ng-change="eventSearch(searchVal)">
              </div>
              <div class="hidden-xs col-sm-3 inline-form">
                <select class="form-control" ng-model="eventFilters.locationName">
                  <option value="">-Any Location-</option>
                  <option ng-repeat="e in searchResults | unique: 'locationName' | orderBy: 'locationName'" value="{{e.locationName}}" ng-if="e.locationName">{{e.locationName}} ({{e._count}})
                  </option>
                </select>
              </div>
              <div class="hidden-xs col-sm-3 inline-form">
                <select class="form-control" ng-model="eventFilters.date">
                  <option value="">-Any Date-</option>
                  <option ng-repeat="d in ['This Week', 'This Month', 'Next Month', 'Greater Than Next Month']" ng-value="d">{{d}}
                  </option>
                </select>
              </div>
              <span class="col-sm-1 inline-form">
                <button class="btn btn-primary" type="submit">Search</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container spacing-above-md" ng-if="!searchComplete">
  <h3>Register for an event</h3>
  <p>To register for an event, search the event name above.</p>

  <h3>Create or manage an event</h3>
  <p>To create a new event or view registrations, manage scholarships or change questions on an existing event, continue to your <a href="#/eventDashboard">Event Dashboard</a>.</p>
</div>
<div class="container spacing-above-md" ng-if="searchComplete">
    <p ng-show="!searchResults.length">No events found matching "{{searchComplete}}".</p>
    <p ng-show="searchResults.length && !filteredEvents.length">No events found matching the selected filters.</p>
  <div class="row_masonry">
    <div class="col_masonry" ng-repeat="e in filteredEvents = (searchResults | filter:{ locationName: eventFilters.locationName } | filter: dateFilter) | orderBy: 'name'">
      <div class="bs-callout">
        <h3 class="list-group-item-heading">{{e.name}}</h3>
        <p class="spacing-above-md list-group-item-text"><i class="fa fa-calendar fa-fw"></i>
          {{e.eventStartTime | evtDateFormat: e.eventTimezone:'ddd, MMM D, YYYY h:mma'}} -
          {{e.eventEndTime | evtDateFormat: e.eventTimezone:'ddd, MMM D, YYYY h:mma'}}
          <span ng-if="e.locationName"><br><i class="fa fa-map-marker fa-fw"></i>
          {{e.locationName}}</span>
        </p>
        <p class="spacing-above-md" ng-if="e.description">{{e.description}}</p>
        <div class="text-center">
          <button ng-click="selectEvent(e, 'register')" class="btn btn-primary spacing-above-xs" ng-if="!userAdminForEvent(e.id)">Register</button>
          <button ng-click="selectEvent(e, 'eventOverview')" class="btn btn-success spacing-above-xs" ng-if="userAdminForEvent(e.id)">Manage</button>
        </div>
      </div>
    </div>
  </div>
</div>
