<div class="row">
  <div class="span12">
    <h3>Login</h3>
      <p>You must login to continue.</p>
      <p>Pick how you want to do it.</p>
      <p>Sign up or Log in via</p>
      <p><a href="#"><img src="images/signin-facebook.png"></a></p>
      <p>or</p>
      <p><a href="#"><img src="images/signin-relay.png"></a></p>
      <p>or</p>
      <input type="text" data-ng-model="email" placeholder="Enter your email address"/> <button class="btn btn-primary" data-ng-click="submit()">Submit</button>
  </div>
</div>