<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		  <h3>You must login to continue</h3>
		</div>
		<div class="modal-body">
		  <div align="center">
		    <p>Pick how you want to do it.<br><br>Log in with</p>
		    <p><a href="{{apiUrl}}auth/facebook/authorization"><img src="images/signin-facebook.png"></a></p>
		    <p>or</p>
		    <p><a href="{{apiUrl}}auth/relay/login"><img src="images/signin-relay.png"></a></p>
		    <p>or<br><br>Sign up<br>
		    <form name="emailForm" ng-submit="submit(email)">
		    <div class="input-append">
		      <input class="span3"
		             name="email"
		             data-ng-model="email"
		             placeholder="Enter your email"
		             type="email"
		             pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}"
		             required>
		      <button class="btn" type="submit" ng-disabled="!emailForm.email.$valid">Submit</button>
		      </div>
		     </form>
		  </div>
		</div>
	</div>
</div>
