<div class="row">
  <div class="span12">
    <h2>{{page.title}}</h2>
  </div>
</div>
<form data-ng-submit="validateAndGoToNext()" name="pageForm">
  <block ng-repeat="block in page.blocks" block="block" answer="findAnswer(block.id)"></block>
  <div class="row">
    <div class="span3 pull-right">
      <button class="btn btn-block btn-success btn-large"
              type="submit"
              data-ng-disabled="!pageForm.$valid"
              ng-show="nextPage">Next Page</button>
      <button class="btn btn-block btn-success btn-large"
              data-ng-click="goToReview()"
              data-ng-disabled="!registrationComplete"
              ng-hide="nextPage">Continue</button>
    </div>
  </div>
</form>