	<div class="row-fluid">
		<div class="span12">
			<div ng-show="!editPageMode">
				<div ng-show="wizard" style="float:right;"><a href="" data-ng-click="editPageMode = wizard && !editPageMode">Edit</a>
					<a href="" data-ng-click="deletePage(page.id, true)">Delete</a>
				</div>
				<h3 class="crs--page-title">{{page.title}}</h3>
			</div>
		</div>
	</div>
    <div ng-show="editPageMode">
      <div style="float:right;"><a href="" data-ng-click="editPageMode = wizard && !editPageMode">Save</a></div>
      <h3 class="crs--page-title"><input type="text" data-ng-model="page.title" ng-required="true"></h3>
    </div>
	<div class="row-fluid">
		<form class="crs-form" data-ng-submit="validateAndGoToNext()" name="pageForm">

      <ul class="connectedSortable" id="{{page.id}}">
			  <li ng-repeat="block in page.blocks" block="block" answer="findAnswer(block.id)" crs-block></li>
      </ul>
				<div class="page-narrow  center-block">
				
			<div class="span4" ng-hide="wizard">
			<button class="btn btn-block btn-success btn-large mtb6 "
			type="submit"
			data-ng-disabled="!pageForm.$valid"
			ng-show="nextPage">Next Page</button>
			<button class="btn btn-block btn-success btn-large"
			data-ng-click="goToReview()"
			data-ng-disabled="!registrationComplete"
			ng-hide="nextPage">Continue</button>
			</div>
			</div>
		</form>
	</div>


