<div class="row">
  <div class="span12">
    <h1>{{conference.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li data-ng-repeat="page in conference.pages">
        <a href="#/register/{{conference.id}}/page/{{page.id}}">{{page.title}}</a>
        <span class="divider" data-ng-hide="$last">/</span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>{{page.title}}</h2>
  </div>
</div>
<div class="row" data-ng-repeat="block in page.blocks">
  <div class="span12">
    <div class="well">
      <h3>{{block.title}}</h3>
      <ng-switch on="block.type">
        <p ng-switch-when="paragraphContent">{{block.content}}</p>
        <input ng-switch-when="textQuestion" type="text"/>
      </ng-switch>
    </div>
  </div>
</div>