<div class="row">
  <div class="col-xs-12 form-content">
    <article ng-show="payment.scholarship.scholarshipStatus === 'REQUESTED'">
      <h2>Scholarship Approval</h2>
      <p class="text-muted"><i class="fa fa-info-circle"></i> The registrant below has requested a scholarship.  Please use the form below to approve or deny this request.</p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label">Requester</label>
          <div class="col-sm-9">
            {{payment.scholarship.requesterName}}<br>
            <a ng-href="mailto:{{payment.scholarship.requesterEmail}}">{{payment.scholarship.requesterEmail}}</a>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Amount</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-usd"></i></span>
              <input type="text" ng-model="payment.amount" class="form-control marginless">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Account Type</label>
          <div class="col-sm-9">
            <select ng-model="payment.scholarship.accountType" class="form-control">
              <option value="STAFF">Staff</option>
              <option value="MINISTRY">Ministry</option>
            </select>
          </div>
        </div>

        <div class="form-group" ng-show="payment.scholarship.accountType === 'STAFF'">
          <label class="col-sm-3 control-label">Account Number</label>
          <div class="col-sm-9">
            <input ng-model="payment.scholarship.accountNumber" type="text" class="form-control">
          </div>
        </div>

        <div class="form-group" ng-show="payment.scholarship.accountType === 'MINISTRY'">
          <div class="col-sm-3 stacked-spacing-col-sm">
            <label>Business Unit</label>
            <input ng-model="payment.scholarship.businessUnit" type="text" class="form-control">
          </div>

          <div class="col-sm-3 stacked-spacing-col-sm">
            <label>Operating Unit</label>
            <input ng-model="payment.scholarship.operatingUnit" type="text" class="form-control">
          </div>

          <div class="col-sm-3 stacked-spacing-col-sm">
            <label>Department</label>
            <input ng-model="payment.scholarship.department" type="text" class="form-control">
          </div>

          <div class="col-sm-3">
            <label>Project Id</label>
            <input ng-model="payment.scholarship.projectId" type="text" class="form-control">
          </div>
        </div>
      </form>

      <div class="row" ng-show="!posting">
        <div class="col-sm-6 col-sm-push-6 stacked-spacing-col-sm">
          <button class="btn btn-success btn-lg btn-block"
                  ng-click="updatePayment('APPROVED')"
                  type="submit">Approve
          </button>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <button class="btn btn-danger btn-lg btn-block"
                  ng-click="updatePayment('DENIED')"
                  type="submit">Decline
          </button>
        </div>
      </div>
      <div class="row" ng-show="posting">
        <div class="col-md-12">
          <p><i class="fa fa-spinner fa-spin"></i> Saving...</p>
        </div>
      </div>
    </article>

    <article ng-show="payment.scholarship.scholarshipStatus === 'APPROVED'">
      <h2>Scholarship Approved</h2>
      <p>The scholarship has been approved.</p>
    </article>

    <article ng-show="payment.scholarship.scholarshipStatus === 'DENIED'">
      <h2>Scholarship Denied</h2>
      <p>The scholarship has been denied.</p>
    </article>

    <article ng-show="!payment">
      <p>There was an error retrieving the requested payment, please verify that the url is correct.</p>
    </article>
  </div>
</div>
