<div class="modal" id="fooModal">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="close()" aria-hidden="true">&times;</button>
    <h4>Payments</h4>
  </div>
    <div class="modal-body">
      <table>
        <tr>
          <th>Cost</th>
          <th>Paid</th>
          <th>Remaining Balance</th>
        </tr>
        <tr>
          <td>${{registration.totalDue}}</td>
          <td>${{registration.totalPaid}}</td>
          <td>${{registration.totalDue - registration.totalPaid}}</td>
        </tr>
      </table>
      <hr />
      <table>
        <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <!--<th>Transaction</th>-->
          <th>Type</th>
          <th>Refund</th>
        </tr>
        </thead>
        <tr data-ng-repeat="payment in registration.pastPayments">
          <td>{{payment.transactionDatetime | date:'MMM d, y h:mm a'}}</td>
          <td><span data-ng-show="payment.paymentType === 'CREDIT_CARD_REFUND'">-</span>${{payment.amount}}</td>
          <!--<td>{{payment.authnetTransactionId}}</td>-->
          <td>{{payment.paymentType}}</td>
          <td><span data-ng-show="canBeRefunded(payment)"><a href="" data-ng-click="refund(payment)">Refund</a></span></td>
        </tr>
        <tr data-ng-show="registration.totalDue - registration.totalPaid !== 0 && add !== true">
          <td colspan="3"><a href="" data-ng-click="addNewPayment = true">Add Payment</a></td>
        </tr>
      </table>
      <hr data-ng-show="addNewPayment===true"/>
      <div data-ng-show="addNewPayment===true">
        Payment Type:
        <select data-ng-model="newPayment.paymentType">
          <option value="CREDIT_CARD">Credit Card</option>
          <option value="TRANSFER">Scholarship</option>
        </select>
        <div data-ng-show="newPayment.paymentType === 'CREDIT_CARD'">
          Amount: <input data-ng-model="newPayment.amount" type="text" /> <br />
          Name on Card: <input data-ng-model="newPayment.creditCardNameOnCard" type="text" /> <br />
          Credit Card Number: <input data-ng-model="newPayment.creditCardNumber" type="text" /> <br />
          Credit Card CVV: <input data-ng-model="newPayment.creditCardCVVNumber" type="text" /> <br />
          Expiry Month: <input data-ng-model="newPayment.creditCardExpirationMonth" type="text" /> <br />
          Expiry Year: <input data-ng-model="newPayment.creditCardExpirationYear" type="text" /> <br />
          <button type="button" class="btn btn-success" data-ng-click="processPayment()">Process Payment</button>
        </div>
        <div data-ng-show="newPayment.paymentType === 'TRANSFER'">
          Scholarship Amount: <input type="text" /> <br />
          Account Number: <input type="text" />  <br />
          <button type="button" class="btn btn-success" data-ng-click="processPayment()">Process Payment</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" id="submit" class="btn btn-primary" data-ng-click="close()" value="Close" />
    </div>
</div>