<div class="row">
  <div class="col-xs-12">
    <article>
      <h2>Payment</h2>
      <label>Name on Card</label>
      <input type="text" ng-model="creditCardNameOnCard" class="form-control" ng-enter="createPayment()" />

      <label>Card Number</label>
      <input type="text" maxlength="16" ng-model="creditCardNumber" autocomplete="off" class="form-control" ng-enter="createPayment()" />

      <div class="row">
        <div class="col-xs-4">
          <label>Expiration Month</label>
          <select ng-model="creditCardExpirationMonth" class="form-control">
            <option value=''>Month</option>
            <option value='01'>01 - January</option>
            <option value='02'>02 - February</option>
            <option value='03'>03 - March</option>
            <option value='04'>04 - April</option>
            <option value='05'>05 - May</option>
            <option value='06'>06 - June</option>
            <option value='07'>07 - July</option>
            <option value='08'>08 - August</option>
            <option value='09'>09 - September</option>
            <option value='10'>10 - October</option>
            <option value='11'>11 - November</option>
            <option value='12'>12 - December</option>
          </select>
        </div>
        <div class="col-xs-3">
          <label>Expiration Year</label>
          <select ng-model="creditCardExpirationYear" class="form-control">
            <option value=''>Year</option>
            <option value='{{currentYear+$index}}' ng-repeat="t in [0,1,2,3,4,5]">{{currentYear+$index}}</option>
          </select>
        </div>
        <div class="col-xs-5">
          <label>Card CVV</label>
          <input class="form-control" type="text" maxlength="4" ng-model="creditCardCVVNumber" autocomplete="off" ng-enter="createPayment()" />
        </div>
      </div>

      <button class="btn btn-success btn-lg eighty"
              ng-click="createPayment()"
              type="submit">Continue
      </button>
      <a href="" ng-click="cancel()" class="btn btn-default btn-lg twenty">Cancel</a>
    </article>
  </div>
</div>