<div class="modal" id="fooModal">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="close()" aria-hidden="true">&times;</button>
    <h4>Payments</h4>
  </div>
    <div class="modal-body">
      <tabset>
        <tab heading="Summary">
          <table>
            <tr>
              <th>Cost</th>
              <th>Paid</th>
              <th>Remaining Balance</th>
            </tr>
            <tr>
              <td>${{registration.totalDue}}</td>
              <td>${{registration.totalPaid}}</td>
              <td>${{registration.totalDue - registration.totalPaid}}</td>
            </tr>
            <tr>
              <td colspan="3"><button class="btn" data-ng-click="updateCost.show = true" data-ng-hide="updateCost.show===true">Adjust Cost</button></td>
            </tr>
          </table>
          <div data-ng-show="updateCost.show===true" >
            <hr />
            <input placeholder="Updated cost" type="text" data-ng-model="updateCost.newTotal" /> <br />
            <button class="btn btn-success" data-ng-click="updateCost()">Save</button> <a href="" data-ng-click="updateCost.show=false">Cancel</a>
          </div>
        </tab>
        <tab heading="History">
          <table>
            <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <!--<th>Transaction</th>-->
              <th>Type</th>
              <th>Refund</th>
            </tr>
            </thead>
            <tr data-ng-repeat="payment in registration.pastPayments">
              <td>{{payment.transactionDatetime | date:'MMM d, y h:mm a'}}</td>
              <td><span data-ng-show="payment.paymentType === 'CREDIT_CARD_REFUND'">-</span>${{payment.amount}}</td>
              <!--<td>{{payment.authnetTransactionId}}</td>-->
              <td>{{payment.paymentType}}</td>
              <td><span data-ng-show="canBeRefunded(payment)"><a href="" data-ng-click="refund(payment)">Refund</a></span></td>
            </tr>
          </table>
        </tab>
        <tab heading="Add" data-ng-show="registration.balanceRemaining !== 0">
          Payment Type:
          <select data-ng-model="newPayment.paymentType">
            <option value="CREDIT_CARD">Credit Card</option>
            <option value="SCHOLARSHIP">Scholarship</option>
            <option value="TRANSFER">Transfer</option>
            <option value="CHECK">Check</option>
            <option value="CASH">Cash</option>
          </select>
          <br />
          Amount: <input data-ng-model="newPayment.amount" type="text" /> <br />
          <div data-ng-show="newPayment.paymentType === 'CREDIT_CARD'">
            Name on Card: <input data-ng-model="newPayment.creditCard.nameOnCard" type="text" /> <br />
            Credit Card Number: <input data-ng-model="newPayment.creditCard.number" maxlength="16" type="text" /> <br />
            Credit Card CVV: <input data-ng-model="newPayment.creditCard.cvvNumber" maxlength="4" type="text" /> <br />
            Credit Card Expiration Month:
              <select data-ng-model="newPayment.creditCard.expirationMonth">
                <option value=''>Month</option>
                <option value='01'>01 - January</option>
                <option value='02'>02 - February</option>
                <option value='03'>03 - March</option>
                <option value='04'>04 - April</option>
                <option value='05'>05 - May</option>
                <option value='06'>06 - June</option>
                <option value='07'>07 - July</option>
                <option value='08'>08 - August</option>
                <option value='09'>09 - September</option>
                <option value='10'>10 - October</option>
                <option value='11'>11 - November</option>
                <option value='12'>12 - December</option>
              </select>
            <br />
            Credit Card Expiration Year:
              <select data-ng-model="newPayment.creditCard.expirationYear">
                <option value=''>Year</option>
                <option value='{{currentYear+$index}}' ng-repeat="t in [0,1,2,3,4,5]">{{currentYear+$index}}</option>
              </select>
            <br />
          </div>

          <div data-ng-show="newPayment.paymentType === 'SCHOLARSHIP'">
            Description: <input type="text" data-ng-model="newPayment.scholarship.description"/>  <br />
          </div>
          <div data-ng-show="newPayment.paymentType === 'TRANSFER'">
            Source (account/chartfield): <input type="text" data-ng-model="newPayment.transfer.source" /> <br />
            Description: <input type="text" data-ng-model="newPayment.scholarship.description"/>  <br />
          </div>
          <div data-ng-show="newPayment.paymentType === 'CASH'">
          </div>
          <div data-ng-show="newPayment.paymentType === 'CHECK'">
            Check Number: <input type="text" data-ng-mode="newPayment.check.checkNumber" /> <br />
          </div>
          <button type="button" class="btn btn-success" data-ng-click="processPayment()">Process Payment</button>
        </tab>
      </tabset>
</div>
    <div class="modal-footer">
        <input type="submit" id="submit" class="btn btn-primary" data-ng-click="close()" value="Close" />
    </div>

</div>