<div class="row">
  <div class="col-xs-12 form-content">
    <article ng-show="payment.status === 'REQUESTED'">
      <h2 translate>Scholarship Approval</h2>
      <p class="text-muted">
        <i class="fa fa-info-circle"></i>
        <translate
          >The registrant below has requested a scholarship. Please use the form
          below to approve or deny this request.</translate
        >
      </p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label" translate>Requester</label>
          <div class="col-sm-9">
            {{payment.scholarship.requesterName}}<br />
            <a ng-href="mailto:{{payment.scholarship.requesterEmail}}"
              >{{payment.scholarship.requesterEmail}}</a
            >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" translate>Amount</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"
                ><span
                  >&nbsp;{{conference.currency.shortSymbol}}&nbsp;</span
                ></span
              >
              <input
                type="text"
                ng-model="payment.amount"
                class="form-control marginless"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" translate>Account Type</label>
          <div class="col-sm-9">
            <select
              ng-model="payment.scholarship.accountType"
              class="form-control"
            >
              <option value="STAFF" translate>Staff</option>
              <option value="MINISTRY" translate>Ministry</option>
            </select>
          </div>
        </div>

        <div
          class="form-group"
          ng-show="payment.scholarship.accountType === 'STAFF'"
        >
          <label class="col-sm-3 control-label" translate>Account Number</label>
          <div class="col-sm-9">
            <input
              ng-model="payment.scholarship.accountNumber"
              type="text"
              class="form-control"
            />
          </div>
        </div>

        <div
          class="form-group"
          ng-show="payment.scholarship.accountType === 'MINISTRY'"
        >
          <div class="col-sm-3 stacked-spacing-col-sm">
            <label translate>Business Unit</label>
            <input
              ng-model="payment.scholarship.businessUnit"
              type="text"
              class="form-control"
            />
          </div>

          <div class="col-sm-3 stacked-spacing-col-sm">
            <label translate>Operating Unit</label>
            <input
              ng-model="payment.scholarship.operatingUnit"
              type="text"
              class="form-control"
            />
          </div>

          <div class="col-sm-3 stacked-spacing-col-sm">
            <label translate>Department</label>
            <input
              ng-model="payment.scholarship.department"
              type="text"
              class="form-control"
            />
          </div>

          <div class="col-sm-3">
            <label translate>Project Id</label>
            <input
              ng-model="payment.scholarship.projectId"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </form>

      <div class="row" ng-show="!posting">
        <div class="col-sm-6 col-sm-push-6 stacked-spacing-col-sm">
          <button
            class="btn btn-success btn-lg btn-block"
            ng-click="updatePayment('APPROVED')"
            type="submit"
            translate
          >
            Approve
          </button>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <button
            class="btn btn-danger btn-lg btn-block"
            ng-click="updatePayment('DENIED')"
            type="submit"
            translate
          >
            Decline
          </button>
        </div>
      </div>
      <div class="row" ng-show="posting">
        <div class="col-md-12">
          <p>
            <i class="fa fa-spinner fa-spin"></i>
            <translate>Saving</translate>...
          </p>
        </div>
      </div>
    </article>

    <article ng-show="payment.status === 'APPROVED'">
      <h2 translate>Scholarship Approved</h2>
      <p translate>The scholarship has been approved.</p>
    </article>

    <article ng-show="payment.status === 'DENIED'">
      <h2 translate>Scholarship Denied</h2>
      <p translate>The scholarship has been denied.</p>
    </article>

    <article ng-show="!payment">
      <p translate>
        There was an error retrieving the requested payment, please verify that
        the url is correct.
      </p>
    </article>
  </div>
</div>
