<div class="row" ng-show="!conference.registrationOpen && registerMode !== 'preview'">
  <div class="col-xs-12">
    <article>
      <p>Sorry, registration for this event is not open.</p>
    </article>
  </div>
</div>

<div ng-show="conference.registrationOpen || registerMode === 'preview'">
  <div class="row" ng-show="currentRegistration.completed">
    <div class="col-xs-12">
      <article>
        <p>You have already successfully registered for '{{conference.name}}'.</p>

        <div ng-show="currentRegistration.remainingBalance > 0">
          <p><strong>Remaining Balance:</strong> ${{currentRegistration.remainingBalance}}<br>
            <a href="#/payment/{{conference.id}}" ng-show="conference.acceptCreditCards">Make Payment</a></p>
        </div>

        <div ng-show="currentRegistration.pastPayments.length > 0">
          <p><strong>Payments</strong></p>
          <ul>
            <li ng-repeat="payments in currentRegistration.pastPayments">
              ${{payments.amount}} on {{payments.transactionDatetime | date:'EEEE, MMM d, y'}}
            </li>
          </ul>
        </div>

        <span><strong>If you have questions, contact:</strong></span>
        <ul class="list-unstyled">
          <li ng-show="conference.contactPersonName">{{conference.contactPersonName}}</li>
          <li ng-show="conference.contactPersonPhone">{{conference.contactPersonPhone}}</li>
          <li ng-show="conference.contactPersonEmail"><a ng-href="mailto:{{conference.contactPersonEmail}}">{{conference.contactPersonEmail}}</a></li>
        </ul>
      </article>
    </div>
  </div>

  <div ng-show="!currentRegistration.completed">
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-pills">
          <li ng-repeat="page in conference.registrationPages" ng-class="{'active': $index === activePageIndex}">
            <a ng-href="#/{{registerMode}}/{{conference.id}}/page/{{page.id}}" ng-class="{disabled: $index > activePageIndex && !registrationComplete}">
              <span class="circle">{{$index+1}}</span>
              <span ng-bind="page.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <article ng-show="activePageId == ''">
          <h2>Welcome</h2>
          <p ng-bind="conference.description" class="eventhub-linebreak"></p>
          <div class="well creme2" ng-show="conference.eventStartTime">
            <h2 class="details-heading">Event Dates</h2>
            <p>{{conference.eventStartTime | date:'EEE, MMM d, y h:mm a'}} -
            {{conference.eventEndTime | date:'EEE, MMM d, y h:mm a'}} </p>
          </div>
          <div class="well creme2" ng-show="isConferenceCost()">
            <h2 class="details-heading">Event Cost</h2>
            <p>${{conference.conferenceCost}}</p>
          </div>
          <div class="well creme2" ng-show="conference.locationName">
            <h2 class="details-heading">Event Location</h2>
            <p>{{conference.locationName}}
              <span ng-show="conference.locationAddress"><br>{{conference.locationAddress}}<br>{{conference.locationCity}}, {{conference.locationState}}</span>
            </p>
          </div>
          <div class="well creme2" ng-show="conference.registrationStartTime">
            <h2 class="details-heading">Registration Window</h2>
            <p>{{conference.registrationStartTime | date:'EEE, MMM d, y h:mm a'}} -
              {{conference.registrationEndTime | date:'EEE, MMM d, y h:mm a'}} </p>
          </div>
          <div class="well creme2" ng-show="conference.contactPersonName || conference.contactPersonPhone || conference.contactPersonEmail">
            <h2 class="details-heading">Contact Info</h2>
            <ul class="list-unstyled">
              <li ng-show="conference.contactPersonName">{{conference.contactPersonName}}</li>
              <li ng-show="conference.contactPersonPhone">{{conference.contactPersonPhone}}</li>
              <li ng-show="conference.contactPersonEmail"><a ng-href="mailto:{{conference.contactPersonEmail}}">{{conference.contactPersonEmail}}</a></li>
            </ul>
          </div>
          <a ng-href="#/{{registerMode}}/{{conference.id}}/page/{{conference.registrationPages[0].id}}" class="btn btn-success btn-lg full">
            Register Now
          </a>
        </article>
        <page ng-repeat="page in conference.registrationPages" ng-show="page.id == activePageId"></page>
      </div>
    </div>
  </div>
</div>