<div class="row-fluid">
  <div class="span12">
    <h2>{{conference.name}}</h2>
  </div>
  <div class="row-fluid">
    <div class="span3" data-ng-show="registration.completed">
      <h4>You are registered!</h4>
      <p>Keep this information for your records.</p>
    </div>

    <div class="span3" data-ng-show="registration.completed === false">
      <h4>Please review your registration.</h4>
    </div>

    <div class="span11 well">
      <div align="right"><input type="button" class="btn btn-small" data-ng-click="editRegistration()" value="Edit my registration" data-ng-show="!registration.completed"></div>
      <ul class="unstyled crs--review">
        <li data-ng-repeat="block in blocks">
          <label>{{block.title}}</label>
          <show-answer answers="answers" block="block"></show-answer>
        </li>
      </ul>
    </div>

    <div class="span11 well" data-ng-show="registration.currentPayment.amount > 0">
      <div align="right"><input type="button" class="btn btn-small" data-ng-click="editPayment()" value="Edit my payment" data-ng-show="!registration.completed"></div>
      <ul class="unstyled crs--review">
        <li><label>Payment amount:</label>${{currentPayment.amount}}</li>
          <li><label>Card:</label>****-****-****-{{currentPayment.creditCardNumber.slice(-4)}}</li>
        <li><label>Expiration Date:</label>{{currentPayment.creditCardExpirationMonth}}/{{currentPayment.creditCardExpirationYear}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="row-fluid" data-ng-show="registration.completed === false">
  <div class="well">
    <input type="button" class="btn btn-success" data-ng-click="confirmRegistration()" value="Confirm">
  </div>
</div>
<div class="row-fluid" data-ng-show="registration.completed">
  <div class="well">
    <input type="button" class="btn btn-small" onClick="window.print();" value="Print this page">
  </div>
</div>