<div class="row" ng-show="currentRegistration.completed">
  <div class="col-xs-12">
    <article>
        <h1>You are registered!</h1>
        <p>Keep this information for your records.</p>
    </article>
  </div>
</div>

<!-- haven't checked this section yet -->
<div class="row" ng-show="!currentRegistration.completed">
  <div class="col-xs-12">
    <article class="reg-not-complete">
      <h3>Your registration is not complete...</h3>
      <br />
      <p ng-if="currentRegistration.calculatedTotalDue === 0">Almost done. Please review your registration details below and click "Confirm" if correct.</p>
      <p ng-if="anyPaymentMethodAccepted() && currentRegistration.calculatedTotalDue > 0">Almost done. Please review your registration details and enter your payment information below.  Then click "Confirm" you're ready.  That's it!</p>
    </article>
  </div>
</div>

<br />

<div class="row" ng-repeat="r in currentRegistration.registrants | orderBy: 'createdTimestamp'">
  <div class="col-xs-12" ng-class="{'invalidBorder': regValidate[r.id].length}">
    <article>
    <h2>Registration Review</h2>
    <div class="pull-right" align="right" ng-show="currentRegistration.completed && conference.allowEditRegistrationAfterComplete">
      <button class="btn btn-small btn-default" ng-click="editRegistrant(r.id)">Edit</button>
    </div>

    <div class="pull-right" align="right" ng-show="!currentRegistration.completed">
      <input type="button" class="btn btn-small btn-default" ng-click="editRegistrant(r.id)" value="Edit">
      <input type="button" class="btn btn-small btn-danger" ng-click="removeRegistrant(r.id)" ng-show="conference.allowGroupRegistrations" value="Remove">

      <p class="registrantPrice">
        <strong ng-show="conference.registrantTypes.length > 1">{{getRegistrantType(r.registrantTypeId).name}}</strong>
        <span ng-show="r.calculatedTotalDue"><br>{{r.calculatedTotalDue | moneyFormat}}</span>
      </p>
    </div>

    <dl ng-repeat="block in blocks" ng-class="{'invalidBlock': isBlockInvalid(r.id, block.id)}" ng-show="blockInRegType(block, r.registrantTypeId)">
      <dt>{{block.title}}</dt>
      <dd><show-answer block="block" registrant="r" show-amount="true"></show-answer></dd>
    </dl>
        </article>
  </div>
</div>

<div class="row" ng-show="!currentRegistration.completed && conference.allowGroupRegistrations">
  <div class="well">
    <p>Register another participant</p>
    <registration-type-select></registration-type-select>
  </div>
</div>

<div class="row" ng-show="anyPaymentMethodAccepted() && currentRegistration.remainingBalance > 0 && registerMode !== 'preview'">
  <div class="col-xs-12">
    <article>
    <h2>Payment Information</h2>
    <div>
      <dl class="dl-horizontal">
        <dt>Amount</dt>
        <dd ng-if="currentRegistration.calculatedMinimumDeposit !== currentRegistration.calculatedTotalDue">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
            <input type="text"
                   ng-model="currentPayment.amount"
                   ng-value="currentRegistration.calculatedTotalDue"
                   class="form-control marginless"/>
          </div>
          <span class="text-muted" ng-if="currentRegistration.calculatedMinimumDeposit > 0"><i class="fa fa-info-circle"></i> The minimum deposit required to register for this event is {{currentRegistration.calculatedMinimumDeposit | moneyFormat}}</span>
        </dd>
        <dd ng-if="currentRegistration.calculatedMinimumDeposit === currentRegistration.calculatedTotalDue">
          <input type="radio"
                   ng-model="currentPayment.amount"
                   ng-value="currentRegistration.calculatedTotalDue" /> {{currentRegistration.calculatedTotalDue | moneyFormat}}
        </dd>
      </dl>

      <div ng-if="anyPaymentMethodAccepted() && currentRegistration.remainingBalance > 0" ert-payment>
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Registrant</th>
        <th width="90">Cost</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="r in currentRegistration.registrants">
        <td>{{registrantName(r)}}</td>
        <td>{{r.calculatedTotalDue | moneyFormat}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-lg-12">
        <table class="table pull-right" style="width:300px;">
          <tr>
            <th>Total Cost</th>
            <td width="90">{{currentRegistration.calculatedTotalDue | moneyFormat}}</td>
          </tr>
          <tr ng-show="!currentRegistration.completed">
            <th>Payment</th>
            <td>{{currentPayment.amount | moneyFormat}}</td>
          </tr>
          <tr ng-show="currentRegistration.completed">
            <th>Payment(s)</th>
            <td>{{currentRegistration.totalPaid | moneyFormat}}</td>
          </tr>
          <tr ng-show="!currentRegistration.completed">
            <th>Remaining Balance</th>
            <td>{{(currentRegistration.calculatedTotalDue - currentPayment.amount) | moneyFormat}}</td>
          </tr>
          <tr ng-show="currentRegistration.completed">
            <th>Remaining Balance</th>
            <td>{{(currentRegistration.remainingBalance) | moneyFormat}}</td>
          </tr>
        </table>
      </div>
    </div>
    </article>
  </div>
</div>

<div class="row" ng-show="!currentRegistration.completed">
  <div class="col-xs-12 text-center">
    <article>
    <p ng-show="!allRegistrantsValid()" style="color:red;">Please fill in all required fields in red before submitting.</p>
    <input type="button" class="btn-lg btn-success confirm-registration" ng-click="confirmRegistration()" value="Confirm" ng-disabled="registerMode === 'preview' || !allRegistrantsValid() || submittingRegistration">
    <span ng-show="registerMode === 'preview'">&laquo; Disabled in preview mode</span>
    </article>
  </div>
</div>

<div class="row" ng-show="currentRegistration.completed">
  <div class="col-xs-12">
    <article>
      <div class="text-center">
        <input type="button" class="btn btn-small" onClick="window.print();" value="Print this page">
      </div>
    </article>
  </div>
</div>