
<div class="row-fluid">
  <div class="span12">
    <h2>{{conference.name}}</h2>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h4>You are registered!</h4>
      <p>Keep this information for your records.</p>
    </div>

    <div class="span9 well">
      <ul class="unstyled crs--review">
        <li data-ng-repeat="block in blocks">
          <label>{{block.title}}</label>
          <show-answer answers="answers" block="block"></show-answer>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="well">
    <input type="button" class="btn btn-small" onClick="window.print();" value="Print this page">
  </div>
</div>