<div ng-repeat="p in participants | filter:{ driveWillingness: 'drive' }" ng-show="riders(p.id).length">
  <table class="table">
    <thead>
      <tr>
        <th colspan="6"><h2>{{registrantAnswer(p.personId, 'NAME').firstName}} {{registrantAnswer(p.personId, 'NAME').lastName}}</h2></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Contact Method</th>
        <th>Pickup Time</th>
      </tr>
    </thead>
    <tbody ng-repeat="r in riders(p.id)">
      <tr>
        <td>{{registrantAnswer(r.personId, 'NAME').firstName}} {{registrantAnswer(r.personId, 'NAME').lastName}}</td>
        <td>{{r.address1}} {{r.address2}}<br />{{r.city}}, {{r.state}} {{r.zip}}</td>
        <td>{{registrantAnswer(r.personId, 'EMAIL')}}</td>
        <td>{{registrantAnswer(r.personId, 'PHONE')}}</td>
        <td>{{r.contactMethod}}</td>
        <td>{{formatTime(r.departTime)}}</td>
      </tr>
      <tr ng-if="r.specialInfo">
        <td colspan="6" class="rideshare-special"><strong>Special Info:</strong> {{r.specialInfo}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
</div>
<p>Reported generated: {{currentDate | date:'medium'}}</p>