<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Rideshare Admin</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="">
          <a href="#/rideshare/{{conference.id}}/report" target="_blank">Printable Report</a>
        </li>
        <li class="">
          <a href="">Email Setup</a>
        </li>
        <li>
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Legend <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><img height="20px" src="/img/rideshare/AD.png" /> Available Driver</li>
            <li><img height="20px" src="/img/rideshare/AR.png" /> Available Rider</li>
            <li><img height="20px" src="/img/rideshare/selected.png" /> Selected Driver</li>
            <li><img height="20px" src="/img/rideshare/UD.png" /> Driver with Full Car</li>
            <li><img height="20px" src="/img/rideshare/UR.png" /> Assigned Rider</li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://wiki.uscm.org/display/CG/Conference+Registration+System+Ride+Share+Tool" target="_blank">Help</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{drivers().length}} Driver(s) - {{countAssignedRiders()}} Seat(s) Available</h3>
          </div>
          <div class="panel-body">
            <p ng-repeat="p in drivers() | orderBy: registrantName(p.personId)">
              <i class="fa fa-arrow-right" ng-show="selectedDriver === p.id"></i>
              <i class="fa fa-check" ng-show="p.numberPassengers === countAssignedRiders(p.id)" title="Driver's car is full"></i>
              <a href="" ng-click="selectDriver(p)">{{registrantName(p.personId)}}</a>
              ({{countAssignedRiders(p.id)}}/{{p.numberPassengers}})
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ridersUnassigned().length}} Unassigned Rider(s)</h3>
          </div>
          <div class="panel-body">
            <p ng-repeat="p in ridersUnassigned()">
              <a href="" ng-click="selectRider(p)">{{registrantName(p.personId)}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">0 Non-Participants</h3>
          </div>
          <div class="panel-body">
            <p ng-repeat="p in nonParticipants()">
              <a href="" ng-click="selectRider(p)">{{registrantName(p.personId)}}</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ridersAssigned().length}} Assigned Rider(s)</h3>
          </div>
          <div class="panel-body">
            <p ng-repeat="p in ridersAssigned()">
              <i class="fa fa-arrow-right" ng-show="selectedDriver === p.driverRideId"></i>
              <a href="" ng-click="selectRider(p)">{{registrantName(p.personId)}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <ui-gmap-google-map center="map.center" zoom="map.zoom">
      <ui-gmap-marker coords="p" idkey="p.id" icon="markerIcon(p)" ng-repeat="p in participants | filter:{ driveWillingness: '!na' }">
        <ui-gmap-window options="windowOptions" show="false">
          <div>
            <strong>{{registrantName(p.personId)}}</strong>
            <p>{{p.address1}} {{p.address2}}<br>
            {{p.city}}, {{p.state}} {{p.zip}}</p>
            <p><strong>Departure Time:</strong> {{formatTime(p.departTime)}}<br>
            <strong>Special Info:</strong> {{p.specialInfo}}</p>
            <div ng-show="$parent.p.driveWillingness === 'ride'">
              <p><a href="" ng-click="$parent.assignRider($parent.p)" ng-show="$parent.selectedDriver && !$parent.p.driverRideId">Add to car</a></p>
              <p><a href="" ng-click="$parent.unassignRider($parent.p)" ng-show="$parent.p.driverRideId">Remove from car</a></p>
            </div>

            <div ng-show="$parent.p.driveWillingness === 'drive'">
              <p><a href="" ng-click="$parent.selectDriver($parent.p)" ng-show="$parent.selectedDriver !== $parent.p.id">Select Driver</a></p>
            </div>
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>