<div ng-form="blockForm">
  <input type="text" data-ng-model="answer" ng-required="block.required">
</div>
<div class="row-fluid">
  <div class="span3">
    <pre>blockForm.$pristine = {{blockForm.$pristine}}</pre>
  </div>
  <div class="span3">
    <pre>blockForm.$dirty = {{blockForm.$dirty}}</pre>
  </div>
  <div class="span3">
    <pre>blockForm.$valid = {{blockForm.$valid}}</pre>
  </div>
  <div class="span3">
    <pre>blockForm.$invalid = {{blockForm.$invalid}}</pre>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <pre>blockForm.$error = {{blockForm.$error | json}}</pre>
  </div>
</div>